<div class="panel">
  <div class="panel-body loading-overlay-parent">
    <loading ng-if="$ctrl.loadingProductConfig">
      <translate>Loading gift details...</translate>
    </loading>
    <product-config-form code="$ctrl.code"
                         is-edit="$ctrl.isEdit"
                         item-config="$ctrl.itemConfig"
                         default-frequency="$ctrl.defaultFrequency"
                         uri="$ctrl.item.uri"
                         submitted="$ctrl.submitted"
                         on-state-change="$ctrl.onGiftConfigStateChange(state)"
                         disable-session-restart="true"
                         ng-if="!$ctrl.loadingProductConfig && !$ctrl.errorLoadingProductConfig"
                         use-v3="$ctrl.useV3"
                         >
    </product-config-form>
    <div ng-if="$ctrl.errorLoadingProductConfig" class="alert alert-danger" role="alert">
      <p translate='LOADING_ERROR' translate-values="{loadData: '$ctrl.loadData()'}" translate-compile></p>
    </div>
  </div>
</div>
<div ng-if="!$ctrl.loadingProductConfig && !$ctrl.errorLoadingProductConfig">
  <div class="panel">
    <div class="panel-body">
      <h3 class="panel-name" translate>{{'YOUR_INFORMATION'}}</h3>
      <contact-info
        submitted="$ctrl.submitted"
        on-submit="$ctrl.onContactInfoSubmit(success)"
        donor-details="$ctrl.donorDetails"
        radio-station-api-url="$ctrl.radioStationApiUrl"
        radio-station-radius="$ctrl.radioStationRadius"
        use-v3="$ctrl.useV3">
      </contact-info>
    </div>
  </div>
  <div class="panel">
    <div class="panel-body">
      <h3 class="panel-name" translate>{{'PAYMENT'}}</h3>
      <checkout-step-2 hide-buttons="true"
        submitted="$ctrl.submitted"
        on-state-change="$ctrl.onPaymentStateChange(state)"
        mailing-address="$ctrl.donorDetails.mailingAddress"
        default-payment-type="$ctrl.defaultPaymentType"
        hide-payment-type-options="$ctrl.hidePaymentTypeOptions"
        branded-checkout-item="$ctrl.showCoverFees === 'true' ? $ctrl.itemConfig : undefined">
      </checkout-step-2>
    </div>
  </div>
  <div class="panel">
    <div class="panel-body text-right">
      <button class="btn btn-primary"
              ng-click="$ctrl.submit()"
              ng-disabled="$ctrl.errorLoadingProductConfig"
              translate>{{'CONTINUE'}}</button>
    </div>
  </div>
</div>
