<div class="alert alert-danger" role="alert" ng-if="$ctrl.needinfoErrors || $ctrl.submissionError">
  <p ng-repeat="error in $ctrl.needinfoErrors" ng-switch="error">
    <span ng-switch-when="need.email" translate>{{'REVIEW_EMAIL_ERROR'}}</span>
    <span ng-switch-when="need.payment.method" translate>{{'REVIEW_PAYMENT_ERROR'}}</span>
    <span ng-switch-when="need.billing.address" translate>{{'REVIEW_BILLING_ADDRESS_ERROR'}}</span>
    <span ng-switch-default translate>
      <span ng-if="$ctrl.submissionErrorStatus > -1" translate>
        {{'REVIEW_MISSING_DATA_ERROR'}}
      </span>
     <span ng-if="$ctrl.submissionErrorStatus === -1" translate>
       {{'REVIEW_TIME_OUT_ERROR'}}
     </span>
    </span>
  </p>
  <p ng-if="$ctrl.submissionError" ng-switch="$ctrl.submissionError">
    <span ng-switch-when="Current payment type is unknown" translate>
      {{'REVIEW_SUBMITTING_PAYMENT_ERROR'}}
    </span>
    <span ng-switch-when="CardExpiredException" translate>
      {{'REVIEW_CARD_EXPIRED_ERROR'}}
    </span>
    <span ng-switch-when="CardErrorException" translate>
      {{'REVIEW_INVALID_CARD_ERROR'}}
    </span>
    <span ng-switch-when="CardDeclinedException" translate>
      {{'REVIEW_CARD_DECLINED_ERROR'}}
    </span>
    <span ng-switch-when="InsufficientFundException" translate>
      {{'REVIEW_INSUFFICIENT_FUNDS_ERROR'}}
    </span>
    <span ng-switch-when="AuthorizedAmountExceededException" translate>
      {{'REVIEW_EXCEEDS_BALANCE_ERROR'}}
    </span>
    <span ng-switch-when="InvalidCVV2Exception" translate>
      {{'REVIEW_INVALID_SEC_CODE_ERROR'}}
    </span>
    <span ng-switch-when="InvalidAddressException" translate>
      {{'REVIEW_ADDRESS_MISMATCH_ERROR'}}
    </span>
    <span ng-switch-default translate>
      {{'REVIEW_DEFAULT_ERROR'}}
    </span>
  </p>
</div>
<div class="panel">
  <div class="panel-body loading-overlay-parent">
    <loading ng-if="$ctrl.loadingProductConfig">
      <translate>Loading gift details...</translate>
    </loading>
    <product-config-form code="$ctrl.code"
                         is-edit="$ctrl.isEdit"
                         item-config="$ctrl.itemConfig"
                         default-frequency="$ctrl.defaultFrequency"
                         uri="$ctrl.item.uri"
                         submitted="$ctrl.submitted"
                         on-state-change="$ctrl.onGiftConfigStateChange(state)"
                         disable-session-restart="true"
                         ng-if="!$ctrl.loadingProductConfig && !$ctrl.errorLoadingProductConfig">
    </product-config-form>
    <div ng-if="$ctrl.errorLoadingProductConfig" class="alert alert-danger" role="alert">
      <p translate='LOADING_ERROR' translate-values="{loadData: '$ctrl.loadData()'}" translate-compile></p>
    </div>
  </div>
</div>
<div ng-if="!$ctrl.loadingProductConfig && !$ctrl.errorLoadingProductConfig">
  <div class="panel">
    <div class="panel-body">
      <h3 class="panel-name" translate>{{'YOUR_INFORMATION'}}</h3>
      <contact-info
        submitted="$ctrl.submitted"
        on-submit="$ctrl.onContactInfoSubmit(success)"
        donor-details="$ctrl.donorDetails"
        radio-station-api-url="$ctrl.radioStationApiUrl"
        radio-station-radius="$ctrl.radioStationRadius">
      </contact-info>
    </div>
  </div>
  <div class="panel">
    <div class="panel-body">
      <h3 class="panel-name" translate>{{'PAYMENT'}}</h3>
      <checkout-step-2 hide-buttons="true"
        submitted="$ctrl.submitted"
        on-state-change="$ctrl.onPaymentStateChange(state)"
        mailing-address="$ctrl.donorDetails.mailingAddress"
        default-payment-type="$ctrl.defaultPaymentType"
        hide-payment-type-options="$ctrl.hidePaymentTypeOptions"
        branded-checkout-item="$ctrl.showCoverFees === 'true' ? $ctrl.itemConfig : undefined">
      </checkout-step-2>
    </div>
  </div>
  <div class="panel">
    <div class="panel-body text-right">
      <div class="checkout-cta pull-right" ng-if="$ctrl.useV3 === 'true'">
       <recaptcha-wrapper
              action="'branded_submit'"
              on-success="$ctrl.submit"
              on-failure="$ctrl.handleRecaptchaFailure"
              component-instance="$ctrl"
              button-id="'submitOrderButton'"
              button-type="'submit'"
              button-classes="'btn btn-primary btn-lg btn-block'"
              button-disabled="$ctrl.errorLoadingProductConfig || !$ctrl.canSubmitOrder()"
              button-label="'SUBMIT_GIFT'"></recaptcha-wrapper>
        </div>

      <button ng-if="$ctrl.useV3 === 'false'" class="btn btn-primary"
              ng-click="$ctrl.submit()"
              ng-disabled="$ctrl.errorLoadingProductConfig"
              translate>{{'CONTINUE'}}</button>
  </div>
  </div>
</div>
<loading type="fixed" ng-if="$ctrl.loadingAndSubmitting">
  <translate>{{'SUBMITTING_GIFT'}}</translate>
</loading>
