<div class="checkbox checkbox-inline">
  <label ng-if="$ctrl.brandedCheckoutItem">
    <input type="checkbox"
           name="coverFees"
           ng-model="$ctrl.brandedCheckoutItem.coverFees"
           ng-value="true"
           ng-change="$ctrl.updatePrices()">
    <span class="cover-fees-text">
      I want my gift to go even further for ministry!
      To help cover credit/debit card processing fees, please adjust my gift amount to
      {{$ctrl.brandedCheckoutItem.amountWithFee | currency}}
      <span class="text-lowercase"
            ng-if="$ctrl.brandedCheckoutItem.frequency && $ctrl.brandedCheckoutItem.frequency.toLowerCase() !== 'single'">
        {{$ctrl.brandedCheckoutItem.frequency}}.
      </span>
    </span>
  </label>
  <label ng-if="$ctrl.cartData.items.length === 1">
    <input type="checkbox"
           name="coverFees"
           ng-model="$ctrl.cartData.coverFees"
           ng-value="true"
           ng-change="$ctrl.updatePrices()">
    <span class="cover-fees-text">
      I want my gift to go even further for ministry!
      To help cover credit/debit card processing fees, please adjust my gift amount to
      {{$ctrl.cartData.items[0].amountWithFee | currency}}
      <span class="text-lowercase"
            ng-if="$ctrl.cartData.items[0].frequency !== 'Single'">
        {{$ctrl.cartData.items[0].frequency}}.
      </span>
    </span>
  </label>
  <div ng-if="$ctrl.cartData.items.length > 1">
    <label>
      <input type="checkbox"
             name="coverFees"
             ng-model="$ctrl.cartData.coverFees"
             ng-value="true"
             ng-change="$ctrl.updatePrices()">
      <span class="cover-fees-text">
      I want my gifts to go even further for ministry!
      To help cover credit/debit card processing fees, please adjust my gift amounts to:
      </span>
    </label>
    <ul>
      <li ng-repeat="cartItem in $ctrl.cartData.items">
        {{cartItem.amountWithFee | currency}}
        <span class="text-lowercase" ng-if="cartItem.frequency !== 'Single'">
          {{cartItem.frequency}}
        </span>
        <span class="text-lowercase" ng-if="cartItem.frequency === 'Single'">
          {{cartItem.frequency}} gift
        </span>
        for
        <span>
          {{cartItem.displayName}}
        </span>
      </li>
    </ul>
  </div>
</div>
