<div class="checkbox checkbox-inline">
  <label ng-if="$ctrl.item">
    <input
      type="checkbox"
      name="coverFees"
      ng-model="$ctrl.coverFees"
      ng-value="true"
      ng-change="$ctrl.storeCoverFeeDecision()"
    />
    <span class="cover-fees-text">
      I want my gift to go even further for ministry! To help cover credit/debit
      card processing fees, please adjust my gift amount to
      {{$ctrl.item.priceWithFees}}
      <span
        class="text-lowercase"
        ng-if="$ctrl.item.frequency && $ctrl.item.frequency.toLowerCase() !== 'single'"
      >
        {{$ctrl.item.frequency}}.
      </span>
    </span>
  </label>
  <div ng-if="$ctrl.cartData.items.length > 1">
    <label>
      <input
        type="checkbox"
        name="coverFees"
        ng-model="$ctrl.coverFees"
        ng-value="true"
        ng-change="$ctrl.storeCoverFeeDecision()"
      />
      <span class="cover-fees-text">
        I want my gifts to go even further for ministry! To help cover
        credit/debit card processing fees, please adjust my gift amounts to:
      </span>
    </label>
    <ul>
      <li ng-repeat="cartItem in $ctrl.cartData.items">
        {{cartItem.priceWithFees}}
        <span class="text-lowercase" ng-if="cartItem.frequency !== 'Single'">
          {{cartItem.frequency}}
        </span>
        <span class="text-lowercase" ng-if="cartItem.frequency === 'Single'">
          {{cartItem.frequency}} gift
        </span>
        for
        <span> {{cartItem.displayName}} </span>
      </li>
    </ul>
  </div>
</div>
