<h4>
  <span translate>{{$ctrl.question['question-text']}}</span>
</h4>
<div class="alert alert-danger" role="alert" ng-if="$ctrl.hasError">
  <div translate>You must choose one.</div>
</div>
<form name="$ctrl.questionForm">
  <div class="form-group">
    <label class="radio"
           ng-repeat="answer in $ctrl.question.answers">
      <input name="answer"
             ng-model="$ctrl.answer"
             ng-value="answer.answer"
             type="radio"
             required>{{answer.answer}}
    </label>
  </div>
</form>
