<h4>
  <span translate>{{$ctrl.question['question-text']}}</span>
</h4>
<div class="alert alert-danger" role="alert" ng-if="$ctrl.hasError">
  <div translate>You must choose one.</div>
</div>
<form name="$ctrl.questionForm">
  <div class="form-group">
    <label class="radio"
           ng-repeat="answer in $ctrl.question.answers">
      <input name="answer"
             ng-model="$ctrl.answer"
             ng-value="answer.answer"
             type="radio"
             required>{{answer.answer}}
    </label>
  </div>

  <div class="footer-buttons">
    <button type="button" class="btn btn-md back" ng-click="$ctrl.onBack()" translate>Back</button>
    <button type="button"
            class="btn btn-md btn-block btn-primary"
            ng-if="$ctrl.question"
            ng-click="$ctrl.selectAnswer()"
            ng-switch="$ctrl.question.key">
      <span ng-switch-default translate>Next</span>
      <span ng-switch-when="ministry-gift" translate>Finish Activation</span>
    </button>
  </div>
</form>
