<div class="panel loading-overlay-parent">
  <div class="panel-body">
    <h3 class="panel-name" translate>Cart Summary</h3>
    <table class="table giftsum-table giftsum-table-cart">
      <thead>
        <tr>
          <th class="th-title-gift"></th>
          <th class="th-title-amount text-right" translate>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr class="giftsum-gift-row" ng-repeat="i in $ctrl.cartData.items">
          <td class="td-gift">
            <span class="giftsum-person giftsum-title">{{i.displayName}}</span>
          </td>
          <td class="td-frequency">
            <span class="giftsum-about giftsum-title">{{i.price | coverFeesFilter:i:'price'}}</span>
            <span class="giftsum-frequency giftsum-title">{{i.frequency}}</span>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2" class="text-right">
            <display-rate-totals rate-totals="$ctrl.cartData.frequencyTotals"></display-rate-totals>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="text-right">
            <a id="editCartButton" ng-href="{{$ctrl.buildCartUrl()}}" class="btn btn-subtle mt" translate>Edit Cart</a>
            <button id="submitGiftButton" ng-if="$ctrl.showSubmitBtn" class="btn btn-primary mt" ng-click="$ctrl.onSubmit()" ng-disabled="!$ctrl.enableSubmitBtn" translate>Submit Your Gift</button>
          </td>
        </tr>
      </tfoot>
    </table>
    <loading type="overlay" ng-if="ctrl.submittingOrder"></loading>
  </div>
</div>
