<div class="panel">
  <div class="panel-body">
    <h3 class="panel-name" translate>Cart Summary</h3>
    <table class="table giftsum-table giftsum-table-cart">
      <thead>
        <tr>
          <th class="th-title-gift"></th>
          <th class="th-title-amount text-right" translate>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr class="giftsum-gift-row" ng-repeat="i in $ctrl.cartData.items">
          <td class="td-gift">
            <span class="giftsum-person giftsum-title">{{i.displayName}}</span>
          </td>
          <td class="td-frequency">
            <span class="giftsum-about giftsum-title">{{i.price}}</span>
            <span class="giftsum-frequency giftsum-title">{{i.frequency}}</span>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2" class="text-right">
            <span class="giftsum-line" ng-repeat="t in $ctrl.cartData.frequencyTotals">
              Your {{t.frequency}} Gift Total:
              <strong>{{t.total}}</strong>
            </span>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <a href="cart.html" class="btn  btn-subtle  u-floatRight  mt" translate>Edit Cart</a>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
