<div class="screenContent" tabindex="-1" role="dialog">
  <div class="container container-edge-small container-edge-extrasmall">
    <div ng-if="$ctrl.retrievingError" class="alert alert-danger" role="alert">
      <span>{{$ctrl.retrievingError}}</span>
    </div>
    <div class="panel panel-margin-bottom">
      <div class="panel-body loading-overlay-parent">
        <div class="row">
          <div class="col-md-12">
            <h3 translate>Receipts</h3>

            <form class="form-inline mt">
              <div class="form-group">
                <label>
                  <span class="pr-" translate>View My Receipts:</span>
                  <select
                    class="form-control"
                    ng-model="$ctrl.currentYear"
                    ng-change="$ctrl.setYear($ctrl.currentYear)"
                    ng-options="year for year in $ctrl.getListYears()"
                  ></select>
                </label>
              </div>
            </form>
          </div>
        </div>

        <div class="row mt">
          <div
            ng-if="$ctrl.receipts && $ctrl.receipts.length"
            class="col-md-12"
          >
            <div class="table-responsive">
              <table class="table table-striped table-striped-dark borderless">
                <thead>
                  <tr>
                    <th scope="col">Receipt Date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Gift Details</th>
                    <th scope="col"></th>
                  </tr>
                </thead>

                <tbody>
                  <tr
                    ng-repeat="receipt in filtered = ($ctrl.receipts | filterByYear:$ctrl.showYear) | limitTo: $ctrl.maxShow"
                  >
                    <td>
                      {{receipt['transaction-date']['display-value'] |
                      date:'mediumDate'}}
                    </td>
                    <td>{{receipt['total-amount'] | currency}}</td>
                    <td>{{receipt['designation-names'].join(', ')}}</td>
                    <td>
                      <p class="mb0">#{{receipt['transaction-number']}}</p>
                      <a
                        class="u-textWeight-semiBold"
                        href="{{receipt['pdf-link']['href']}}"
                        target="_blank"
                        >View PDF</a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div
          ng-if="!ctrl.loading && $ctrl.receipts && $ctrl.receipts.length == 0"
          class="text-warning"
          translate
        >
          You don't have any receipts for {{$ctrl.currentYear}}.
        </div>
        <div class="row mt">
          <div class="col-xs-12">
            <button
              ng-if="$ctrl.maxShow < $ctrl.receipts.length"
              ng-click="$ctrl.maxShow = $ctrl.maxShow + $ctrl.step"
              class="btn btn-default center-block ps_x"
            >
              Load More
            </button>
          </div>
        </div>

        <loading type="overlay" ng-if="$ctrl.loading"></loading>
      </div>
    </div>
  </div>
</div>
