<div class="modal-header">
  <button
    type="button"
    class="close"
    aria-label="Close"
    ng-click="$ctrl.dismiss()"
  >
    <span aria-hidden="true">x</span>
  </button>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="border-bottom-small">
          <h3 translate>Set up your new recurring gifts</h3>
          <p translate>We'll add them to your donation</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div
          ng-repeat="gift in $ctrl.additions"
          class="row repeating-row user-profile"
        >
          <gift-list-item gift="gift">
            <gift-update-view gift="gift"></gift-update-view>
          </gift-list-item>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="col-xs-6">
    <button
      class="btn btn-default"
      type="button"
      ng-click="$ctrl.previous()"
      translate
    >
      Back
    </button>
  </div>
  <div class="col-xs-6 text-right">
    <button
      class="btn btn-primary"
      type="button"
      ng-click="$ctrl.next({ additions: $ctrl.additions })"
      translate
    >
      Continue
    </button>
  </div>
</div>
