<div class="row">
  <div class="col-sm-12">
    <div class="form-group is-required" ng-class="{'has-error': ($ctrl.parentForm.addressCountry | showErrors) || $ctrl.loadingCountriesError}">
      <label>
        <span translate>{{'COUNTRY'}}</span>
        <select class="form-control form-control-subtle"
                name="addressCountry" required
                ng-model="$ctrl.address.country"
                ng-options="v.name as v['display-name'] for v in $ctrl.countries | orderBy:'\'display-name\''"
                ng-change="$ctrl.refreshRegions($ctrl.address.country)"
                ng-disabled="$ctrl.addressDisabled">
        </select>
      </label>
      <div role="alert" ng-if="$ctrl.loadingCountriesError">
        <div class="help-block">
          <translate>{{'COUNTRY_LIST_ERROR'}}</translate>
          <button id="retryButton1" type="button" class="btn btn-default btn-sm" ng-click="$ctrl.loadCountries()" translate>{{'RETRY'}}</button>
        </div>
      </div>
      <div role="alert" ng-messages="$ctrl.parentForm.addressCountry.$error" ng-if="($ctrl.parentForm.addressCountry | showErrors)">
        <div class="help-block" ng-message="required" translate>{{'COUNTRY_SELECT_ERROR'}}</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="form-group is-required" ng-class="{'has-error': ($ctrl.parentForm.addressStreetAddress | showErrors)}">
      <label>
        <span translate>{{'ADDRESS'}}</span>
        <input type="text"
              class="form-control  form-control-subtle"
              name="addressStreetAddress"
              ng-model="$ctrl.address.streetAddress"
              required
              ng-maxlength="200"
              ng-disabled="$ctrl.addressDisabled">
      </label>
      <div role="alert" ng-messages="$ctrl.parentForm.addressStreetAddress.$error" ng-if="($ctrl.parentForm.addressStreetAddress | showErrors)">
        <div class="help-block" ng-message="required" translate>{{'ADDRESS_ERROR'}}</div>
        <div class="help-block" ng-message="maxlength" translate>{{'MAX_LENGTH_ADDRESS_ERROR'}}</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="form-group" ng-class="{'has-error': ($ctrl.parentForm.addressExtendedAddress | showErrors)}">
      <input type="text"
             class="form-control  form-control-subtle"
             name="addressExtendedAddress"
             aria-label="Address line 2"
             ng-model="$ctrl.address.extendedAddress"
             ng-maxlength="100"
             ng-disabled="$ctrl.addressDisabled">
      <div role="alert" ng-messages="$ctrl.parentForm.addressExtendedAddress.$error" ng-if="($ctrl.parentForm.addressExtendedAddress | showErrors)">
        <div class="help-block" ng-message="maxlength" translate>{{'MAX_LENGTH_ADDRESS_OTHERS_ERROR'}}</div>
      </div>
    </div>
  </div>
</div>
<div ng-if="$ctrl.address.country !== 'US'">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group" ng-class="{'has-error': ($ctrl.parentForm.intAddressLine3 | showErrors)}">
        <input type="text"
               class="form-control  form-control-subtle"
               name="intAddressLine3"
               aria-label="Address line 3"
               ng-model="$ctrl.address.intAddressLine3"
               ng-maxlength="100"
               ng-disabled="$ctrl.addressDisabled">
        <div role="alert" ng-messages="$ctrl.parentForm.intAddressLine3.$error" ng-if="($ctrl.parentForm.intAddressLine3 | showErrors)">
          <div class="help-block" ng-message="maxlength" translate>{{'MAX_LENGTH_ADDRESS_OTHERS_ERROR'}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group" ng-class="{'has-error': ($ctrl.parentForm.intAddressLine4 | showErrors)}">
        <input type="text"
               class="form-control  form-control-subtle"
               name="intAddressLine4"
               aria-label="Address line 4"
               ng-model="$ctrl.address.intAddressLine4"
               ng-maxlength="100"
               ng-disabled="$ctrl.addressDisabled">
        <div role="alert" ng-messages="$ctrl.parentForm.intAddressLine4.$error" ng-if="($ctrl.parentForm.intAddressLine4 | showErrors)">
          <div class="help-block" ng-message="maxlength" translate>{{'MAX_LENGTH_ADDRESS_OTHERS_ERROR'}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-if="$ctrl.address.country === 'US'">
  <div class="row">
    <div ng-class="!$ctrl.compactAddress ? 'col-sm-12' : 'col-sm-12 col-md-6'">
      <div class="form-group is-required" ng-class="{'has-error': ($ctrl.parentForm.addressLocality | showErrors)}">
        <label>
          <span translate>{{'CITY'}}</span>
          <input type="text"
                  class="form-control  form-control-subtle"
                  name="addressLocality"
                  ng-model="$ctrl.address.locality"
                  required
                  ng-maxlength="50"
                  ng-disabled="$ctrl.addressDisabled">
        </label>
        <div role="alert" ng-messages="$ctrl.parentForm.addressLocality.$error" ng-if="($ctrl.parentForm.addressLocality | showErrors)">
          <div class="help-block" ng-message="required" translate>{{'CITY_ERROR'}}</div>
          <div class="help-block" ng-message="maxlength" translate>{{'MAX_LENGTH_CITY_ERROR'}}</div>
        </div>
      </div>
    </div>
    <!-- TODO: Turn this into component structure when we have time -->
    <div ng-class="!$ctrl.compactAddress ? 'col-sm-6' : 'col-sm-6 col-md-3'">
      <div class="form-group is-required" ng-class="{'has-error': ($ctrl.parentForm.addressRegion | showErrors) || $ctrl.loadingRegionsError}">
        <label>
          <span translate>{{'STATE'}}</span>
          <select class="form-control  form-control-subtle"
                  name="addressRegion" required
                  ng-model="$ctrl.address.region"
                  ng-options="v.name as v['display-name'] for v in $ctrl.regions | orderBy:'\'display-name\''"
                  ng-disabled="$ctrl.addressDisabled">
          </select>
        </label>
        <div role="alert" ng-if="$ctrl.loadingRegionsError">
          <div class="help-block">
            <translate>{{'REGIONS_LOADING_ERROR'}}</translate>
            <button id="retryButton2" type="button" class="btn btn-default btn-sm" ng-click="$ctrl.refreshRegions($ctrl.address.addressCountry, true)" translate>{{'RETRY'}}</button>
          </div>
        </div>
        <div role="alert" ng-messages="$ctrl.parentForm.addressRegion.$error" ng-if="($ctrl.parentForm.addressRegion | showErrors)">
          <div class="help-block" ng-message="required" translate>{{'SELECT_STATE_ERROR'}}</div>
        </div>
      </div>
    </div>
    <div ng-class="!$ctrl.compactAddress ? 'col-sm-6' : 'col-sm-6 col-md-3'">
      <div class="form-group is-required" ng-class="{'has-error': ($ctrl.parentForm.addressPostalCode | showErrors)}">
        <label>
          <span translate>{{'ZIP'}}</span>
          <input type="text"
                class="form-control  form-control-subtle"
                name="addressPostalCode"
                ng-model="$ctrl.address.postalCode"
                required
                ng-pattern="/^\d{5}(?:[-\s]\d{4})?$/"
                ng-change="$ctrl.onPostalCodeChanged()"
                ng-disabled="$ctrl.addressDisabled">
        </label>
        <div role="alert" ng-messages="$ctrl.parentForm.addressPostalCode.$error" ng-if="($ctrl.parentForm.addressPostalCode | showErrors)">
          <div class="help-block" ng-message="required" translate>{{'ZIP_CODE_ERROR'}}</div>
          <div class="help-block" ng-message="pattern" translate>{{'INVALID_US_ZIP_ERROR'}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
