.this-is-a-link {
	cursor: pointer;
}

.panel-header {
	padding: 15px ;
	h4{
		margin: 0;
	}
}

.light-font {
	color: #666062;
}

.bold {
	font-weight: bold;
	margin: 0 5px;
}

.icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 10px;
}

.extra-margin-top {
	margin-top: 25px;
}

.account-management {
	.panel {
		&.bg-danger {
			border-color: $colorHighlight-danger;
			background-color: #f2dede;
		}
	}
	.panel.panel-with-gray-background, .panel .panel-heading {
		background-color: #FAFAFA !important;
		font-size: 1em;
	}

	.panel-body {
		font-size: 1em;
	}

	.payment-summary-link {
		color: $colorGrayscale-black;
		font-weight: normal;
	}

	.payment-icon {
		padding-right: 10px;
	}

	.payment-nickname {
		font-weight: bold;
	}

	.payment-expiration {
		font-size: 0.8em;
		font-weight: 500;
		text-transform: uppercase;
		color: $colorCru-gray;
	}

	.payment-details-link {
		color: $colorCru-blueDeep;
		font-weight: bold;
		font-size: 0.8em;
	}

	.section-title {
		font-size: 0.8em;
		font-weight: normal !important;
		text-transform: uppercase;
		color: $colorCru-gray;
	}

	table {
		&.borderless td, &.borderless th {
			border: none;
		}

		tbody tr td:first-child {
			font-weight: 500;
			color: $colorCru-blueDeep;
		}

		tbody tr td:last-child {
			font-weight: 500;
			color: $colorCru-blueDeep;
		}
	}

	&.modal {
		.form-group {
			label {
				font-size: 0.8em;
				font-weight: normal !important;
				text-transform: uppercase;
				color: $colorCru-gray;

				&.agreement {
					text-transform: capitalize !important;

					input {
						font-size: 1.2em;
						color: $colorText;
					}

					span {
						padding-left: 10px;
						color: $colorCru-gray;
						text-transform: none;
						font-size: 0.9em;
					}
				}
			}
		}

		.agreement-text p {
			font-size: 0.9em;
		}

		.user-profile {
			h4.section-heading {
				font-weight: bold;
			}

			.section-title {
				color: $colorCru-gray;
			}

			.gift-summary {
				margin-bottom: 5px;
			}

			.start-date {
				color: $colorCru-gray;
				font-size: 0.9em;
			}
		}
	}

	.payment-icon {
		display: inline-block;
		height: 1.4em;
	}
}

.confirm-billing-info {
	margin-top: 14.5px;

	p {
		margin-bottom: 3.5px;
	}
}