.maintenance-window {
  p {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
  }

  @media screen and (max-width: 767px) {
    p {
      font-size: 1.2rem;
    }
  }

  @media screen and (orientation: landscape) and (max-width: 767px) {
    p {
      font-size: 1.2rem;
    }
  }
}
