.trash {
  text-align: center;
  clear: both;
}

.trash .fa-trash {
  margin: 10px auto;
  font-size: 25px;
}

.trash li {
  list-style: none;
}

.carousel-drag-and-drop {
  margin-top: 30px;
}

.carousel-drag-and-drop li {
  list-style: none;
}

.carousel-drag-and-drop h3 {
  text-align: center;
}
