$colorCru-gold:             #f9b625;
$colorCru-gray:             #666062;
$colorCru-mid-gray:         #444244;
$colorCru-white:            #fff;
$colorCru-blueBright:       #3eb1c8;

$colorGrayscale-background: #f7f7f7;
$colorGrayscale-sand:       #f4f4f4;
$colorGrayscale-pebble:     #f0f0f0;
$colorGrayscale-stone:      #e7e7e7;
$colorGrayscale-rock:       #b9b9b9;
$colorGrayscale-slate:      #909b9c;
$colorGrayscale-black:      #000;
$colorText:                 #3a3a3a;

$sm:                        992px;
$header-height:             84px;
$gutter:                    30px;

$query-unit:                16px;
$nav-break-min:             400px;
$fontWeight5:               500;

$data-font:                 "Helvetica Neue", Helvetica, sans-serif;
$border-radius:             4px;


/***** UPDATED COLORS *****/
$cru-bahama-blue:               #05699B;
  $cru-bahama-blue-light:       #BED7E6;
  $cru-bahama-blue-alt:         #3282AF;
  $cru-bahama-blue-dark:        #00557D;

$cru-scooter:                   #32C3D7;
  $cru-scooter-light:           #D7F0F5;
  $cru-scooter-alt:             #87D2E1;
  $cru-scooter-dark:            #2DAFC3;

$cru-buttercup:                 #F5BE19;
  $cru-buttercup-light:         #FAE6A5;
  $cru-buttercup-alt:           #FACD46;
  $cru-buttercup-dark:          #E6AF28;

$cru-scorpion:                  #5A5A5A;
  $cru-scorpion-light:          #E6E6E6;
  $cru-scorpion-alt:            #BEBEBE;
  $cru-scorpion-dark:           #323232;

$cru-tango:                     #EB8223;
  $cru-tango-light:             #F5BE87;
  $cru-tango-alt:               #F5A055;
  $cru-tango-dark:              #D77328;

$color-white:                   #FFFFFF;




#nav-cart-dropdown {
  background-color: $cru-scorpion-light;
  border: none;
  top: 0;
  right: 0;
  left: auto;
  padding: 0;
  width: 360px;
  margin: 0;
  color: $cru-scorpion;

  .repeating-row {
    padding: 28px 0px;
    border-top: 1px solid $colorCru-white;

    &:first-child {
      border-top: 0;
    }

    p {
      margin: 0 0 7.5px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &.sub-total {
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  .top-row {
    border-bottom: 1px solid $colorCru-white;
    padding: 12px 0;
    .col-xs-6 {
      padding-left: 18px;
      padding-right: 18px;
    }
    .btn-default {
      padding: 8px 20px;
      width: auto;
      line-height: 1;
      font-size: 14px;
    }
  }

  .close-cart {
    cursor: pointer;
    float: right;
    margin-top: 2px;
    font-size: 150%;
  }

  .desktop-cart-list {
    overflow-y: auto;
    max-height: 240px;
  }

  .title, .price {
    font-weight: 600;
  }

  .designation-number, .frequency {
    font-weight: 400 !important;
  }

  .btn-cart {
    width: 100%;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    &.btn-default {
      background-color: transparent;
      border-color: $cru-scorpion;
      &:hover {
        background-color: $cru-scorpion;
        color: $colorCru-white;
      }
    }
    &.btn-mobile {
      padding-top: 4px;
      padding-bottom: 4px;
    }
    &:not(.btn-default) {
      border-radius: 0;
    }
  }

  .col-xs-9 {
    padding-left: 28px;
    padding-right: 14px;
  }
  .col-xs-3 {
    padding-left: 14px;
    padding-right: 28px;
  }

  .btn-primary {
    background-color: $cru-buttercup;
    border-color: transparent;
    color: $colorCru-white;
    &:hover {
      background-color: $cru-buttercup-dark;
    }
  }
}
