
.redirect-user-after-login {
  position: fixed;
  width: 100%;
  background: #ffffff;
  z-index: 2000;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    text-align: center;
  }

  p {
    margin-bottom: 5px;
  }

  .btn {
    margin-top: 30px;
    width: 150px;
    display: inline-block;
  }
}
