.give-home-slider-wrap {
  .cycle-nav {
    position: absolute;
    bottom: 0;
    z-index: 120;
    width: 52%;
    text-align: center;

    @media screen and (max-width: 1200px) {
      width: 35%;
      bottom: 60px;
    }

    @media screen and (max-width: 991px) {
      width: 100%;
      position: static;
      padding-top: 20px;
      &:before,
      &:after {
        content: "";
        display: block;
        width: 100%;
      }
    }

    .prevControl,
    .nextControl {
      display: inline-block;
      background: no-repeat 50% 50%;
      background-size: 16px auto;
      width: 9%;
      height: 16px;
      text-indent: -1000px;
      overflow: hidden;
      margin: 0;
      vertical-align: top;
      cursor: pointer;
    }

    .prevControl {
      background-image: url(/assets/img/arrow-left-slide.png);
      background-position: middle left;
    }
    .nextControl {
      background-image: url(/assets/img/arrow-right-slide.png);
      background-position: middle-right;
    }
    .cycle-pager {
      display: inline-block;
      width: 60%;
      margin: 0;
      height: 16px;
      vertical-align: top;
      text-align: center;
      cursor: pointer;
      span {
        vertical-align: top;
        line-height: 16px;
        height: 16px;
        margin: 2px 3px;
        font-size: 16px;
        color: $colorCru-gold;
        background: $colorCru-gold;
        border-radius: 100px;
        width: 12px;
        height: 12px;
        display: inline-block;
        vertical-align: top;
      }
      .cycle-pager-active {
        color: #3EB1C8;
        background: #3EB1C8;
      }
    }
  }
}

.give-home-slider.cycle-slideshow {
  background: none;
  position: relative;

  .slide {
    position: relative;
    height: 400px;
    max-width: 750px;

    @media screen and (max-width: 991px) {
      height: auto;
      max-width: auto;
    }

    .slide-image {
      width: 85%;
      @media screen and (max-width: 991px) {
        width: auto;
      }
    }

    .slide-caption {
      background: #E7E7E7;
      position: absolute;
      left: auto;
      right: 0;
      bottom: 0;
      top: auto;
      width: 45%;
      height: auto;
      transition: .5s all;
      padding: $gutter*1.2;
      @media screen and (max-width: 1200px) {
        width: 60%;
        padding: $gutter * .8;
        h3 {
        }
        .btn {
          padding: 0 10px;
        }
      }
      @media screen and (max-width: 991px) {
        width: auto;
        position: static;
        padding: $gutter;
        opacity: 1;
      }
      h3 {
        font-size: 24px;
        line-height: 1.35em;
        opacity: 0;
        margin-left: 0px;
        transition: .35s all;
      }
      .btn {
        opacity: 0;
        margin-left: 0px;
        transition: .5s all;
      }
    }  

    &.cycle-slide-active {
      .slide-image {
      }
      .slide-caption {
        left: auto;
        right: 0;
        bottom: 0;
        top: auto;
        opacity: 1;
        h3 {
          margin-left: 0;
          opacity: 1;
        }
        .btn {
          margin-left: 0;
          opacity: 1;
        }
      }
    }

  }

}
