[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/**
 * CUT HERE
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@import '../cru-scss/cru';

/**
 * END CUT HERE
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

// Give Site Front End
@import 'node_modules/slick-carousel/slick/slick.scss';
@import 'slickstyle';
@import 'tabs';
@import 'give';
@import 'form';
@import 'cart';
@import 'checkout';
@import 'gift-config';
@import 'modal';
@import 'components/components';
@import 'account_management';
@import 'slider';
@import 'homepage';
@import 'search';
@import 'mobile';
@import 'nav-cart';
@import 'carousel';
@import 'sign-in';
