<div class="screenContent">
  <div class="redirect-user-after-login" ng-if="$ctrl.showRedirectingLoadingIcon">
    <div>
      <loading>
        <p><translate>Successfully logged in.</translate></p>
        <p><translate>Redirecting to your previous page...</translate></p>
      </loading>
      <button id="closeButtonTop" type="button" ng-click="$ctrl.closeRedirectingLoading()" class="btn btn-block btn-secondary" aria-label="{{'Close' | translate}}">
        Close <span aria-hidden="true">×</span>
      </button>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="panel sign-in-panel">
          <div class="panel-body">
            <div class="row vdivide">
              <div class="col-md-6 col-xs-12 sign-in-section">
                <h3 class="text-center" translate>Guest Checkout</h3>
                <p class="text-center section-description" translate>If desired, you may create an account at the end of the checkout process.</p>

                <button id="continueAsGuestButton" type="button" class="btn btn-block btn-primary" ng-click="$ctrl.checkoutAsGuest()" translate>Continue as Guest</button>
              </div>

              <div class="col-md-6 col-xs-12 sign-in-section">
                <h3 class="text-center" translate>Already have an account?</h3>
                <p class="text-center section-description" translate>Sign in now for faster checkout by using saved contact and payment information.</p>

                <sign-in-form on-sign-in-page="true"></sign-in-form>
              </div>
            </div>
          </div>
        </div><!-- // panel -->
      </div>
    </div>
  </div>
</div>
