<div class="screenContent">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="panel sign-in-panel">
          <div class="panel-body">
            <div class="row vdivide">
              <div class="col-md-6 sign-in-section">
                <h3 class="text-center" translate>Sign In</h3>
                <p class="text-center section-description" translate>Logging in saves you time during checkout.</p>

                <sign-in-form></sign-in-form>

                <div class="text-center self-service"><span translate>Forgot your password?</span>
                  <a href="" ng-click="$ctrl.resetPassword()" translate>Reset It</a></div>
              </div>


              <div class="col-md-6 sign-in-section">
                <h3 class="text-center" translate>Checkout as Guest</h3>
                <p class="text-center section-description" translate>You will have an opportunity to register after completing your transaction.</p>

                <button id="continueAsGuestButton" type="button" class="btn btn-block btn-primary" ng-click="$ctrl.checkoutAsGuest()" translate>Continue as Guest</button>
              </div>
            </div>
          </div>
        </div><!-- // panel -->
      </div>
    </div>
  </div>
</div>
