<div class="modal-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div ng-if="!$ctrl.paymentMethod" class="border-bottom-small">
          <h3>Add a Payment Method</h3>
          <p>You must have at least one valid payment method to continue. Please add one below.</p>
        </div>
        <div ng-if="$ctrl.paymentMethod" class="border-bottom-small">
          <h3>Edit your Payment Method</h3>
          <p>You must have at least one valid payment method to continue. Please update it below.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-body pt0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <payment-method-form mailing-address="$ctrl.mailingAddress"
                             on-submit="$ctrl.onSubmit(success,data)"
                             payment-method="$ctrl.paymentMethod"
                             submission-error="$ctrl.submissionError">
        </payment-method-form>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <button type="button" class="btn btn-primary pull-right" ng-click="$ctrl.submissionError.loading = true">
          <span ng-if="!$ctrl.paymentMethod" translate>Add Payment Method</span>
          <span ng-if="$ctrl.paymentMethod" translate>Update Payment Method</span>
        </button>
        <button type="button" class="btn btn-default" ng-click="$ctrl.previous()" translate>Back</button>
      </div>
    </div>
  </div>
</div>
