<form novalidate name="$ctrl.creditCardPaymentForm">

  <div class="mb">

    <h4 class="panel-title  border-bottom-small  visible" translate>Credit Card Payment</h4>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group is-required" ng-class="{'has-error': ($ctrl.creditCardPaymentForm.cardNumber | showErrors)}">
          <label translate>Card #</label>
          <input type="text" name="cardNumber" class="form-control  form-control-subtle" ng-model="$ctrl.creditCardPayment.cardNumber" required>
          <div ng-messages="$ctrl.creditCardPaymentForm.cardNumber.$error" role="alert" ng-if="($ctrl.creditCardPaymentForm.cardNumber | showErrors)">
            <div class="help-block" ng-message="required" translate>You must enter a card number</div>
            <div class="help-block" ng-message="minlength" translate>This card number must contain at least 13 digits</div>
            <div class="help-block" ng-message="maxlength" translate>This card number cannot contain more than 16 digits</div>
            <div class="help-block" ng-message="cardNumber" translate>{{$ctrl.paymentValidationService.getCardNumberErrorMessage($ctrl.creditCardPaymentForm.cardNumber.$viewValue)}}</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group is-required" ng-class="{'has-error': ($ctrl.creditCardPaymentForm.cardholderName | showErrors)}">
          <label translate>Name On Card</label>
          <input type="text" name="cardholderName" class="form-control  form-control-subtle" ng-model="$ctrl.creditCardPayment.cardholderName" required>
          <div role="alert" ng-messages="$ctrl.creditCardPaymentForm.cardholderName.$error" ng-if="($ctrl.creditCardPaymentForm.cardholderName | showErrors)">
            <div class="help-block" ng-message="required" translate>You must enter the name on the card</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group is-required" ng-class="{'has-error': ($ctrl.creditCardPaymentForm.expiryMonth | showErrors)}">
          <label translate>Exp. Month</label>
          <select class="form-control  form-control-subtle"
                  name="expiryMonth"
                  required
                  ng-model="$ctrl.creditCardPayment.expiryMonth">
            <option value="01" translate>01 - January</option>
            <option value="02" translate>02 - February</option>
            <option value="03" translate>03 - March</option>
            <option value="04" translate>04 - April</option>
            <option value="05" translate>05 - May</option>
            <option value="06" translate>06 - June</option>
            <option value="07" translate>07 - July</option>
            <option value="08" translate>08 - August</option>
            <option value="09" translate>09 - September</option>
            <option value="10" translate>10 - October</option>
            <option value="11" translate>11 - November</option>
            <option value="12" translate>12 - December</option>
          </select>
          <div role="alert" ng-messages="$ctrl.creditCardPaymentForm.expiryMonth.$error" ng-if="($ctrl.creditCardPaymentForm.expiryMonth | showErrors)">
            <div class="help-block" ng-message="required" translate>You must choose an expiration month</div>
            <div class="help-block" ng-message="expired" translate>Your credit card is expired or you selected the wrong month or year</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group is-required" ng-class="{'has-error': ($ctrl.creditCardPaymentForm.expiryYear | showErrors)}">
          <label translate>Exp. Year</label>
          <select class="form-control  form-control-subtle"
                  name="expiryYear"
                  required
                  ng-model="$ctrl.creditCardPayment.expiryYear"
                  ng-options="year for year in $ctrl.expirationDateYears">
          </select>
          <div role="alert" ng-messages="$ctrl.creditCardPaymentForm.expiryYear.$error" ng-if="($ctrl.creditCardPaymentForm.expiryYear | showErrors)">
            <div class="help-block" ng-message="required" translate>You must enter choose an expiration year</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group is-required" ng-class="{'has-error': ($ctrl.creditCardPaymentForm.securityCode | showErrors)}">
          <label translate>CVV Code</label>
          <input type="text" name="securityCode" class="form-control  form-control-subtle" ng-model="$ctrl.creditCardPayment.securityCode" required>
          <div role="alert" ng-messages="$ctrl.creditCardPaymentForm.securityCode.$error" ng-if="($ctrl.creditCardPaymentForm.securityCode | showErrors)">
            <div class="help-block" ng-message="required" translate>You must enter the security code</div>
            <div class="help-block" ng-message="minlength" translate>The security code must be at least 3 digits</div>
            <div class="help-block" ng-message="maxlength" translate>The security code cannot be more than 4 digits</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb">

    <div class="">
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="$ctrl.billingAddress.isMailingAddress"> Same as Mailing Address
      </label>
    </div>

    <div class="billing-address-new-wrap mt- on" id="address-billing-current" ng-if="$ctrl.billingAddress.isMailingAddress">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4 class="panel-title  border-bottom-small  visible">Billing Address</h4>
          <display-address address="$ctrl.donorDetails.mailingAddress"></display-address>
          <div class="loading-wrap" ng-if="!$ctrl.donorDetails"><!-- TODO: this seems to be misaligned -->
            <span class="loading loading1"></span>
            <span class="loading loading2"></span>
            <span class="loading loading3"></span>
            <span class="loading loading4"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="billing-address-wrap mt-" id="address-billing-new" ng-if="!$ctrl.billingAddress.isMailingAddress" style="display: block"><!-- TODO: fix CSS so display: block isn't needed -->
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="mb">
            <h4 class="panel-title  border-bottom-small  visible">New Billing Address</h4>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label translate>Country</label>
                  <div class="form-group is-required">
                    <select class="form-control  form-control-subtle"
                            name="country" required
                            ng-model="$ctrl.billingAddress.country"
                            ng-options="country.name as country['display-name'] for country in $ctrl.countries | orderBy:'\'display-name\''"
                            ng-change="$ctrl.refreshRegions($ctrl.billingAddress.countryName)">
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group is-required" ng-class="{'has-error': ($ctrl.creditCardPaymentForm.streetAddress | showErrors)}">
                  <label translate>Address</label>
                  <input type="text" name="streetAddress" class="form-control  form-control-subtle" ng-model="$ctrl.billingAddress.streetAddress" required ng-maxlength="200">
                  <div role="alert" ng-messages="$ctrl.creditCardPaymentForm.streetAddress.$error" ng-if="($ctrl.creditCardPaymentForm.streetAddress | showErrors)">
                    <div class="help-block" ng-message="required" translate>You must enter an address</div>
                    <div class="help-block" ng-message="maxlength" translate>This field cannot be longer than 200 characters</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group" ng-class="{'has-error': ($ctrl.creditCardPaymentForm.extendedAddress | showErrors)}">
                  <input type="text" name="extendedAddress" class="form-control  form-control-subtle" ng-model="$ctrl.billingAddress.extendedAddress" ng-maxlength="100">
                  <div role="alert" ng-messages="$ctrl.creditCardPaymentForm.extendedAddress.$error" ng-if="($ctrl.creditCardPaymentForm.extendedAddress | showErrors)">
                    <div class="help-block" ng-message="maxlength" translate>This field cannot be longer than 100 characters</div>
                  </div>
                </div>
              </div>
            </div>
            <div ng-if="$ctrl.billingAddress.country !== 'US'">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group" ng-class="{'has-error': ($ctrl.creditCardPaymentForm.intAddressLine3 | showErrors)}">
                    <input type="text" class="form-control  form-control-subtle" name="intAddressLine3" ng-model="$ctrl.billingAddress.intAddressLine3" ng-maxlength="100">
                    <div role="alert" ng-messages="$ctrl.creditCardPaymentForm.intAddressLine3.$error" ng-if="($ctrl.creditCardPaymentForm.intAddressLine3 | showErrors)">
                      <div class="help-block" ng-message="maxlength" translate>This field cannot be longer than 100 characters</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group" ng-class="{'has-error': ($ctrl.creditCardPaymentForm.intAddressLine4 | showErrors)}">
                    <input type="text" class="form-control  form-control-subtle" name="intAddressLine4" ng-model="$ctrl.billingAddress.intAddressLine4" ng-maxlength="100">
                    <div role="alert" ng-messages="$ctrl.creditCardPaymentForm.intAddressLine4.$error" ng-if="($ctrl.creditCardPaymentForm.intAddressLine4 | showErrors)">
                      <div class="help-block" ng-message="maxlength" translate>This field cannot be longer than 100 characters</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div ng-if="$ctrl.billingAddress.country === 'US'">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group is-required" ng-class="{'has-error': ($ctrl.creditCardPaymentForm.locality | showErrors)}">
                    <label translate>City</label>
                    <input type="text" name="locality" class="form-control  form-control-subtle" ng-model="$ctrl.billingAddress.locality" required ng-maxlength="50">
                    <div role="alert" ng-messages="$ctrl.creditCardPaymentForm.locality.$error" ng-if="($ctrl.creditCardPaymentForm.locality | showErrors)">
                      <div class="help-block" ng-message="required" translate>You must enter a city</div>
                      <div class="help-block" ng-message="maxlength" translate>This field cannot be longer than 50 characters</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label translate>State</label>
                    <div class="form-group is-required" ng-class="{'has-error': ($ctrl.creditCardPaymentForm.region | showErrors)}">
                      <select class="form-control  form-control-subtle"
                              name="region" required
                              ng-model="$ctrl.billingAddress.region"
                              ng-options="region.name as region['display-name'] for region in $ctrl.regions | orderBy:'\'display-name\''">
                      </select>
                      <div role="alert" ng-messages="$ctrl.creditCardPaymentForm.region.$error" ng-if="($ctrl.creditCardPaymentForm.region | showErrors)">
                        <div class="help-block" ng-message="required" translate>You must select a state</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group is-required" ng-class="{'has-error': ($ctrl.creditCardPaymentForm.postalCode | showErrors)}">
                    <label translate>Zip</label>
                    <input type="text" name="postalCode" class="form-control  form-control-subtle" ng-model="$ctrl.billingAddress.postalCode" required ng-pattern="/^\d{5}(?:[-\s]\d{4})?$/">
                    <div role="alert" ng-messages="$ctrl.creditCardPaymentForm.postalCode.$error" ng-if="($ctrl.creditCardPaymentForm.postalCode | showErrors)">
                      <div class="help-block" ng-message="required" translate>You must enter a zip code</div>
                      <div class="help-block" ng-message="pattern" translate>You must enter a valid US zip code</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- // mb -->

</form>
