<form novalidate name="$ctrl.creditCardPaymentForm" ng-keyup="$event.key === 'Enter' && $ctrl.savePayment()">

  <div class="mb">

    <h4 class="panel-title  border-bottom-small  visible" translate>Credit Card Payment</h4>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group is-required" ng-class="{'has-error': ($ctrl.creditCardPaymentForm.cardNumber | showErrors)}">
          <label translate>Card #</label>
          <input type="text"
                 name="cardNumber"
                 autocomplete="cc-number"
                 class="form-control  form-control-subtle"
                 ng-model="$ctrl.creditCardPayment.cardNumber"
                 ng-attr-placeholder="************{{$ctrl.creditCardPayment.cardNumberPlaceholder}}"
                 ng-required="!$ctrl.paymentMethod || $ctrl.creditCardPayment.cardNumber"
                 ng-disabled="$ctrl.disableCardNumber">
          <div ng-messages="$ctrl.creditCardPaymentForm.cardNumber.$error" role="alert" ng-if="($ctrl.creditCardPaymentForm.cardNumber | showErrors)">
            <div class="help-block" ng-message="required" translate>You must enter a card number</div>
            <div class="help-block" ng-message="minLength" translate>This card number must contain at least 13 digits</div>
            <div class="help-block" ng-message="maxLength" translate>This card number cannot contain more than 16 digits</div>
            <div class="help-block" ng-message="knownType" translate>This card type is not recognized</div>
            <div class="help-block" ng-message="typeLength" translate translate-params-digits-number="$ctrl.cardInfo.expectedLengthForType($ctrl.creditCardPaymentForm.cardNumber.$viewValue).join(' or ')" translate-params-card-type="$ctrl.cardInfo.type($ctrl.creditCardPaymentForm.cardNumber.$viewValue)">This is an invalid {{cardType}} number. It should have {{digitsNumber}} digits.</div>
            <div class="help-block" ng-message="checksum" translate>This card number is invalid. At least one digit was entered incorrectly.</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group is-required" ng-class="{'has-error': ($ctrl.creditCardPaymentForm.cardholderName | showErrors)}">
          <label translate>Name On Card</label>
          <input type="text"
                 name="cardholderName"
                 class="form-control  form-control-subtle"
                 autocomplete="cc-name"
                 ng-model="$ctrl.creditCardPayment.cardholderName"
                 ng-maxlength="50" required>
          <div role="alert" ng-messages="$ctrl.creditCardPaymentForm.cardholderName.$error" ng-if="($ctrl.creditCardPaymentForm.cardholderName | showErrors)">
            <div class="help-block" ng-message="required" translate>You must enter the name on the card</div>
            <div class="help-block" ng-message="maxlength" translate>This name cannot be longer than 50 characters</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group is-required" ng-class="{'has-error': ($ctrl.creditCardPaymentForm.expiryMonth | showErrors)}">
          <label translate>Exp. Month</label>
          <select class="form-control  form-control-subtle"
                  name="expiryMonth"
                  autocomplete="cc-exp-month"
                  required
                  ng-model="$ctrl.creditCardPayment.expiryMonth">
            <option value="01" translate>01 - January</option>
            <option value="02" translate>02 - February</option>
            <option value="03" translate>03 - March</option>
            <option value="04" translate>04 - April</option>
            <option value="05" translate>05 - May</option>
            <option value="06" translate>06 - June</option>
            <option value="07" translate>07 - July</option>
            <option value="08" translate>08 - August</option>
            <option value="09" translate>09 - September</option>
            <option value="10" translate>10 - October</option>
            <option value="11" translate>11 - November</option>
            <option value="12" translate>12 - December</option>
          </select>
          <div role="alert" ng-messages="$ctrl.creditCardPaymentForm.expiryMonth.$error" ng-if="($ctrl.creditCardPaymentForm.expiryMonth | showErrors)">
            <div class="help-block" ng-message="required" translate>You must choose an expiration month</div>
            <div class="help-block" ng-message="expired" translate>Your credit card is expired or you selected the wrong month or year</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group is-required" ng-class="{'has-error': ($ctrl.creditCardPaymentForm.expiryYear | showErrors)}">
          <label translate>Exp. Year</label>
          <select class="form-control  form-control-subtle"
                  name="expiryYear"
                  autocomplete="cc-exp-year"
                  required
                  ng-model="$ctrl.creditCardPayment.expiryYear"
                  ng-options="year for year in $ctrl.expirationDateYears">
          </select>
          <div role="alert" ng-messages="$ctrl.creditCardPaymentForm.expiryYear.$error" ng-if="($ctrl.creditCardPaymentForm.expiryYear | showErrors)">
            <div class="help-block" ng-message="required" translate>You must choose an expiration year</div>
            <div class="help-block" ng-message="expired" translate>Your credit card is expired or you selected the wrong year</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4" ng-if="!$ctrl.hideCvv">
        <div class="form-group" ng-class="{'has-error': ($ctrl.creditCardPaymentForm.securityCode | showErrors), 'is-required': !$ctrl.paymentMethod}">
          <label translate>Security Code</label>
          <input type="text"
                 name="securityCode"
                 autocomplete="cc-csc"
                 class="form-control form-control-subtle"
                 ng-model="$ctrl.creditCardPayment.securityCode"
                 ng-required="!$ctrl.paymentMethod || $ctrl.creditCardPayment.cardNumber"
                 ng-attr-placeholder="{{$ctrl.paymentMethod && !$ctrl.creditCardPayment.cardNumber ? '***' : ''}}">
          <div role="alert" ng-messages="$ctrl.creditCardPaymentForm.securityCode.$error" ng-if="($ctrl.creditCardPaymentForm.securityCode | showErrors)">
            <div class="help-block" ng-message="required" translate>You must enter the security code</div>
            <div class="help-block" ng-message="minLength" translate>The security code must be at least 3 digits</div>
            <div class="help-block" ng-message="maxLength" translate>The security code cannot be more than 4 digits</div>
            <div class="help-block" ng-message="cardTypeLength" ng-init="isAmex = $ctrl.cardInfo.type($ctrl.creditCardPayment.cardNumber) === 'American Express'">
              <translate ng-if="!isAmex">3 digit code on back of card</translate>
              <translate ng-if="isAmex">4 digit code on front of card</translate>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>

    <div class="">
      <label class="checkbox-inline">
        <input name="useMailingAddress" type="checkbox" ng-model="$ctrl.useMailingAddress"> Same as Mailing Address
      </label>
    </div>

    <div class="billing-address-new-wrap mt- on" id="address-billing-current" ng-if="$ctrl.useMailingAddress">
      <div class="panel panel-default mb0">
        <div class="panel-body">
          <h4 class="panel-title  border-bottom-small  visible" translate>Billing Address</h4>
          <display-address address="$ctrl.mailingAddress"></display-address>
          <loading ng-if="!$ctrl.mailingAddress">
            <translate>Loading mailing address...</translate>
          </loading>
        </div>
      </div>
    </div>

    <div class="billing-address-wrap mt-" id="address-billing-new" ng-if="!$ctrl.useMailingAddress" style="display: block"><!-- TODO: fix CSS so display: block isn't needed -->
      <div class="panel panel-default mb0">
        <div class="panel-body">
          <div class="mb">
            <h4 class="panel-title  border-bottom-small  visible">
              <span ng-if="!$ctrl.paymentMethod" translate>New</span>
              <span translate>Billing Address</span>
            </h4>
            <address-form address="$ctrl.creditCardPayment.address" parent-form="$ctrl.creditCardPaymentForm"></address-form>
          </div>
        </div>
      </div>
    </div>

  </div>

</form>
