<div class="modal-header" ng-if="!$ctrl.isInsideAnotherModal">
  <button type="button" class="close" aria-label="Close" ng-click="$ctrl.onCancel()">
    <span aria-hidden="true">×</span>
  </button>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="signup-header" translate>Reset Your Password</h3>
      </div>
    </div>
  </div>
</div>

<div class="modal-body" class="sticky-buttons">
  <h3 ng-if="$ctrl.isInsideAnotherModal" class="signup-header" translate>Reset Your Password</h3>
  <div class="content">
    <p ng-if="$ctrl.currentStep == 1" class="username-explanation" translate>
      Your username is the email address you used to set up your Okta account.
    </p>

    <loading ng-if="$ctrl.isLoading" class="okta-signup-loading"></loading>

    <div id="osw-container"></div>
  </div>
</div>
