<div class="col-md-12 col-xs-12">
  <div ng-if="!$ctrl.passwordChanged">
    <div class="alert alert-danger" role="alert" ng-messages="$ctrl.errors" ng-if="$ctrl.hasError">
      <div ng-message="invalid_reset_key" translate>An error has occurred. (Invalid Password Reset Key)<br />
        Please try sending another
        <a id="forgotPasswordLink1" ng-click="$ctrl.onStateChange({state: 'forgot-password'})">Reset Password</a> email, or
        <a href="https://www.cru.org/about/contact-us.html">Contact Us</a>.
      </div>
      <div ng-message="password_cant_change" translate>You are not allowed to reset your password here.<br />Please
        <a href="https://www.cru.org/about/contact-us.html">Contact Us</a>.
      </div>
    </div>
    <form name="$ctrl.form" class="loading-overlay-parent">
      <div class="form-group" ng-class="{'has-success': $ctrl.form.password.$valid, 'has-error': ($ctrl.form.password | showErrors) }">
        <label for="password" translate>New Password</label>
        <input id="password"
               name="password"
               type="password"
               class="form-control form-control-subtle"
               ng-model="$ctrl.password"
               minlength="8"
               ng-pattern="/^(?=.*\d)(?=.*[a-zA-Z]).{6,}$/"
               required>
        <div ng-if="($ctrl.form.password | showErrors)" ng-messages="$ctrl.form.password.$error">
          <span class="help-block" ng-message="required" translate>Password is required.</span>
          <span class="help-block" ng-message="minlength" translate>Must be 8 or more characters.</span>
          <span class="help-block" ng-message="pattern" translate>Must include 1 letter and 1 number.</span>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-success': $ctrl.form.password_check.$valid, 'has-error': ($ctrl.form.password_check  | showErrors) }">
        <label for="password_check" translate>Confirm Password</label>
        <input id="password_check"
               name="password_check"
               type="password"
               class="form-control form-control-subtle"
               ng-model="$ctrl.password_check"
               value-match="password"
               required>
        <div ng-if="($ctrl.form.password_check | showErrors)" ng-messages="$ctrl.form.password_check.$error">
          <span class="help-block" ng-message="required" translate>Password is required.</span>
          <span class="help-block" ng-message="valueMatch" translate>Passwords must match.</span>
        </div>
      </div>
      <button type="submit"
              id="resetPasswordButton"
              class="btn btn-block btn-primary"
              ng-disabled="!$ctrl.form.$valid"
              ng-click="$ctrl.resetPassword()"
              translate>Reset My Password
      </button>
      <loading type="overlay" ng-if="$ctrl.isLoading"></loading>
    </form>
    <p class="mt- text-center" translate>
      <a id="backToSignInLink" href="" ng-click="$ctrl.onStateChange({state: 'sign-in'})">Back to Sign In</a>
    </p>
  </div>
  <div ng-if="$ctrl.passwordChanged" class="alert alert-success">
    <p translate>Your password has successfully been updated.</p>
    <p translate>Return to <a id="returnToSignInLink" ng-click="$ctrl.onStateChange({state: 'sign-in'})">Sign In</a>.</p>
  </div>
</div>
