<div class="col-md-12 col-xs-12">
  <p>Enter your registered email address below and we'll send a new password to that email.</p>
  <form>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control form-control-subtle" placeholder="Email">
    </div>
    <button type="submit" class="btn btn-block btn-primary">Reset My Password</button>
  </form>
  <p class="mt- text-center">Never mind
    <a href ng-click="$ctrl.onStateChange({state: 'sign-in'})">Back to Sign In</a></p>
</div>
