node_modules
dist
.idea
.DS_STORE
coverage
*.iml

*.log
*.back.*
.sass-cache
stats.json
.vs

# asdf
.tool-versions


# Okta sign in  assets
src/assets/okta-sign-in/font
src/assets/okta-sign-in/labels
