node_modules
bower_components
dist
.idea
.DS_STORE
coverage
jspm_packages

*.log
*.back.*
.sass-cache

src/**/*.tpl.js

# Rails / Ruby
/.bundle
vendor/ruby
/tmp
/spec/tmp

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep

# IntelliJ
*.iml
.idea/

# Environment
.env.*
