# Dependencies
node_modules

# Local Env Files
.env
.env.stage
.env.prod

# GraphQL Codegen
graphql
**/*.generated.ts

# Misc
dist
coverage
stats.json
.idea
.DS_STORE
sass-cache
*.iml

*.log
*.back.*
