<header id="desktop-navigation" class="gh-desk-nav" ng-init="$ctrl.toggleMenu()">
  <div class="language-picker"
       ng-if="!$ctrl.subNavLocked"
       ng-class="{'closed': !$ctrl.languagePickerOpen}">
    <div class="container">
      <ul class="picker-countries">
        <a href=""
           ng-class="{'active': continent.title === $ctrl.activeContinent}"
           ng-click="$ctrl.activeContinent = continent.title"
           ng-repeat="continent in $ctrl.menuStructure.global">
          {{continent.title}}
        </a>

        <li ng-repeat="continent in $ctrl.menuStructure.global" ng-if="continent.title === $ctrl.activeContinent">
          <ul>
            <li ng-repeat="country in continent.children">
              <h5>{{country.title}}</h5>

              <span ng-repeat="lang in country.children">
                <a ng-href="{{lang.path}}">{{lang.title}}</a>{{$last ? '' : ', '}}
              </span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="gold-border"></div>

  <div class="container">

    <a ng-href="{{$ctrl.logoLink}}" title="Cru" class="gh-desk-logo"></a>

    <ul class="gh-desk-nav-tree col-level-1" ng-mouseleave="$ctrl.menuPath.main = []">
      <li ng-repeat="menuItem in $ctrl.menuStructure.main"
          ng-if="!menuItem.hideInNav"
          ng-class="{
            'has-children': $ctrl.hasVisibleChildren(menuItem.children),
            'open-menu': $ctrl.menuPath.main[0] === menuItem.path.split('/').pop(),
            'active': $ctrl.menuPath.sub[0] === menuItem.path.split('/').pop().replace('.html', '')
          }"
          ng-mouseover="$ctrl.menuPath.main[0] = menuItem.path.split('/').pop()">
        <a ng-href="{{menuItem.path}}" ng-attr-target="{{menuItem.newTab ? '_blank' : undefined}}">{{menuItem.title}}</a>

        <div class="children-container" ng-if="$ctrl.hasVisibleChildren(menuItem.children)">
          <ul class="col-level-2 on">
            <li ng-class="{'has-children': $ctrl.hasVisibleChildren(menuItem.children)}" ng-repeat="menuItem in menuItem.children"
                ng-if="!menuItem.hideInNav"
                ng-mouseover="$ctrl.menuPath.main[1] = menuItem.path.split('/').pop(); $ctrl.promoClass = $ctrl.hasVisibleChildren(menuItem.children) ? 'gh-offset-3' : 'gh-offset-2';">
              <a ng-href="{{menuItem.path}}" ng-attr-target="{{menuItem.newTab ? '_blank' : undefined}}">
                <span ng-if="$ctrl.hasVisibleChildren(menuItem.children)"></span>{{menuItem.title}}
              </a>

              <ul class="col-level-3" ng-class="{'on': $ctrl.hasVisibleChildren(menuItem.children) && $ctrl.menuPath.main[1] === menuItem.path.split('/').pop()}">
                <li ng-repeat="menuItem in menuItem.children" ng-if="!menuItem.hideInNav">
                  <a ng-href="{{menuItem.path}}" ng-attr-target="{{menuItem.newTab ? '_blank' : undefined}}">{{menuItem.title}}</a>
                </li>
              </ul>
            </li>
          </ul>

        </div>
      </li>
    </ul>

    <div class="search-sign-in-wrapper">
      <div ng-class="{'nav-icons-fixed': $ctrl.subNavLocked}">
        <div class="ellipsis">
          <div uib-dropdown>
            <a uib-dropdown-toggle></a>
            <ul class="pull-right" uib-dropdown-menu>
              <span class="triangle"></span>
              <li class="menu" ng-repeat="i in $ctrl.pullRightOptions track by $index" ng-class="i.class">
                <a ng-href="{{i.path}}">{{i.title}}</a>
              </li>
              <li class="menu nav-books">
                <a href="https://www.cru.org/store.html" target="_blank" translate>
                  Shop Books
                </a>
              </li>
              <!--<li class="menu nav-apps"><a href="" translate>Apps</a></li>-->
            </ul>
          </div>
        </div>

        <div class="sign-in" ng-if="!$ctrl.isSignedIn" ng-click="$ctrl.signIn()" translate>Sign In</div>
        <div class="signed-in" ng-if="$ctrl.isSignedIn">
          <div uib-dropdown>
            <a uib-dropdown-toggle>
              {{$ctrl.displayName ? $ctrl.displayName :
                $ctrl.sessionService.session.first_name + ' ' + $ctrl.sessionService.session.last_name}}
            </a>
            <ul class="pull-right" uib-dropdown-menu>
              <span class="triangle"></span>
              <li class="nav-edit-profile">
                <a ng-href="{{$ctrl.editProfilePath}}" ng-if="$ctrl.editProfilePath" translate>Edit Profile</a>
                <a href="https://signin.cru.org/sso/selfservice/settings?theme=cru" target="_blank" ng-if="!$ctrl.editProfilePath" translate>
                  Login Settings
                </a>
              </li>
              <li class="nav-sign-out"><a href="" ng-click="$ctrl.signOut()" translate>Sign Out</a></li>
            </ul>
          </div>
        </div>

        <div class="cart">
          <div uib-dropdown on-toggle="$ctrl.cartOpened()" is-open="$ctrl.cartOpen" auto-close="outsideClick">
            <a uib-dropdown-toggle></a>
            <div class="pull-right" uib-dropdown-menu>
              <span class="triangle"></span>
              <nav-cart></nav-cart>
            </div>
          </div>
        </div>

        <div class="language"
             ng-if="$ctrl.languagePickerLanguage && $ctrl.languagePickerCountry && !$ctrl.subNavLocked"
             ng-click="$ctrl.languagePickerOpen = !$ctrl.languagePickerOpen">
          {{$ctrl.languagePickerCountry}} / {{$ctrl.languagePickerLanguage}}
        </div>

        <span class="search-icon" ng-click="$ctrl.toggleMenu(!$ctrl.desktopSearch)">
          <span ng-class="{'search-icon-on': $ctrl.desktopSearch, 'search-icon-off': !$ctrl.desktopSearch}"></span>
        </span>
      </div>
    </div>
  </div>
</header>

<cru-sub-nav ng-if="$ctrl.subMenuStructure.length"></cru-sub-nav>

<div class="search sub-nav-open open" ng-if="$ctrl.desktopSearch">
  <div class="container">
    <form id="search" ng-submit="$ctrl.cruSearch(mobileSearchTerm)">
      <div class="form-group">
        <input type="text" class="search-input" ng-model="mobileSearchTerm" placeholder="search" auto-focus>
      </div>
    </form>
  </div>
</div>
