<header id="desktop-navigation" class="gh-desk-nav" ng-init="$ctrl.toggleMenu()">
  <div class="container">

    <a href="/" title="Cru" class="gh-desk-logo"></a>

    <ul class="gh-desk-nav-tree col-level-1" ng-mouseleave="$ctrl.menuPath.main = []">
      <li ng-repeat="menuItem in $ctrl.menuStructure.main"
          ng-class="{
            'has-children': menuItem.children.length,
            'open-menu': $ctrl.menuPath.main[0] === menuItem.path.split('/').pop(),
            'active': $ctrl.menuPath.sub[0] === menuItem.path.split('/').pop()
          }"
          ng-mouseover="$ctrl.menuPath.main[0] = menuItem.path.split('/').pop()">
        <a ng-href="{{menuItem.path}}" ng-if="!menuItem.children.length">{{menuItem.title}}</a>
        <a href="" ng-if="menuItem.children.length">{{menuItem.title}}</a>

        <div class="children-container" ng-if="menuItem.children.length">
          <ul class="col-level-2 on">
            <li ng-class="{'has-children': menuItem.children.length}" ng-repeat="menuItem in menuItem.children"
                ng-mouseover="$ctrl.menuPath.main[1] = menuItem.path.split('/').pop(); $ctrl.promoClass = menuItem.children.length ? 'gh-offset-3' : 'gh-offset-2';">
              <a ng-href="{{menuItem.path}}" ng-if="!menuItem.children.length">{{menuItem.title}}</a>
              <a href="" ng-if="menuItem.children.length">{{menuItem.title}}</a>

              <ul class="col-level-3" ng-class="{'on': menuItem.children.length && $ctrl.menuPath.main[1] === menuItem.path.split('/').pop()}">
                <li ng-repeat="menuItem in menuItem.children">
                  <a ng-href="{{menuItem.path}}">{{menuItem.title}}</a>
                </li>
              </ul>
            </li>
          </ul>

        </div>
      </li>
    </ul>

    <div class="search-sign-in-wrapper">
      <div class="ellipsis">
        <div uib-dropdown>
          <a uib-dropdown-toggle></a>
          <ul class="pull-right" uib-dropdown-menu>
            <span class="triangle"></span>
            <li class="menu nav-near-me"><a href="https://www.cru.org/communities/locations.html" translate>Find Cru Near Me</a></li>
            <li class="menu nav-globe"><a href="" ng-click="$ctrl.openGlobalWebsitesModal()" translate>Cru Around the World</a></li>
            <!--<li class="menu nav-books"><a href="" translate>Shop Books</a></li>-->
            <!--<li class="menu nav-apps"><a href="" translate>Apps</a></li>-->
          </ul>
        </div>
      </div>

      <div class="sign-in" ng-if="!$ctrl.isSignedIn" ng-click="$ctrl.signIn()" translate>Sign In</div>
      <div class="signed-in" ng-if="$ctrl.isSignedIn">
        <div uib-dropdown>
          <a uib-dropdown-toggle>{{$ctrl.sessionService.session.first_name}} {{$ctrl.sessionService.session.last_name}}</a>
          <ul class="pull-right" uib-dropdown-menu>
            <span class="triangle"></span>
            <li class="nav-edit-profile"><a href="profile.html" translate>Edit Profile</a></li>
            <li class="nav-sign-out"><a href="" ng-click="$ctrl.signOut()" translate>Sign Out</a></li>
          </ul>
        </div>
      </div>

      <div class="cart">
        <div uib-dropdown on-toggle="open && $ctrl.loadCart()" is-open="$ctrl.cartOpen">
          <a uib-dropdown-toggle></a>
          <div class="pull-right" uib-dropdown-menu>
            <span class="triangle"></span>
            <div class="container-fluid">
              <div class="row row-no-spacing">
                <div class="col-xs-12">
                  <div class="desktop-cart-list">

                    <div class="repeating-row" ng-if="!$ctrl.cartData">
                      <loading>
                        <div class="mb--" translate>Loading gifts...</div>
                      </loading>
                    </div>
                    <p class="text-center mt-" ng-if="$ctrl.cartData && !$ctrl.cartData.items.length" translate>
                      Your cart is empty
                    </p>

                    <div class="repeating-row select-recipient-row" ng-repeat="i in $ctrl.cartData.items">
                      <div class="col-xs-3">
                        <img desig-src="{{i.designationNumber}}">
                      </div>
                      <div class="col-xs-9">
                        <p class="title">{{i.displayName}}</p>
                        <p class="title">#{{i.designationNumber}}</p>
                        <p class="price">{{i.price}} {{i.frequency}}</p>
                      </div>
                    </div>
                  </div>

                  <div class="repeating-row select-recipient-row sub-total" ng-if="$ctrl.cartData.items.length">
                    <div class="col-xs-6">
                      <p>{{$ctrl.cartData.items.length}} Items</p>
                    </div>
                    <div class="col-xs-6 text-right">
                      <p>Subtotal {{$ctrl.cartData.cartTotal | currency:'$'}}</p>
                    </div>
                  </div>

                  <a href="/cart.html" class="btn btn-default checkout" ng-if="$ctrl.cartData.items.length" style="width: 50%; float: left;" translate>Cart</a>
                  <a href="" class="btn btn-primary checkout" ng-if="$ctrl.cartData.items.length" ng-click="$ctrl.checkout()" style="width: 50%; float: right;" translate>Checkout</a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <span class="search-icon" ng-click="$ctrl.toggleMenu(!$ctrl.desktopSearch)">
        <span ng-class="{'search-icon-on': $ctrl.desktopSearch, 'search-icon-off': !$ctrl.desktopSearch}"></span>
      </span>
    </div>
  </div>
</header>

<cru-sub-nav ng-if="$ctrl.subMenuStructure.length"></cru-sub-nav>

<div class="search sub-nav-open open" ng-if="$ctrl.desktopSearch">
  <div class="container">
    <form id="search" ng-submit="$ctrl.cruSearch(mobileSearchTerm)">
      <div class="form-group">
        <input type="text" class="search-input" ng-model="mobileSearchTerm" placeholder="search">
      </div>
    </form>
  </div>
</div>
