<div class="mobile-nav-wrap" ng-class="{'on': $ctrl.mobileNavOpen}">
  <div id="mobile-header">
    <div id="mobile-logo"></div>

    <div id="sign-in-section">
      <sign-in-button id="sign-in"></sign-in-button>

      <div id="mobile-nav-icon" ng-click="$ctrl.toggleMenu()" ng-class="{'open': $ctrl.mobileNavOpen}">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <div id="mobile-navigation" ng-class="{'open': $ctrl.mobileNavOpen, 'hidden': !$ctrl.mobileNavOpen}" ng-init="mobileTab = 'nav'">
    <ul class="menu-icons nav nav-tabs" role="tablist">
      <li role="presentation" ng-class="{'active': mobileTab === 'nav'}">
        <a href="" ng-click="mobileTab = 'nav'; ($ctrl.mobileMenuPath.main.length ? $ctrl.mobileMenuPath.main.pop() : $ctrl.mobileMenuPath.main = []);">
          <img class="menu-icon-navigation"
               ng-src="{{$ctrl.imgDomain + '/assets/img/' + ($ctrl.mobileMenuPath.main.length > 0 ? 'mobile-menu-back-icon.png' : 'mobile-menu-hamburger-icon.png')}}">
        </a>
      </li>
      <li role="presentation" ng-class="{'active': mobileTab === 'search'}">
        <a href="" ng-click="mobileTab = 'search'">
          <img ng-src="{{$ctrl.imgDomain}}/assets/img/mobile-menu-search-icon.png">
        </a>
      </li>
      <li role="presentation" ng-class="{'active': mobileTab === 'location'}">
        <a href="" ng-click="mobileTab = 'location'">
          <img ng-src="{{$ctrl.imgDomain}}/assets/img/mobile-menu-location-icon.png">
        </a>
      </li>
      <li role="presentation" ng-class="{'active': mobileTab === 'global'}">
        <a href="" ng-click="mobileTab = 'global'; $ctrl.mobileMenuPath.global = [];">
          <img ng-src="{{$ctrl.imgDomain}}/assets/img/mobile-menu-globe-icon.png">
        </a>
      </li>
      <li role="presentation" ng-class="{'active': mobileTab === 'cart'}">
        <a href="" ng-click="mobileTab = 'cart'">
          <img ng-src="{{$ctrl.imgDomain}}/assets/img/mobile-menu-cart-icon.png">
        </a>
      </li>
      <li role="presentation" ng-class="{'active': mobileTab === 'more'}">
        <a href="" ng-click="mobileTab = 'more'">
          <img ng-src="{{$ctrl.imgDomain}}/assets/img/mobile-menu-ellipsis-icon.png">
        </a>
      </li>
    </ul>


    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" ng-if="mobileTab === 'nav'">
        <div class="main-menu-container">
          <ul class="main-menu" ng-style="{'left': (($ctrl.mobileMenuPath.main.length * -100) + '%')}">
            <nav-mobile-level structure="$ctrl.menuStructure.main" level="0" path="$ctrl.mobileMenuPath.main"></nav-mobile-level>
          </ul>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane active" ng-if="mobileTab === 'search'">
        <form id="mob-search" ng-submit="$ctrl.cruSearch(mobileSearchTerm)">
          <div class="form-group">
            <input type="text" class="form-control form-control-subtle text-center" ng-model="mobileSearchTerm" placeholder="ENTER KEYWORDS">
          </div>
        </form>
      </div>
      <div role="tabpanel" class="tab-pane active" ng-if="mobileTab === 'location'">
        <form id="mob-nearme" method="get" action="https://www.cru.org/locator/colleges.html">
          <div class="form-group">
            <input type="text" class="form-control form-control-subtle text-center" name="q" placeholder="FIND CRU NEAR ME">
          </div>
        </form>
      </div>
      <div role="tabpanel" class="tab-pane active" ng-if="mobileTab === 'global'">
        <div class="main-menu-container">
          <ul class="main-menu main-menu-global global-menu" ng-style="{'left': (($ctrl.mobileMenuPath.global.length * -100) + '%')}">
            <nav-mobile-level structure="$ctrl.menuStructure.global" level="0" path="$ctrl.mobileMenuPath.global"></nav-mobile-level>
          </ul>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane active" ng-if="mobileTab === 'cart'" ng-init="$ctrl.loadCart()">
        <div class="container-fluid" id="mob-cart">
          <div class="row row-no-spacing">
            <div class="col-xs-12">
              <div style="height:100px;" class="repeating-row" ng-if="!$ctrl.cartData">
                <loading></loading>
              </div>
              <p ng-if="$ctrl.cartData && !$ctrl.cartData.items.length" translate>
                Your cart is empty
              </p>

              <div class="repeating-row select-recipient-row" ng-repeat="i in $ctrl.cartData.items">
                <div class="col-xs-3">
                  <img desig-src="{{i.designationNumber}}">
                </div>
                <div class="col-xs-9">
                  <p class="title">{{i.displayName}}</p>
                  <p class="title">#{{i.designationNumber}}</p>
                  <p class="price">{{i.price}}</p>
                </div>
              </div>

              <a href="/checkout.html" class="btn btn-primary checkout" ng-if="$ctrl.cartData.items.length">Checkout</a>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane active" ng-if="mobileTab === 'more'">
        <ul id="mob-more">
          <li><img ng-src="{{$ctrl.imgDomain}}/assets/img/mobile-menu-book-icon.png">Shop Books</li>
          <li><img ng-src="{{$ctrl.imgDomain}}/assets/img/mobile-menu-phone-icon.png">Apps</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="mobile-nav-overlay" ng-class="{'on': $ctrl.mobileNavOpen}"></div>
