<div class="sign-in" ng-if="!$ctrl.isSignedIn" ng-click="$ctrl.signIn()" translate>Sign In</div>
<div class="signed-in" ng-if="$ctrl.isSignedIn">
  <div uib-dropdown>
    <a uib-dropdown-toggle>
      {{$ctrl.sessionService.session.first_name + ' ' + $ctrl.sessionService.session.last_name}}
    </a>
    <ul class="pull-right" uib-dropdown-menu>
      <span class="triangle"></span>
      <li class="nav-edit-profile">
        <a href="https://signin.cru.org/sso/selfservice/settings?theme=cru" target="_blank" translate>
          Login Settings
        </a>
      </li>
      <li class="nav-sign-out"><a href="" ng-click="$ctrl.signOut()" translate>Sign Out</a></li>
    </ul>
  </div>
</div>
