<div id="sub-navigation">
  <div class="container">
    <a href="/" title="Cru" class="sub-nav-logo"></a>


    <ul class="breadcrumbs">
      <li ng-repeat="menuItem in $ctrl.subMenuStructure">
        <a ng-href="{{menuItem.path}}">{{menuItem.title}}</a>
      </li>
    </ul>

    <ul class="sub-nav mobile-sub-nav">
      <li>
        <a ng-href="{{$ctrl.subMenuStructure[$ctrl.subMenuStructure.length - 1].path}}"
           ng-class="{'active':
             $ctrl.menuPath.currentPage === '' ||
             $ctrl.subMenuStructure[$ctrl.subMenuStructure.length - 1].path.split('/').pop().replace('.html', '') === $ctrl.menuPath.currentPage
           }" translate>
          Home
        </a>
      </li>

      <li ng-repeat="menuItem in $ctrl.subMenuStructure[$ctrl.subMenuStructure.length - 1].children" ng-if="!menuItem.hideInNav">
        <a ng-href="{{menuItem.path}}" ng-class="{
          'active': menuItem.path.split('/').pop().replace('.html', '') === $ctrl.menuPath.currentPage
        }">
          {{menuItem.title}}
        </a>
      </li>
    </ul>

    <div class="sub-nav-search-icon" ng-click="$ctrl.toggleMenu(!$ctrl.desktopSearch)">
      <span ng-class="{'search-icon-on': $ctrl.desktopSearch, 'search-icon-off': !$ctrl.desktopSearch}"></span>
    </div>
  </div>
</div>
