@charset "UTF-8";

.loading-background {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 2;
}
