<div class="give-modal-header">
  <div class="row">
    <div class="col-sm-6">
      <h4 class="modal-title" translate>
        Give a Gift
      </h4>
    </div>
    <div class="col-sm-6">
      <div class="give-modal-recipient">
        <img class="recipient-image" ng-src="{{$ctrl.imgDomainDesignation}}/bin/crugive/image?thumbnailDesigNumber={{$ctrl.productData.designationNumber}}">
        <span class="recipient-title">{{$ctrl.productData.displayName}}</span>
        <span class="recipient-id">#{{$ctrl.productData.designationNumber}}</span>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-success text-center" ng-if="$ctrl.giftSubmitted">
  <p>Gift has been added to your cart.</p>
  <button class="btn btn-success" ng-click="$close()">Go to Cart</button>
  <button class="btn btn-success" ng-click="$dismiss()">Keep Browsing</button>
</div>

<form novalidate name="$ctrl.itemConfigForm" ng-submit="$ctrl.addToCart()" ng-if="!$ctrl.giftSubmitted">
  <div class="modal-body pt0 p">
    <div class="container-fluid">
      <div class="panel panel-default panel-plain mt">
        <div class="panel panel-default give-modal-panel">
          <h4 class="panel-title border-bottom-small" translate>
            Gift Amount
          </h4>
          <div class="panel-body pt0">
            <!-- @todo SHOW THIS RADIO SET IF CUSTOM MINISTRY AMOUNTS EXIST -->
            <!--<div class="radio radio-custom-amount">-->
            <!--<label><input checked="checked" id="" name="custom_option" type="radio" value="Custom001"> Custom Ministry Option 1</label>-->
            <!--</div>-->
            <!--<div class="radio radio-custom-amount">-->
            <!--<label><input id="" name="custom_option" type="radio" value="Custom002"> Custom Ministry Option 2</label>-->
            <!--</div>-->
            <!--<div class="radio radio-custom-amount">-->
            <!--<label><input id="" name="custom_option" type="radio" value="Custom003"> Custom Ministry Option 3</label>-->
            <!--</div>-->

            <div data-toggle="buttons" ng-class="{'has-error': ($ctrl.itemConfigForm.amount | showErrors)}">
              <label class="btn btn-radio" ng-click="$ctrl.changeAmount(a)" ng-class="{'active': $ctrl.itemConfig.amount === a}" ng-repeat-start="a in $ctrl.selectableAmounts">
                <span class="number">${{a}}</span>
              </label>
              <span ng-repeat-end></span>
              <label class="btn btn-default-form u-textLeft custom-amount">
                <div class="form-group form-group-default u-inline">
                  <input class="form-control form-control-subtle number" type="text" name="amount"
                         ng-model="$ctrl.customAmount"
                         ng-change="$ctrl.changeCustomAmount($ctrl.customAmount)"
                         ng-pattern="/^[1-9]\d*(\.\d+)?$/">
                </div>
              </label>
              <div role="alert" ng-messages="$ctrl.itemConfigForm.amount.$error" ng-if="($ctrl.itemConfigForm.amount | showErrors)">
                <div class="help-block" ng-message="pattern" translate>Amount must be a valid amount and at least $1</div>
              </div>
            </div>
          </div><!-- // panel-body -->
        </div><!-- // panel -->
        <div class="panel panel-default give-modal-panel">
          <h4 class="panel-title border-bottom-small mt" translate>
            Gift Frequency
          </h4>
          <div class="panel-body">
            <div data-toggle="buttons">
              <label class="btn btn-radio btn-wide"
                     ng-repeat-start="f in $ctrl.productData.frequencies | orderBy: $ctrl.frequencyOrder"
                     ng-if="f.name !== 'SEMIANNUAL'"
                     ng-class="{'active': f.name === $ctrl.productData.frequency}"
                     ng-click="$ctrl.changeFrequency(f)">
                <span class="giftsum-about giftsum-title" ng-switch="f.name">
                  <span ng-switch-when="NA" translate>Single Gift</span>
                  <span ng-switch-default>{{f.display}}</span>
                </span>
              </label>
              <span ng-repeat-end></span>
            </div>
          </div><!-- // panel-body -->
        </div><!-- // panel -->
        <div ng-if="$ctrl.productData.frequency !== 'NA'">
          <div class="panel panel-default give-modal-panel">
            <h4 class="panel-title border-bottom-small mt0 pt-" translate>
              Transaction Date for Recurring Gifts
            </h4>
            <div class="panel-body pt0">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label translate>Month</label>
                    <div class="form-group">
                      <select class="form-control form-control-subtle"
                              ng-model="$ctrl.itemConfig['start-month']"
                              ng-change="$ctrl.changeStartMonth($ctrl.itemConfig['start-month'])">
                        <option value="01" translate>January</option>
                        <option value="02" translate>February</option>
                        <option value="03" translate>March</option>
                        <option value="04" translate>April</option>
                        <option value="05" translate>May</option>
                        <option value="06" translate>June</option>
                        <option value="07" translate>July</option>
                        <option value="08" translate>August</option>
                        <option value="09" translate>September</option>
                        <option value="10" translate>October</option>
                        <option value="11" translate>November</option>
                        <option value="12" translate>December</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label translate>Day</label>
                    <div class="form-group">
                      <select class="form-control form-control-subtle"
                              ng-model="$ctrl.itemConfig['start-day']"
                              ng-options="o as o for o in $ctrl.daysInMonth($ctrl.itemConfig['start-month'])"
                              ng-change="$ctrl.changeStartDay($ctrl.itemConfig['start-day'])">
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- // panel-body -->
          </div><!-- // panel -->
        </div>
        <div class="panel panel-default give-modal-panel">
          <h4 class="panel-title border-bottom-small mt" translate>
            Optional
          </h4>
          <div class="panel-body pt0">
            <ul class="list-unstyled">
              <li>
                <a class="commentLink" href="" ng-click="showRecipientComments = !showRecipientComments" translate>Send a Message to {{$ctrl.productData.displayName}}</a>
                <textarea class="staff-comments give-modal-comments"
                          rows="3"
                          maxlength="250"
                          ng-model="$ctrl.itemConfig['recipient-comments']"
                          ng-if="showRecipientComments || $ctrl.itemConfig['recipient-comments']"
                          style="display:block;"></textarea>
              </li>
              <li>
                <a class="commentLink" href="" ng-click="showDSComments = !showDSComments" translate>Special Handling Instructions for Processing This Gift</a>
                <textarea class="cru-comments give-modal-comments"
                          rows="3"
                          maxlength="250"
                          ng-model="$ctrl.itemConfig['donation-services-comments']"
                          ng-if="showDSComments || $ctrl.itemConfig['donation-services-comments']"
                          style="display:block;"></textarea>
              </li>
            </ul>
          </div><!-- // panel-body -->
        </div><!-- // panel -->
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="col-md-6 col-sm-6">
      <button class="btn btn-default btn-md btn-block-xs" type="button" ng-click="$dismiss()" translate>Cancel &amp; Return</button>
    </div>
    <div class="col-md-6 col-sm-6 text-right">
      <button class="btn btn-md btn-primary btn-block-xs" type="submit">{{$ctrl.submitLabel|translate}}</button>
    </div>
  </div>
</form>
<loading-overlay ng-if="$ctrl.submittingGift"></loading-overlay>
