<div class="give-modal-header">
  <div class="row">
    <div class="col-sm-6">
      <h4 class="modal-title" translate>
        Give a Gift
      </h4>
    </div>
    <div class="col-sm-6">
      <div class="give-modal-recipient">
        <img class="recipient-image" desig-src="{{$ctrl.productData.designationNumber}}">
        <span class="recipient-title">{{$ctrl.productData.displayName}}</span>
        <span class="recipient-id">#{{$ctrl.productData.designationNumber}}</span>
      </div>
    </div>
  </div>
</div>

<form novalidate name="$ctrl.itemConfigForm" ng-submit="$ctrl.saveGiftToCart()">
  <div class="modal-body pt0 p">
    <div class="container-fluid">
      <div class="panel panel-default panel-plain mt">
        <div class="panel panel-default give-modal-panel">

          <div ng-if="$ctrl.error" ng-switch="$ctrl.error.indexOf('already in the cart') !== -1" class="alert" role="alert"
               ng-class="{'alert-warning': $ctrl.error.indexOf('already in the cart') !== -1, 'alert-danger': $ctrl.error.indexOf('already in the cart') === -1}">
            <span ng-switch-when="true" translate>You already have this gift in your cart.</span>
            <span ng-switch-when="false" translate>There was an unknown error adding your gift to the cart. Please verify all your info and try again. If you are still seeing this message, contact support.</span>
          </div>

          <h4 class="panel-title border-bottom-small" translate>
            Gift Amount
          </h4>
          <div class="panel-body pt0">
            <div ng-if="$ctrl.suggestedAmounts">
              <div class="radio radio-custom-amount" ng-repeat="suggested in $ctrl.suggestedAmounts">
                <label>
                  <input name="amount"
                         ng-model="$ctrl.customAmount"
                         ng-change="$ctrl.changeCustomAmount($ctrl.customAmount)"
                         type="radio"
                         ng-value="suggested.amount"
                         required> {{suggested.label}} ({{suggested.amount | currency:'$':2}})
                </label>
              </div>
            </div>

            <div data-toggle="buttons" ng-class="{'has-error': ($ctrl.itemConfigForm.amount | showErrors)}" ng-if="$ctrl.showDefaultAmounts()">
              <label class="btn btn-radio"
                     ng-click="$ctrl.changeAmount(a)"
                     ng-class="{'active': $ctrl.itemConfig.amount == a && !$ctrl.customInputActive}"
                     ng-repeat-start="a in $ctrl.selectableAmounts">
                <span class="number">${{a}}</span>
              </label>
              <span ng-repeat-end></span>
              <label
                ng-class="{active: $ctrl.customInputActive}"
                class="btn btn-default-form u-textLeft custom-amount">
                <div class="form-group form-group-default u-inline">
                  <input class="form-control form-control-subtle number"
                         name="amount"
                         type="text"
                         step="1"
                         ng-required="$ctrl.customInputActive"
                         ng-model="$ctrl.customAmount"
                         ng-change="$ctrl.changeCustomAmount($ctrl.customAmount)"
                         ng-focus="$ctrl.customInputActive = true;"
                         tabindex="-1"
                         required>
                </div>
              </label>
              <div role="alert" ng-messages="$ctrl.itemConfigForm.amount.$error" ng-if="($ctrl.itemConfigForm.amount | showErrors)">
                <div class="help-block" ng-message="pattern" translate>Your gift must be a valid dollar amount</div>
                <div class="help-block" ng-message="required" translate>Amount must be not empty</div>
                <div class="help-block" ng-message="minimum" translate>Amount must be at least {{ 1 | currency }}</div>
                <div class="help-block" ng-message="maximum" translate>Amount must be less than {{ 10000000 | currency }}</div>
              </div>
            </div>
          </div><!-- // panel-body -->
        </div><!-- // panel -->
        <div class="panel panel-default give-modal-panel">
          <h4 class="panel-title border-bottom-small mt" translate>
            Gift Frequency
          </h4>
          <div class="panel-body">
            <div data-toggle="buttons">
              <label class="btn btn-radio btn-wide"
                     ng-repeat-start="f in $ctrl.productData.frequencies | orderBy: $ctrl.frequencyOrder track by $index"
                     ng-if="f.name !== 'SEMIANNUAL'"
                     ng-class="{'active': f.name === $ctrl.productData.frequency}"
                     ng-click="$ctrl.changeFrequency(f)">
                <span class="giftsum-about giftsum-title" ng-switch="f.name">
                  <span ng-switch-when="NA" translate>Single Gift</span>
                  <span ng-switch-default>{{f.display}}</span>
                </span>
              </label>
              <span ng-repeat-end></span>
            </div>
          </div><!-- // panel-body -->
        </div><!-- // panel -->
        <div ng-if="$ctrl.productData.frequency !== 'NA'">
          <div class="panel panel-default give-modal-panel">
            <h4 class="panel-title border-bottom-small mt0 pt-" translate>
              Transaction Date for Recurring Gifts
            </h4>
            <div class="panel-body pt0">
              <div class="row">
                <div class="col-sm-2">
                  <div class="form-group">
                    <label translate>Day</label>
                    <div class="form-group">
                      <select class="form-control form-control-subtle"
                              ng-model="$ctrl.itemConfig['recurring-day-of-month']"
                              ng-options="o as (o | ordinal) for o in $ctrl.possibleTransactionDays()"
                              ng-change="$ctrl.changeStartDay($ctrl.itemConfig['recurring-day-of-month'])">
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label translate>Your gift will start on</label>
                    <div class="form-group">
                      {{$ctrl.startDate( $ctrl.itemConfig['recurring-day-of-month'], $ctrl.nextDrawDate ).format('ll')}}
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- // panel-body -->
          </div><!-- // panel -->
        </div>
        <div class="panel panel-default give-modal-panel">
          <h4 class="panel-title border-bottom-small mt" translate>
            Optional
          </h4>
          <div class="panel-body pt0">
            <ul class="list-unstyled">
              <li>
                <a class="commentLink" href="" ng-click="!$ctrl.itemConfig['recipient-comments'] && (showRecipientComments = !showRecipientComments)" translate>Send a Message to {{$ctrl.productData.displayName}}</a>
                <textarea class="staff-comments give-modal-comments"
                          rows="3"
                          maxlength="250"
                          ng-model="$ctrl.itemConfig['recipient-comments']"
                          ng-if="showRecipientComments"
                          style="display:block;"></textarea>
              </li>
              <li>
                <a class="commentLink" href="" ng-click="!$ctrl.itemConfig['donation-services-comments'] && (showDSComments = !showDSComments)" translate>Special Handling Instructions for Processing This Gift</a>
                <textarea class="cru-comments give-modal-comments"
                          rows="3"
                          maxlength="250"
                          ng-model="$ctrl.itemConfig['donation-services-comments']"
                          ng-if="showDSComments"
                          style="display:block;"></textarea>
              </li>
            </ul>
          </div><!-- // panel-body -->
        </div><!-- // panel -->
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="col-md-6 col-sm-6">
      <button class="btn btn-default btn-md btn-block-xs" type="button" ng-click="$dismiss()" translate>Cancel &amp; Return</button>
    </div>
    <div class="col-md-6 col-sm-6 text-right">
      <button ng-if="!$ctrl.error" class="btn btn-md btn-primary btn-block-xs" type="submit">{{$ctrl.submitLabel|translate}}</button>
      <button ng-if="$ctrl.error && $ctrl.error.indexOf('already in the cart') !== -1" ng-click="$close(); $ctrl.$location.path('/cart')" class="btn btn-md btn-primary btn-block-xs" type="submit" translate>View Cart</button>
    </div>
  </div>
</form>
<loading-overlay ng-if="$ctrl.submittingGift"></loading-overlay>
