<div class="col-xs-12">
  <p><strong translate>Benefits of registering your account include:</strong></p>
  <ul>
    <li translate>Save time during checkout</li>
    <li translate>Update your contact info</li>
    <li translate>View your donation history</li>
    <li translate>Manage your recurring gifts</li>
    <li translate>Change your bank account or credit card information</li>
  </ul>
  <p>
    <button type="button"
            class="btn btn-md btn-block btn-primary"
            ng-click=""
            translate>Register Your Account
    </button>
  </p>
</div>
