<div>
  <a href="" class="navToggle js-globalButton--close" ng-click="$ctrl.dismiss()"><span class="navToggle-item">Close</span><i class="navToggle-item icon-cancel-circled"></i></a>
  <div class="container-fluid">
    <div class="row mr0 ml0 row-eq-height">

      <div id="js-globalWebsites-continents" class="globalWebsites-sidebar col-sm-3 hidden-xs" du-scroll-container="globalWebsites-modal">
        <ul du-spy-context class="list-unstyled globalWebsites-continents" role="tablist">
          <li ng-repeat="continent in $ctrl.resolve.menuStructure.global"
              du-scrollspy="{{$ctrl.getContinentId(continent.path)}}">
            <a href ng-click="$ctrl.scrollTo($ctrl.getContinentId(continent.path))" translate>{{continent.title}}</a>
          </li>
        </ul>
      </div>

      <div id="globalWebsitesCountries" class="globalWebsites-countries col-sm-6">
        <div ng-repeat="continent in $ctrl.resolve.menuStructure.global"
             id="{{$ctrl.getContinentId(continent.path)}}">
          <h5 class="globalWebsites-country-header" translate>{{continent.title}}</h5>
          <ul ng-repeat="country in continent.children" class="list-unstyled pb-x">
            <li>
              <a href="https://www.cru.org/global{{country.path}}.html" target="_blank" class="globalWebsites-country" translate>{{country.title}}</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
