<loading type="overlay" ng-if="$ctrl.paymentFormState === 'loading' || $ctrl.paymentFormState === 'encrypting' || $ctrl.paymentFormState === 'success'"></loading>

<div class="alert alert-danger" role="alert" ng-if="$ctrl.paymentFormState === 'error'">
  <p ng-switch="$ctrl.paymentFormError">
    <span ng-switch-when="Invalid routing number" translate>
      The routing number you entered does not seem to be valid. Please verify that it is correct.
    </span>
    <span ng-switch-when="This credit card already exists." translate>
      You have already added this credit card. If you wish to make changes please edit your existing credit card.
    </span>
    <span ng-switch-when="This card is already expired." translate>
      This card has expired. Please use a different payment method.
    </span>
    <span ng-switch-when="This bank account already exists." translate>
      You have already added this bank account. If you wish to make changes please edit your existing bank account.
    </span>
    <span ng-switch-default translate>
      There was an error saving your payment method. Please verify all your info and try again. If you are still seeing this message, contact <a href="mailto:eGift@cru.org">eGift@cru.org</a> for assistance.
    </span>
  </p>
</div>

<div class="panel panel-default panel-with-gray-background" ng-if="$ctrl.paymentMethod">
  <div class="panel-body">
    <payment-method-display payment-method="$ctrl.paymentMethod"></payment-method-display>
  </div>
</div>

<div class="mb_x" ng-if="!$ctrl.paymentMethod">
  <div class="row">
    <div class="col-md-6">
      <button id="addBankAccountButton" class="tab-btn btn btn-lg btn-default btn-block" ng-click="$ctrl.changePaymentType('bankAccount')" ng-class="{'on': $ctrl.paymentType === 'bankAccount'}">
        Bank Account
        <img ng-src="{{$ctrl.imgDomain}}/assets/img/icon-bank.png" alt="Bank Account Icon"/>
      </button>
    </div>
    <div class="col-md-6">
      <button id="addCreditCardButton" class="tab-btn btn btn-lg btn-default btn-block" ng-click="$ctrl.changePaymentType('creditCard')" ng-class="{'on': $ctrl.paymentType === 'creditCard'}">
        Credit Card
        <img ng-src="{{$ctrl.imgDomain}}/assets/img/icon-cc.png" alt="Credit Card Icon"/>
      </button>
    </div>
  </div>
</div>

<div class="tab-indiv cart-tab show" ng-if="$ctrl.paymentType === 'bankAccount'">

  <bank-account-form payment-form-state="$ctrl.paymentFormState" on-payment-form-state-change="$ctrl.onPaymentFormStateChange({ $event: $event })" payment-method="$ctrl.paymentMethod"></bank-account-form>

</div>
<div class="tab-org cart-tab show" ng-if="$ctrl.paymentType === 'creditCard'">

  <credit-card-form payment-form-state="$ctrl.paymentFormState" on-payment-form-state-change="$ctrl.onPaymentFormStateChange({ $event: $event })" payment-method="$ctrl.paymentMethod" disable-card-number="$ctrl.disableCardNumber" hide-cvv="$ctrl.hideCvv" mailing-address="$ctrl.mailingAddress"></credit-card-form>

</div>
