<div class="container-fluid">
  <div class="row repeating-row" ng-if="$ctrl.loading">
    <div class="col-xs-12">
      <loading>
        <div class="mb--" translate>Loading gifts...</div>
      </loading>
    </div>
  </div>

  <div
    class="row repeating-row"
    ng-if="!$ctrl.hasItems && !$ctrl.loading && !$ctrl.error"
  >
    <div class="col-xs-12">
      <p class="text-center mt-" translate>You have no gifts selected</p>
    </div>
  </div>

  <div class="row repeating-row" ng-if="$ctrl.error">
    <div class="col-xs-12 text-center mt- text-warning">
      <p translate>
        There was an error loading your selected gifts.
        <br />
        You can <a href="" ng-click="$ctrl.loadCart()">try again</a>.
      </p>
    </div>
  </div>

  <div class="row repeating-row top-row" ng-if="$ctrl.hasItems || $ctrl.error">
    <div class="col-xs-12">
      <p class="heading">My Giving</p>
    </div>
  </div>

  <div
    class="row"
    ng-class="{ 'desktop-cart-list': !$ctrl.mobile }"
    ng-if="$ctrl.hasItems"
  >
    <div class="col-xs-12">
      <div class="row repeating-row" ng-repeat="i in $ctrl.cartData.items">
        <div class="col-xs-12 giving-display-name">
          <img
            desig-src="{{i.designationNumber}}"
            class="giftsum-profile"
            width="55"
            height="55"
          />
          <p class="title">{{i.displayName}}</p>
        </div>
        <div class="col-xs-12">
          <p class="designation-number price">
            #{{i.designationNumber}} | {{i.price | coverFeesFilter:i:'price'}}
            {{i.frequency}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row repeating-row sub-total" ng-if="$ctrl.hasItems">
    <div class="col-xs-9">
      <p translate>
        Total
        <ng-pluralize
          count="$ctrl.cartData.items.length"
          when="{'0': '(0 Items)',
                     'one': '(1 Item)',
                     'other': '({} Items)'}"
        >
        </ng-pluralize>
      </p>
    </div>
    <div class="col-xs-3 text-right">
      <p>
        {{$ctrl.cartData.cartTotal |
        coverFeesFilter:$ctrl.cartData:'cartTotal'}}
      </p>
    </div>
  </div>
  <div class="row actions" ng-if="$ctrl.hasItems || $ctrl.error">
    <div class="col-xs-6">
      <a
        id="mini-cart-view-cart"
        ng-href="{{$ctrl.buildCartUrl()}}"
        class="btn btn-default btn-cart"
        ng-class="{ 'btn-mobile': $ctrl.mobile }"
        translate
        >View Gifts</a
      >
    </div>
    <div class="col-xs-6">
      <a
        id="mini-cart-checkout"
        href=""
        class="btn btn-primary btn-cart"
        ng-class="{ 'btn-mobile': $ctrl.mobile }"
        ng-click="$ctrl.checkout()"
        translate
        >Checkout</a
      >
    </div>
  </div>
</div>
