/***** TESTING *****/
.globalWebsites--is-open {
  background-image: url(https://www.cru.org/images/globalWebsites--huge.jpg);
  > main {display: none;}
}







@include mq(767px, max) {
    #js-globalWebsites {display: none !important;}
}

.globalWebsites--is-open {
    font-size: 1.1875em;
    height: auto;
    min-height: 100%;
    padding-top: 0;
    overflow-x: hidden;
    background-image: url("../images/globalWebsites--small.jpg");

    @include mq(480px) {
        background-image: url("../images/globalWebsites--medium.jpg");
    }

    @include mq(720px) {
        background-image: url("../images/globalWebsites--large.jpg");
    }

    @include mq(1024px) {
        background-image: url("../images/globalWebsites--huge.jpg");
    }

    background-attachment: fixed;
    background-size: cover;
    background-position: top center;

    .navToggle {
        color: $colorCru-white;
        z-index: 900;
        position: fixed;
        backface-visibility: hidden;
        display: block;

        &:hover {
            color: $colorCru-white;
        }
    }
}

#js-globalWebsites > .container-fluid {padding-left: 10px;}

.globalButton {

    @include mq($nav-break-min, max) {
        position: absolute !important;
        top: 15px;
        left: 15px;
    }

    @include mq($nav-break-min) {
        float: right !important;
    }
}

.globalWebsites-sidebar {

    position: relative;
    padding-top: 72px;
    padding-left: 2.12%;
    padding-right: 2.12%;
    background: rgba(0, 0, 0, 0.25);

    /* @include mq(1000px, max) {
        padding-left: 15px;
        padding-right: 15px;
    } */
}

.globalWebsites-continents {
    width: 16.66667%;
    position: fixed;
    backface-visibility: hidden;

    li {
        border-top: 1px solid $colorCru-gray;
        display: block;
        &:last-of-type {border-bottom: 1px solid $colorCru-gray;}
    }

    a {
        color: $colorGrayscale-rock;
        line-height: 1.1em;
        padding: 12px 10px !important;
        display: inline-block;

        &:hover {
            color: $colorCru-gold;
            font-weight: $fontWeight5;
            text-decoration: none;
        }
        &:focus {text-decoration: none;}
    }

    > .active > a {
        color: $colorCru-gold;
        font-weight: $fontWeight5;


    }

}

.globalWebsites-countries {
    padding-left: 44px;
    padding-top: 64px !important;

    h1 {
        color: $colorGrayscale-pebble;
    }

    p {
        line-height: 1.9em;
        margin-bottom: 0;
    }

    a {
        color: $colorGrayscale-rock;
        text-decoration: none;

        &:hover,
        &:active {
            color: $colorCru-white;
        }
    }

    .globalWebsites-country-header {
        display: block;
        color: $colorGrayscale-pebble;
        font-size: 20px;
        letter-spacing: 0.0025em;
        font-weight: 600;
        padding: 9px 0;
        line-height: 100%;
    }
}

.globalWebsites-website {

    a {
        color: $colorGrayscale-rock;

        &:hover {
            color: $colorCru-white;
            text-decoration: underline;
        }
    }

    span {
        padding-bottom: 30px;
    }

    > .active > a {
        color: $colorCru-blueBright;
        font-weight: $fontWeight5;
    }
}

.website {
    border-left: 1px solid $colorCru-gray;
    padding-left: 20px;
    padding-bottom: 3px;
    display: none;
    margin-top: 6px;
    margin-left: 29px;
    margin-bottom: 14px;
}

$countryHeight: 2em;

.globalWebsites-country {
    display: block;
    font-size: $countryHeight;
    font-weight: 100;
    line-height: $countryHeight * .5;
    padding: 9px 0;
    letter-spacing: 0.025em;
}
