<div class="screenContent">
  <section class="is-top">
      <div class="container">
        <h1 ng-if="!$ctrl.searchParams.type || $ctrl.searchParams.type === 'people'">
          <span translate ng-if="$ctrl.searchParams.keyword">
            Search Results for <strong>{{$ctrl.searchParams.keyword}}</strong>
          </span>
          <span translate ng-if="$ctrl.searchParams.first_name || $ctrl.searchParams.last_name">
            Search Results for <strong>{{$ctrl.searchParams.first_name}} {{$ctrl.searchParams.last_name}}</strong>
          </span>
          <em ng-if="$ctrl.searchResults.length">({{$ctrl.searchResults.length}} results)</em>
        </h1>
        <!-- Search Box -->

        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <form method="get" action="/search-results.html">
              <div class="input-group is-search-main">
                <input type="search" class="form-control" placeholder="Search for..." name="q">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit" translate>Search</button>
                </span>
              </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="is-tabs">
    <ul class="nav nav-tabs nav-search-tabs text-center">
      <li role="presentation"><a href="" ng-click="$ctrl.exploreSearch()" translate>Explore</a></li>
      <li role="presentation" class="active"><a href="" translate>Giving</a></li>
      <li role="presentation"><a href="https://www.cru.org/opportunities/mission-trips/upcoming.html" translate>Missions Trips</a></li>
    </ul>
  </section>


  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel">
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-12 col-md-3">
                <div class="is-advanced">
                  <form method="get" action="/search-results.html">
                    <h4 translate>Advanced Search <button type="button" class="btn btn-subtle pull-right visible-xs visible-sm is-toggle" ng-click="$ctrl.showAdvancedSearch = !$ctrl.showAdvancedSearch"><i class="fa fa-bars"></i></button></h4>

                    <div class="is-toggle-wrap" ng-class="{'open': $ctrl.showAdvancedSearch}">
                      <div class="is-widget">
                        <ul class="list-unstyled is-type-links">
                          <li ng-class="{'active': !$ctrl.searchParams.type}">
                            <a href="" ng-click="$ctrl.requestSearch('')" translate>All Giving Opportunities</a>
                          </li>
                          <li ng-class="{'active': $ctrl.searchParams.type === 'people'}">
                            <a href="" ng-click="$ctrl.requestSearch('people')" translate>People</a>
                          </li>
                          <li ng-class="{'active': $ctrl.searchParams.type === 'ministries'}">
                            <a href="" ng-click="$ctrl.requestSearch('ministries')" translate>Ministries</a>
                          </li>
                          <li ng-class="{'active': $ctrl.searchParams.type === 'featured'}">
                            <a href="" ng-click="$ctrl.requestSearch('featured')" translate>Featured</a>
                          </li>
                        </ul>
                      </div>

                      <div ng-if="$ctrl.searchParams.type === '' || $ctrl.searchParams.type === 'people'">
                        <div class="form-group">
                          <label translate>First Name</label>
                          <input type="text" class="form-control input-subtle" name="fName" value="{{$ctrl.searchParams.first_name}}">
                        </div>

                        <div class="form-group">
                          <label translate>Last Name</label>
                          <input type="text" class="form-control input-subtle" name="lName" value="{{$ctrl.searchParams.last_name}}">
                        </div>
                      </div>

                      <input type="hidden" name="type" value="{{$ctrl.searchParams.type}}">
                      <button class="btn btn-primary btn-block" type="submit" translate>Search</button>
                    </div>
                  </form>
                </div>
              </div>

              <div class="col-md-9 col-sm-12">
                <div class="" ng-if="$ctrl.searchParams.type === 'people' && !$ctrl.searchParams.keyword && !$ctrl.searchParams.first_name && !$ctrl.searchParams.last_name">
                  <h3 translate>Search for a person below.</h3>
                </div>

                <div ng-if="$ctrl.searchResults && !$ctrl.searchResults.length">
                  <p translate>Your search did not find any results. Please try again.</p>
                  <p translate>If you are uncertain of the exact spelling, enter the first few letters and avoid searching by nicknames.
                    If you still cannot find a staff member you are looking for, you can call 1-888-278-7233 for assistance.</p>
                </div>

                <div class="is-row clearfix" ng-repeat="r in $ctrl.searchResults">
                  <a ng-href="/{{r.designationNumber}}" class="is-row-thumb">
                    <img src="http://placehold.it/90x50">
                  </a>
                  <div class="is-row-meta">
                    <a ng-href="/{{r.designationNumber}}">
                      <span class="is-row-title">{{r.name}}</span>
                      <span class="is-row-num">#{{r.designationNumber}}</span>
                    </a>
                  </div>
                  <div class="is-row-actions hidden-xs">
                    <product-config product-code="{{r.designationNumber}}" button-label="Give a Gift" button-size="sm"></product-config>
                    &nbsp;
                    <a ng-href="/{{r.designationNumber}}" class="btn btn-sm btn-subtle" translate>Details</a>
                  </div>
                </div>

                <!--<h3 class="is-results-divider" translate>Featured Opportunities</h3>-->
              </div>
            </div>
          </div>
        </div>
        <loading-overlay ng-if="$ctrl.loadingResults"></loading-overlay>
      </div>
    </div>
  </div>
</div>
