<div class="modal-header" ng-if="!$ctrl.isInsideAnotherModal">
  <button type="button" class="close" aria-label="Close" ng-click="$ctrl.onCancel()">
    <span aria-hidden="true">×</span>
  </button>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="signup-header">
          <h3 translate>Create Your Account</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-class="{'modal-body': !$ctrl.isInsideAnotherModal }" class="sticky-buttons">
  <div class="content">
    <div id="osw-container"></div>
  </div>
</div>
