<div class="branded-checkout">
  <div
    class="container-fluid container-edge-small container-edge-extrasmall screenContent"
  >
    <div class="row">
      <div class="col-xs-12">
        <branded-checkout-step-1
          ng-if="$ctrl.checkoutStep === 'giftContactPayment'"
          code="$ctrl.code"
          campaign-code="$ctrl.campaignCode"
          campaign-page="$ctrl.campaignPage"
          amount="$ctrl.amount"
          frequency="$ctrl.frequency"
          day="$ctrl.day"
          donor-details="$ctrl.donorDetails"
          default-payment-type="$ctrl.defaultPaymentType"
          hide-payment-type-options="$ctrl.hidePaymentTypeOptions"
          show-cover-fees="$ctrl.showCoverFees"
          next="$ctrl.next()"
          on-payment-failed="$ctrl.onPaymentFailed($event.donorDetails)"
          radio-station-api-url="$ctrl.radioStationApiUrl"
          use-v3="$ctrl.useV3 === 'true'"
          hide-quarterly="$ctrl.hideQuarterly"
          hide-annual="$ctrl.hideAnnual"
          premium-code="$ctrl.premiumCode"
          premium-name="$ctrl.premiumName"
          premium-image-url="$ctrl.premiumImageUrl"
          item-config="$ctrl.itemConfig"
        >
        </branded-checkout-step-1>
        <branded-checkout-step-2
          ng-if="$ctrl.checkoutStep === 'review'"
          next="$ctrl.next()"
          previous="$ctrl.previous(newStep)"
          premium-name="$ctrl.premiumName"
          item-config="$ctrl.itemConfig"
        >
        </branded-checkout-step-2>
        <thank-you-summary
          ng-if="$ctrl.checkoutStep === 'thankYou'"
          on-purchase-loaded="$ctrl.onThankYouPurchaseLoaded($event.purchase)"
        >
        </thank-you-summary>
      </div>
    </div>
  </div>
</div>
