<div class="branded-checkout screenContent">
  <div class="container-fluid container-edge-small container-edge-extrasmall">
    <div class="row">
      <div class="col-xs-12">
        <branded-checkout-step-1
          *ngIf="checkoutStep === 'giftContactPayment'"
          [code]="code"
          [campaignCode]="campaignCode"
          (next)="next()">
        </branded-checkout-step-1>
        <branded-checkout-step-2
          *ngIf="checkoutStep === 'review'"
          (next)="next()"
          (previous)="previous()">
        </branded-checkout-step-2>
        <thank-you
          *ngIf="checkoutStep === 'thankYou'"
          [disableAccountBenefits]="true">
        </thank-you>
      </div>
    </div>
  </div>
</div>
