/* stylelint-disable-next-line selector-type-no-unknown */
loading {
  display: block;
  text-align: center;

  .give-loading-bar {
    display: inline-block;
    width: 7px;
    border-radius: 10%;
    transition: background .2s;
    vertical-align: middle;
  }

  .give-loading1 {
    height: 26px;
    animation: give-fade 1.2s infinite;
    animation-delay: 0s;
  }

  .give-loading2 {
    height: 32px;
    animation: give-fade 1.2s infinite;
    animation-delay: 0.3s;
  }

  .give-loading3 {
    height: 32px;
    animation: give-fade 1.2s infinite;
    animation-delay: 0.6s;
  }

  .give-loading4 {
    height: 26px;
    animation: give-fade 1.2s infinite;
    animation-delay: 0.9s;
  }

  @keyframes give-fade {
    0%, 100% {
      background: #e0e0e0;
    }

    25% {
      background: #43B3C9;
    }

    50% {
      background: #F9B625;
    }

    75% {
      background: #DE8123;
    }
  }

  .give-loading-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .give-loading-overlay {
    z-index: 2;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255 255 255 / 70%);
  }

  .give-loading-fixed:first-child {
    position: fixed;
    z-index: 2;
    top: 50%; 
    left: 50%;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .give-loadingWrap{
    display: inline-block
  }
}

.give-loading-overlay-parent{
  position: relative;
}

.give-icon-first > div {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
