register-account-modal,
sign-up-modal {
  display: block;
  line-height: 1.2em;

  a {
    cursor: pointer;
  }

  ul {
    padding-left: 1em;
  }

  .modal-body {
    padding: 30px;
  }

  .modal-header {
    background-color: #EBECEC;
    padding: 30px;
  }

  .signup-header {
    text-align: center;
  }
}

register-account-modal {
  .modal-header ul:last-child {
    margin-bottom: 0;
  }

  .section {
    margin-top: 20px;
  }

  .modal-dialog.modal-sm & {

    &[data-state=sign-in],
    &[data-state=loading-donor] {
      .modal-body {
        padding-top: 30px;
      }
    }
  }

  .modal-dialog.modal-lg & {

    &[data-state=sign-in],
    &[data-state=loading-donor] {
      @media screen and (min-width: 992px) {
        display: flex;

        .modal-header {

          flex: 1
        }

        sign-in-modal {
          width: 400px;
        }
      }
    }

    &[data-state=contact-info] {
      .modal-header {
        text-align: center;
        width: 100%;

        .paragraph {
          margin-left: auto;
          margin-right: auto;
          max-width: 500px;
        }
      }

      contact-info-modal form {
        column-gap: 20px;
        display: grid;
        grid-template: 1fr auto / auto 320px;

        .name {
          grid-column: 1;
          grid-row: 1;
        }

        .address {
          grid-column: 2;
          grid-row: 1 / 3;
        }

        .contact-info {
          grid-column: 1;
          grid-row: 2;
        }

        @media screen and (max-width: 991px) {
          display: block;
        }
      }
    }

    &[data-state=user-match] {
      .modal-header h3 {
        text-align: center;
      }

      .modal-body {
        margin-left: 200px;
        margin-right: 200px;
      }
    }
  }
}
