reset-password-modal {
  .username-explanation {
      margin: 0;
      color: #6e6e78;
      font-size: 14px;
      text-align: center;
  }


  #okta-sign-in {
    .identify {
      .o-form .o-form-fieldset:last-child {
        margin: 0
      }
    }

    .phone-authenticator-challenge {
      .o-form-fieldset-container > div {
        width: 100%;
      }

      .okta-form-subtitle {
        padding: 0 10px;
        margin-top: 10px;
        text-align: center;
      }
    }

    .password-authenticator {
      .o-form-fieldset[data-se="o-form-fieldset-credentials.revokeSessions"] {
        padding: 10px;
        margin: 0;
      }
    }

    .okta-verify-push-challenge {
      .o-form-fieldset[data-se="o-form-fieldset-autoChallenge"] {
        padding: 10px;
        border-top: 0;
        margin: 0;
      }
    }
  }
}
