returning-from-okta-modal {

  .signup-header {
    text-align: center;
  }
  
  .active-account {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

    p {
      width: 100%;
    }

    .okta-button {
      width: 100%;
    }
  }
}
