sign-up-activation-modal {
  
  .unverified-emails {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
    p {
      margin: 0;
    }
  }
  
  .unverified-email__header {
    font-weight: 600;
    padding: 5px 10px;
  }
  
  .unverified-email__value {
    background-color: #ebecec;
    border-radius: 5px;
    padding: 10px;
  }
  
  .unverified-email__value--email p:first-child {
    word-break: break-all;
  }
  
  .unverified-email__instructions {
    font-size: 11px;
    text-transform: uppercase;
    color: #a94442;
  }
  
  @media screen and (min-width: 550px) {
    .unverified-emails {
      flex-wrap: wrap;
      flex-direction: row;
    }
    
    .unverified-email__header--email {
      order: 1;
    }

    .unverified-email__value--email {
      order: 3;
      border-radius: 5px 0 0 5px;
    }

    .unverified-email__header--status {
      order: 2;
    }

    .unverified-email__value--status {
      order: 4;
      border-radius: 0 5px 5px 0;
    }

    .unverified-email__header--email,
    .unverified-email__value--email {
      flex-basis: 60%;
    }

    .unverified-email__header--status,
    .unverified-email__value--status {
      flex-basis: 40%;
      text-align: right;
    }
  }

  .need-help {
    cursor: pointer;
    font-size: 14px;
    color: #007398;
    font-style: italic;
    width: fit-content;
    &:hover {
      text-decoration: underline;
    }
  }

  .need-help-content {
    background: #e7e7e7;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    p:last-child {
      margin-bottom: 0;
    }
  }

  .active-account {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

    p {
      width: 100%;
    }
  }
}
