sign-up-modal {
  position: relative;

  .signup-header {
    text-align: center;
    padding-bottom: 1rem;
  }

  .signup-steps {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-top: 16px;
    border-top: 2px solid #f5f5f5;

    .between-steps {
      img {
        width: 18px;
      }
    }

    .step {
      img {
        width: 55px;
        opacity: 1;

        &.semi-transparent {
          opacity: .5;
        }
      }
    }
  }

  .okta-signup-loading {
    padding: 153px 0 153px;
  }

  form {
    margin-bottom: 40px;
  }
  .buttons {
    position: absolute;
    width: 100%;
    padding: 15px 30px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    border-top: rgba(0, 0, 0, 0.15) 1px solid;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    .back-to-sign-in {
      width: 150px;
    }

    .next-action {
      width: calc(100% - 150px);
    }
  }

  .checking-for-existing-data {
    font-size: 14px;
  }

  .sticky-buttons {
    max-height: 560px;
    overflow-y: auto;
    position: unset;
    height: calc(100vh - 170px);

    // When inside another modal
    &:not(.modal-body) {
      max-height: 520px;
      height: calc(100vh - 230px);

      form {
        margin-bottom: 60px;
      }

      .buttons {
        padding: 15px 0px 0;
      }
    }
  }

  // Hide password requirements unless on the password step
  section[data-se="password-authenticator--rules"] {
    display: none;
  }
  div[data-se="o-form-fieldset-credentials.passcode"] ~ section[data-se="password-authenticator--rules"] {
    display: block;
  }
}
