sign-in-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  margin-top: 20px;

  hr {
    width: 65%;
    margin: 12px auto;
  }

  a {
    cursor: pointer;
  }

  > p {
    margin-bottom: 0;
  }

  .okta-signup-button {
    $okta-brand: #007dc1;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-block: 20px;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: white;
    color: $okta-brand;
    border: 2px solid $okta-brand;
    border-radius: 4px;

    &:hover {
      color: white;
      background-color: $okta-brand;
      border-color: $okta-brand;
    }
    &:focus {
      color: white;
      background-color: darken($okta-brand, 3%);
      border-color: darken($okta-brand, 3%);
    }
  }

  .need-help {
    &--header {
      cursor: pointer;

      i {
        font-size: 11px;
        margin-right: 3px;
      }
    }

    &--content {
      max-height: 0px;
      overflow: hidden;
      transition: max-height 0.3s ease 0s;;
    }

    &.open {
      i {
        transform: rotate(90deg);
      }

      .need-help--content {
        max-height: 140px;
      }
    }
  }

  .alert {
    text-align: left;
  }
}

sign-in-button {
  .okta-button {
    width: 100%;
  }

  .fa {
    padding-left: 0.25rem;
  }
}
