sign-in-modal {
  display: block;

  h4 {
    font-size: 1.3em;
    line-height: 1.5em;
  }

  sign-in-form {
    margin-top: 0;

    hr {
      width: 45%;
    }
  }

  sign-in-button .btn-primary {
    @include button-variant(black, $btn-primary-bg, $btn-primary-border);
  }
}
