/*------------------------------------*\
    #VARIABLES/COLORS
\*------------------------------------*/

/**
 * Cru Colors
 */
$colorCru-gold:       #ffd000;
$colorCru-gray:       #565652;
$colorCru-mid-gray:   #444244;
$colorCru-white:      #fff;
$colorCru-orange:     #f08020;
$colorCru-blueDeep:   #007890;
$colorCru-blueBright: #00c0d8;


/**
 * Helpers
 */
$colorHelper-info:    $brand-info;
$colorHelper-success: $brand-success;
$colorHelper-warning: $brand-warning;
$colorHelper-wanger:  $brand-danger;


/**
 * Grayscale
 */
$colorGrayscale-background: #f7f7f7;
$colorGrayscale-text:       #3a3a3a;
$colorGrayscale-black:      #000;


/**
 * Framework
 */
$color-primary:   $colorCru-gold;
$color-secondary: $colorCru-blueDeep;
$color-third: $colorCru-blueDeep;

$brand-primary:   $color-primary;
