/*------------------------------------*\
    #VARIABLES/COLORS
\*------------------------------------*/

$base-margin:             $base-line-height !default;
$base-padding:            $base-line-height !default;

$enable-margins:          false !default;
$enable-margins--tiny:    false !default;
$enable-margins--small:   false !default;
$enable-margins--large:   false !default;
$enable-margins--huge:    false !default;
$enable-margins--none:    false !default;


$enable-paddings:         false !default;
$enable-paddings--tiny:   false !default;
$enable-paddings--small:  false !default;
$enable-paddings--large:  false !default;
$enable-paddings--huge:   false !default;
$enable-paddings--none:   false !default;
