<div class="modal-header {{$ctrl.state}}" ng-if="$ctrl.state !== 'sign-in' || $ctrl.welcomeBack">
  <button type="button" class="close" aria-label="Close" ng-click="$ctrl.onCancel()" ng-if="!$ctrl.hideCloseButton">
    <span aria-hidden="true">×</span>
  </button>
  <div ng-switch="$ctrl.state">
    <h3 ng-switch-when="loading-donor" translate>Checking your donor account</h3>
    <h3 ng-switch-when="sign-up" class="signup-header" translate>Create Your Account</h3>
    <h3 ng-switch-when="user-match" translate>Access Your Account</h3>
    <div ng-switch-when="sign-in" class="section">
      <ul>
        <li translate>Give to thousands of opportunities.</li>
        <li translate>View giving history (online and offline).</li>
        <li translate>Access your tax receipts and forms.</li>
      </ul>
    </div>
    <div ng-switch-when="contact-info" class="section paragraph" translate>
      Please fill in your information for your online account.
    </div>
  </div>
</div>
<div ng-switch="$ctrl.state">
  <sign-in-modal
    ng-switch-when="sign-in"
    modal-title="$ctrl.modalTitle"
    last-purchase-id="$ctrl.lastPurchaseId"
    on-sign-up="$ctrl.onSignUp()"
    on-success="$ctrl.onIdentitySuccess()"
    on-failure="$ctrl.onIdentityFailure()"
    is-inside-another-modal="true"
  ></sign-in-modal>
  <sign-up-modal
    ng-switch-when="sign-up"
    on-sign-up="$ctrl.onSignUpSuccess(donorDetails)"
    on-sign-in="$ctrl.onSignIn()"
    is-inside-another-modal="true"
  ></sign-up-modal>
  <div ng-switch-when="loading-donor">
    <div class="modal-body">
      <loading></loading>
    </div>
  </div>
  <contact-info-modal
    ng-switch-when="contact-info"
    modal-title="$ctrl.modalTitle"
    sign-up-donor-details="$ctrl.signUpDonorDetails"
    on-success="$ctrl.onContactInfoSuccess()"
    on-cancel="$ctrl.onCancel()"
  ></contact-info-modal>
  <user-match-modal
    ng-switch-when="user-match"
    cart-count="$ctrl.cartCount"
    modal-title="$ctrl.modalTitle"
    on-success="$ctrl.onUserMatchSuccess()"
    set-loading="$ctrl.setLoading({loading: loading})"
  ></user-match-modal>
  <div ng-switch-default class="modal-body" style="height: 100px;"></div>
</div>
