<div ng-switch="$ctrl.state">
  <div
    class="modal-header"
    ng-switch-when="loading|error"
    ng-switch-when-separator="|"
  >
    <button
      type="button"
      class="close"
      aria-label="Close"
      ng-click="$ctrl.dismiss()"
    >
      <span aria-hidden="true">x</span>
    </button>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="border-bottom-small">
            <h3 translate>Checking Payment Methods</h3>
            <p translate>
              You must have at least one valid payment method to continue
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-body" ng-switch-when="loading">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <loading>
            <translate>Loading payment information...</translate>
          </loading>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-body" ng-switch-when="error">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="text-center" translate>
            <div class="alert alert-danger">
              <p class="text-left" translate>
                There was an error loading your payment methods.
              </p>
              <p class="text-left" translate>
                You can try loading them again or continue and add a new payment
                method.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer" ng-switch-when="error">
    <div class="col-xs-6">
      <a class="btn btn-default" ng-click="$ctrl.dismiss()" translate>
        Cancel
      </a>
    </div>
    <div class="col-xs-6 text-right">
      <a class="btn btn-primary" ng-click="$ctrl.loadPaymentMethods()">Retry</a>
      <a class="btn btn-default" ng-click="$ctrl.next()">Continue</a>
    </div>
  </div>

  <step-0-payment-method-list
    ng-switch-when="step0PaymentMethodList"
    payment-methods="$ctrl.paymentMethods"
    dismiss="$ctrl.dismiss()"
    next="$ctrl.next(paymentMethod)"
    ng-init="$ctrl.analyticsFactory.track('ga-edit-recurring-select-payment-method')"
  >
  </step-0-payment-method-list>

  <step-0-add-update-payment-method
    ng-switch-when="step0AddUpdatePaymentMethod"
    payment-method="$ctrl.paymentMethod"
    can-go-back="$ctrl.hasPaymentMethods"
    dismiss="$ctrl.dismiss()"
    previous="$ctrl.previous()"
    next="$ctrl.next(paymentMethod)"
    ng-init="$ctrl.analyticsFactory.track($ctrl.paymentMethod ? 'ga-edit-recurring-edit-payment-method' : 'ga-edit-recurring-add-payment-method')"
  >
  </step-0-add-update-payment-method>

  <step-1-edit-recurring-gifts
    ng-switch-when="step1EditRecurringGifts"
    recurring-gifts="$ctrl.recurringGifts"
    dismiss="$ctrl.dismiss()"
    next="$ctrl.next(null, recurringGifts)"
    ng-init="$ctrl.analyticsFactory.track('ga-edit-recurring-configure')"
  >
  </step-1-edit-recurring-gifts>

  <step-2-add-recent-recipients
    ng-switch-when="step2AddRecentRecipients"
    recent-recipients="$ctrl.recentRecipients"
    has-recent-recipients="$ctrl.hasRecentRecipients"
    loading-recent-recipients="$ctrl.loadingRecentRecipients"
    has-recurring-gift-changes="$ctrl.hasRecurringGiftChanges"
    dismiss="$ctrl.dismiss()"
    previous="$ctrl.previous()"
    next="$ctrl.next(null, null, additions)"
    ng-init="$ctrl.analyticsFactory.track('ga-edit-recurring-add-recent')"
  >
  </step-2-add-recent-recipients>

  <step-2-search-recipients
    ng-switch-when="step2SearchRecipients"
    dismiss="$ctrl.dismiss()"
    previous="$ctrl.previous()"
    next="$ctrl.next(null, null, additions)"
    ng-init="$ctrl.analyticsFactory.track('ga-edit-recurring-search')"
  >
  </step-2-search-recipients>

  <step-3-configure-recent-recipients
    ng-switch-when="step3ConfigureRecentRecipients"
    additions="$ctrl.additions"
    dismiss="$ctrl.dismiss()"
    previous="$ctrl.previous()"
    next="$ctrl.next(null, null, additions)"
    ng-init="$ctrl.analyticsFactory.track('ga-edit-recurring-configure-new-gifts')"
  >
  </step-3-configure-recent-recipients>

  <step-4-confirm
    ng-switch-when="step4Confirm"
    recurring-gift-changes="$ctrl.recurringGiftChanges"
    additions="$ctrl.additions"
    dismiss="$ctrl.dismiss()"
    previous="$ctrl.previous()"
    next="$ctrl.next()"
    ng-init="$ctrl.analyticsFactory.track('ga-edit-recurring-review')"
  >
  </step-4-confirm>
</div>
