<div ng-switch="$ctrl.state">
  <div class="modal-header" ng-switch-when="loading|error" ng-switch-when-separator="|">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="border-bottom-small">
            <button type="button" class="close" aria-label="Close" ng-click="$ctrl.dismiss()"><span aria-hidden="true">&times;</span></button>
            <h3 translate>Checking Payment Methods</h3>
            <p translate>You must have at least one valid payment method to continue</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-body" ng-switch-when="loading">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <loading>
            <translate>Loading payment information...</translate>
          </loading>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-body" ng-switch-when="error">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="text-center" translate>
            <div class="alert alert-danger">
              <p class="text-left" translate>There was an error loading your payment methods.</p>
              <p class="text-left" translate>You can try loading them again or continue and add a new payment method.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer" ng-switch-when="error">
    <div class="row row-no-spacing">
      <div class="col-xs-6">
        <a class="btn btn-default"
           ng-click="$ctrl.dismiss()"
           translate>
          Cancel
        </a>
      </div>
      <div class="col-xs-6 text-right">
        <a class="btn btn-primary" ng-click="$ctrl.loadPaymentMethods()">Retry</a>
        <a class="btn btn-default" ng-click="$ctrl.next()">Continue</a>
      </div>
    </div>
  </div>


  <step-0-payment-method-list
    ng-switch-when="step0PaymentMethodList"
    payment-methods="$ctrl.paymentMethods"
    dismiss="$ctrl.dismiss()"
    next="$ctrl.next(paymentMethod)">
  </step-0-payment-method-list>

  <step-0-add-update-payment-method
    ng-switch-when="step0AddUpdatePaymentMethod"
    payment-method="$ctrl.paymentMethod"
    can-go-back="$ctrl.hasPaymentMethods"
    dismiss="$ctrl.dismiss()"
    previous="$ctrl.previous()"
    next="$ctrl.next(paymentMethod)">
  </step-0-add-update-payment-method>

  <step-1-edit-recurring-gifts
    ng-switch-when="step1EditRecurringGifts"
    recurring-gifts="$ctrl.recurringGifts"
    has-recent-recipients="$ctrl.hasRecentRecipients"
    dismiss="$ctrl.dismiss()"
    next="$ctrl.next(null, recurringGifts)">
  </step-1-edit-recurring-gifts>

  <step-2-add-recent-recipients
    ng-switch-when="step2AddRecentRecipients"
    recent-recipients="$ctrl.recentRecipients"
    loading-recent-recipients="$ctrl.loadingRecentRecipients"
    dismiss="$ctrl.dismiss()"
    previous="$ctrl.previous()"
    next="$ctrl.next(null, null, additions)">
  </step-2-add-recent-recipients>

  <step-3-configure-recent-recipients
    ng-switch-when="step3ConfigureRecentRecipients"
    additions="$ctrl.additions"
    dismiss="$ctrl.dismiss()"
    previous="$ctrl.previous()"
    next="$ctrl.next(null, null, additions)">
  </step-3-configure-recent-recipients>

  <step-4-confirm
    ng-switch-when="step4Confirm"
    recurring-gifts="$ctrl.recurringGifts"
    additions="$ctrl.additions"
    dismiss="$ctrl.dismiss()"
    previous="$ctrl.previous()"
    next="$ctrl.next()">
  </step-4-confirm>
</div>
