<primary-nav></primary-nav>
<sub-nav></sub-nav>
<a ui-sref="cart" href="#">Cart</a>
<a ui-sref="checkout" href="#">Checkout</a>
<ui-view class="content-area" ></ui-view>

<div class="test">
    <div class="container container-edge-small container-edge-extrasmall">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="panel">
              <div class="panel-body">
                <h3 class="panel-name">Debug tools</h3>
                <button class="btn btn-primary" ng-click="$ctrl.addItemToCart('a5t4fmspmi3gpqvsky6xi3ocvrq4hdgcwdbk6w6cunitxq4cl7bllqvklmqq=')">Add 1st item to cart</button>
                <button class="btn btn-primary" ng-click="$ctrl.addItemToCart('a5t4fmspmfpw7qv7li7tes2yhu=')">Add 2nd item to cart</button>
                <button class="btn btn-primary" ng-click="$ctrl.addItemToCart('a5t4fmspmixgpqvsky6xi3ocvrq4hdgcvpbyivocuv2w2udqykq4hca=')">Add 3rd item to cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
