<ul class="list-inline container">
  <li><a href="/search-results.html">Search</a></li>
  <li><a href="/cart.html">Cart</a></li>
  <li><a href="/sign-in.html">Sign-In</a></li>
  <li><a href="/checkout.html">Checkout</a></li>
  <li><a href="/thank-you.html">Thank You</a></li>
  <li><a href="/payment-methods.html">Payment Methods</a></li>
  <li><a href="/profile.html">Profile</a></li>
  <li><a href="/receipts.html">Receipts</a></li>
  <li><a href="/your-giving.html">Your Giving</a></li>
  <li><a href="/designation-editor.html?d=0559826">Designation Editor</a></li>
  <li><a href="/branded-checkout.html">Branded Checkout</a></li>
  <li><nav-cart-icon></nav-cart-icon></li>
  <li><a href="" ng-click="$ctrl.signOut()">Sign Out</a></li>
  <li><a href="" ng-click="$ctrl.signInModal()">Sign In Modal</a></li>
  <li>
    <a href="" ng-click="$ctrl.registerAccountModal()"
      >Register Account Modal</a
    >
  </li>
</ul>

<ui-view></ui-view>
