<div class="screenContent account-management">
  <div class="container container-edge-small container-edge-extrasmall">
    <div class="container">
      <div class="panel pane-margin-bottom">
        <div class="panel-body">
          <div class="row pb">
            <div class="col-md-6">
              <h3>Your Payment Methods</h3>
            </div>
            <div class="col-md-6 text-right">
              <a class="btn btn-primary" ng-click="$ctrl.addPaymentMethod()">Add New Payment Method</a>
            </div>
          </div>
          <div class="row">
            <div ng-repeat="(index,paymentMethod) in $ctrl.paymentMethods" class="panel-group panel-collapse" id="accordion" role="tablist" aria-multiselectable="true">
              <payment-method model="paymentMethod"></payment-method>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
