<div class="form-group" ng-if="$ctrl.address">
  <p ng-if="$ctrl.address.country === 'US'">
    {{$ctrl.address.streetAddress}}<br/>
    <span ng-if="$ctrl.address.extendedAddress">{{$ctrl.address.extendedAddress}}<br/></span>
    {{$ctrl.address.locality}},
    {{$ctrl.address.region}}
    {{$ctrl.address.postalCode}}
  </p>
  <p ng-if="$ctrl.address.country !== 'US'">
    {{$ctrl.address.streetAddress}}<br/>
    <span ng-if="$ctrl.address.extendedAddress">{{$ctrl.address.extendedAddress}}<br/></span>
    {{$ctrl.address.intAddressLine3}}<br/>
    {{$ctrl.address.intAddressLine4}}<br/>
    {{$ctrl.countries[$ctrl.address.country]['display-name'] || $ctrl.address.country}}
  </p>
</div>
