<form novalidate name="$ctrl.bankPaymentForm">

  <div class="mb_x">

    <h4 class="panel-title  border-bottom-small  visible" translate>Bank Account Payment</h4>


    <div class="row">
      <div class="col-sm-6">
        <div class="form-group form-group-default is-required" ng-class="{'has-error': ($ctrl.bankPaymentForm.bankName | showErrors)}">
          <label>Bank Name</label>
          <input type="text" class="form-control form-control-subtle" name="bankName" ng-model="$ctrl.bankPayment.bankName" required/>
          <div role="alert" ng-messages="$ctrl.bankPaymentForm.bankName.$error" ng-if="($ctrl.bankPaymentForm.bankName | showErrors)">
            <div class="help-block" ng-message="required" translate>You must enter a bank name</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group form-group-default form-group-inline" ng-class="{'has-error': ($ctrl.bankPaymentForm.accountType | showErrors)}">
          <label class="label-block">Account Type</label>
          <label class="radio-inline">
            <input type="radio" name="accountType" ng-model="$ctrl.bankPayment.accountType" value="checking" required> Checking <span class="hidden-md">Account</span>
          </label>
          <label class="radio-inline">
            <input type="radio" name="accountType" ng-model="$ctrl.bankPayment.accountType" value="savings" required> Savings <span class="hidden-md">Account</span>
          </label>
          <div role="alert" ng-messages="$ctrl.bankPaymentForm.accountType.$error" ng-if="($ctrl.bankPaymentForm.accountType | showErrors)">
            <div class="help-block" ng-message="required" translate>You must choose an account type</div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-4">
        <div class="form-group is-required" ng-class="{'has-error': ($ctrl.bankPaymentForm.routingNumber | showErrors)}">
          <label>Routing #</label>
          <input type="text" class="form-control  form-control-subtle" name="routingNumber" ng-model="$ctrl.bankPayment.routingNumber" required>
          <div role="alert" ng-messages="$ctrl.bankPaymentForm.routingNumber.$error" ng-if="($ctrl.bankPaymentForm.routingNumber | showErrors)">
            <div class="help-block" ng-message="required" translate>You must enter a routing number</div>
            <div class="help-block" ng-message="length" translate>This routing number must contain 9 digits</div>
            <div class="help-block" ng-message="routingNumber" translate>This routing number is invalid</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group is-required" ng-class="{'has-error': ($ctrl.bankPaymentForm.accountNumber | showErrors)}">
          <label>Account #</label>
          <input type="text" class="form-control  form-control-subtle" name="accountNumber" ng-model="$ctrl.bankPayment.accountNumber" required>
          <div role="alert" ng-messages="$ctrl.bankPaymentForm.accountNumber.$error" ng-if="($ctrl.bankPaymentForm.accountNumber | showErrors)">
            <div class="help-block" ng-message="required" translate>You must enter an account number</div>
            <div class="help-block" ng-message="length" translate>This account number must contain 17 or fewer digits</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group is-required" ng-class="{'has-error': ($ctrl.bankPaymentForm.verifyAccountNumber | showErrors)}">
          <label>Retype Account #</label>
          <input type="text" class="form-control  form-control-subtle" name="verifyAccountNumber" ng-model="$ctrl.bankPayment.verifyAccountNumber" required>
          <div role="alert" ng-messages="$ctrl.bankPaymentForm.verifyAccountNumber.$error" ng-if="($ctrl.bankPaymentForm.verifyAccountNumber | showErrors)">
            <div class="help-block" ng-message="required" translate>You must retype your account number</div>
            <div class="help-block" ng-message="verifyAccountNumber" translate>Your account numbers do not match</div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-12">
        Locate your Routing and Account Numbers <a href="" class="circle-it bank-explain-trigger">
        <i class="fa fa-question"></i></a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="bank-explain-wrap">
          <div class="panel panel-default panel-secondary">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-8">
                  <img src="/assets/img/check-sample.png" alt="Credit Card Icon"/>
                </div>
                <div class="col-sm-4">
                  <h4>Where to find it.</h4>
                  <p>Use your account and routing numbers from your check. Dont use your deposit slip.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb">

    <div class="mb">
      <h4 class="panel-title  border-bottom-small  visible">Bank Account Agreement</h4>
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>By selecting the "I Agree" checkbox below, I acknowledge that I have read, understand and agree to these Terms and Conditions, and that this agreement constitutes a "writing signed by me" under any applicable law or regulation. I authorize Cru to initiate electronic funds transfers (debits) from my account at the financial institution listed above, and to initiate deposits (credits) if necessary for any withdrawals made in error. This authority is to remain in full force and effect until Cru has received notification from me of its termination in such time as to afford Cru reasonable opportunity to act on it. All contributions to Cru are income tax-deductible and are made with the understanding that Cru has complete discretion and control over the use of all donated funds.</p>
            </div>
          </div>

          <div class="form-group is-required" ng-class="{'has-error': ($ctrl.bankPaymentForm.acceptedAgreement | showErrors)}">
            <label class="checkbox-inline">
              <input type="checkbox" name="acceptedAgreement" ng-model="$ctrl.bankPayment.acceptedAgreement" required value="true"> I Agree
            </label>
            <div role="alert" ng-messages="$ctrl.bankPaymentForm.acceptedAgreement.$error" ng-if="($ctrl.bankPaymentForm.acceptedAgreement | showErrors)">
              <div class="help-block" ng-message="required" translate>You must accept this agreement to pay with a bank account</div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div> <!-- // mb -->

</form>
