<div class="screenContent">
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <!-- Cart Summary -->
          <div class="panel">
            <div class="panel-body">
              <h3 class="panel-name" translate>Your Gift Cart</h3>
              <div class="loading-wrap" ng-if="!$ctrl.cartData">
                <span class="loading loading1"></span>
                <span class="loading loading2"></span>
                <span class="loading loading3"></span>
                <span class="loading loading4"></span>
              </div>
              <p ng-if="$ctrl.cartData && !$ctrl.cartData.items.length" translate>
                Your cart is empty
              </p>
              <form ng-if="$ctrl.cartData.items.length">
                <table class="table giftsum-table">
                  <thead>
                  <tr>
                    <th class="th-title-gift" translate>Gift</th>
                    <th class="th-title-frequency" translate>Frequency</th>
                    <th class="th-title-amount" translate>Amount</th><th class="th-title-actions"></th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr class="giftsum-gift-row" ng-repeat="i in $ctrl.cartData.items">
                      <td class="td-gift">
                        <img src="http://placehold.it/90x70" class="giftsum-profile pull-left">
                        <span class="giftsum-person giftsum-title"><a ng-href="/{{i.designationNumber}}">{{i.displayName}}</a></span>
                        <span class="giftsum-accountnum giftsum-detail"><span class="hidden-xs" translate>Ministry </span>#{{i.designationNumber}}</span>
                      </td>
                      <td class="td-frequency">
                        <span class="giftsum-frequency giftsum-title">{{i.frequency}}</span>
                        <span class="giftsum-date giftsum-detail" ng-if="i.frequency !== 'Single'">
                          <translate>Starts on:</translate>
                          {{$ctrl.donationStartDate(i.config['start-month'], i.config['start-day']) | date:'MMM d'}}
                        </span>
                      </td>
                      <td class="td-amount">
                        <span class="giftsum-about giftsum-title">{{i.price}}</span>
                        <span class="giftsum-detail"><span class=" visible-xs" translate>Gift Amount</span></span>
                      </td>
                      <td class="td-actions giftsum-actions">
                        <a href="" class="btn btn-link btn-giftsum-action" ng-click="$ctrl.editItem(i)" translate>Edit</a>
                        <span class="sep"> | </span>
                        <a href="" class="btn btn-link btn-giftsum-action" ng-click="$ctrl.removeItem(i.uri)" translate>Remove</a>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot class="mobile-footer-persist">
                    <tr>
                      <td colspan="4" class="text-right">
                        <div class="checkout-cta pull-right">
                          <a href ng-click="$ctrl.checkout()" class="btn btn-primary btn-lg btn-block" translate>Proceed to Checkout</a>
                        </div>
                        <span class="giftsum-line" ng-repeat="t in $ctrl.cartData.frequencyTotals">
                          Your {{t.frequency}} Gift Total:
                          <strong>{{t.total}}</strong>
                        </span>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </form>
            </div>
          </div>
          <!-- // Cart Summary -->
        </div>
      </div>
    </div>
  </div><!-- //blank wrapper -->
</div><!-- //screenContent -->
