<div class="content">
  <div class="col-md-3 col-xs-12"></div>
  <div class="col-md-6 col-xs-12">
    <div class="alert alert-danger" role="alert" ng-if="$ctrl.verifyError" ng-switch="$ctrl.verifyError">
      <p ng-switch-default translate>
        {{'UNVERIFY_EMAIL_ERROR'}}
      </p>
    </div>

    <div class="row text-center">
      <div class="col-xs-12">
        <h4 translate>Activate Account</h4>
        <p translate>You will need to go to your email and open an email with the subject <strong>Activate Account for Giving to Cru.</strong></p>
        <p translate>Verify your account by opening a link that we will send in that email.</p>
      </div>
    </div>

    <div class="loading-overlay-parent">
      <loading type="overlay" ng-if="$ctrl.loadingUnverifiedEmails">
        <translate>{{'CHECKING_FOR_EXISTING'}}</translate>
      </loading>

      <div class="alert alert-danger" role="alert" ng-if="$ctrl.loadingUnverifiedEmailsError">
        <p translate>{{'LOADING_ERROR_RETRY'}}</p>
        <p><button id="retryButton1" type="button" class="btn btn-primary" ng-click="$ctrl.getUnverifiedEmails()" translate>{{'RETRY'}}</button></p>
      </div>

      <div class="row unverified-email-headers">
        <div class="col-xs-8">
          <p translate>Email</p>
        </div>
        <div class="col-xs-4">
          <p translate class="pull-right">Status</p>
        </div>
      </div>
      <div class="row unverified-emails">
        <div class="unverified-email" ng-repeat="unverifiedEmail in $ctrl.unverifiedEmails">
          <div class="col-xs-8">
            <p translate>{{unverifiedEmail.email}}</p>
          </div>
          <div class="col-xs-4">
            <p translate class="pull-right">{{unverifiedEmail.status}}</p>
          </div>
        </div>
      </div>


      <p
        translate
        class="need-help"
        ng-click="$ctrl.showHelp = !$ctrl.showHelp"
      >
        {{$ctrl.showHelp ? 'Close help.' : 'Need help locating verify email?'}}
      </p>


      <div class="screenshot" ng-if="$ctrl.showHelp">
        <div class="row">
          <div class="col-xs-12">
            <p translate>You'll receive an email very similar to the one below.</p>
            <img src="{{$ctrl.imgDomain}}/assets/img/photo-placeholder.png" alt="Screenshot of verify email from Okta" />
          </div>
        </div>
      </div>

      <div class="row buttons">
        <div class="col-xs-6">
          <button
            id="continueButton"
            type="button"
            class="btn btn-primary pull-right"
            ng-click="$ctrl.emailIsVerified()"
            translate
          >
            Continue
          </button>
        </div>
        <div class="col-xs-6">
          <a ng-click="$ctrl.onStateChange({state:'sign-in'})" class="back-to-sign-in">Back to sign in</a>
        </div>
      </div>
    </div>

    <hr />

    <div class="row bottom-links">
      <div class="col-xs-6">Powered by Okta</div>
      <div class="col-xs-6">
        <a href="https://www.cru.org/us/en/about/privacy.html" target="_blank" rel="noopener" class="pull-right">Privacy Policy</a>
      </div>
    </div>

  </div>
  <div class="col-md-3 col-xs-12"></div>
</div>

