<div class="modal-header">
  <button
    type="button"
    class="close"
    aria-label="Close"
    ng-click="$ctrl.cancel()"
  >
    <span aria-hidden="true">x</span>
  </button>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="border-bottom-small">
          <h3 translate>Make Changes to your Recurring Gifts</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-body">
  <div ng-repeat="gift in $ctrl.gifts" class="repeating-row">
    <gift-list-item gift="gift">
      <gift-update-view gift="gift"></gift-update-view>
    </gift-list-item>
  </div>
</div>

<div class="modal-footer">
  <div class="col-xs-6">
    <a class="btn btn-default" ng-click="$ctrl.previous()" translate> Back </a>
  </div>
  <div class="col-xs-6 text-right">
    <button
      class="btn btn-primary"
      ng-click="$ctrl.next({ configured: $ctrl.gifts })"
      translate
    >
      Continue
    </button>
  </div>
</div>
