<form novalidate name="$ctrl.giftForm" aria-label="Update gift details form">
  <div class="row mt-">
    <div class="col-sm-6">
      <div
        class="form-group"
        ng-class="{'has-error': ($ctrl.giftForm.amount | showErrors)}">
        <label>
          <span translate>Amount</span>
          <input
            type="number"
            name="amount"
            class="form-control form-control-subtle"
            ng-model="$ctrl.gift.amount"
            required
            aria-invalid="{{ $ctrl.giftForm.amount | showErrors }}"
            ng-min="1"
            ng-max="10000000"
            ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
            aria-describedby="amountErrors"
          />
        </label>
        <div
          id="amountErrors"
          role="alert"
          ng-messages="$ctrl.giftForm.amount.$error"
          ng-if="($ctrl.giftForm.amount | showErrors)">
          <div class="help-block" ng-message="required" translate>
            You must enter an amount
          </div>
          <div class="help-block" ng-message="min" translate>
            Amount must be at least $1
          </div>
          <div class="help-block" ng-message="max" translate>
            Amount cannot be more than $10,000,000
          </div>
          <div class="help-block" ng-message="number" translate>
            Please enter a valid number
          </div>
          <div class="help-block" ng-message="pattern" translate>
            Please enter a valid number
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6" ng-switch="$ctrl.singleGift">
      <p class="mt hidden-xs" ng-switch-when="true" translate>One-Time Gift</p>
      <div
        class="form-group"
        ng-switch-default
        ng-class="{'has-error': !$ctrl.gift.paymentMethod}">
        <label>
          <span translate>Payment Method</span>
          <select
            name="paymentMethod"
            class="form-control form-control-subtle"
            ng-model="$ctrl.gift.paymentMethodId"
            ng-options="paymentMethod.self.uri.split('/').pop() as ((paymentMethod['bank-name'] || paymentMethod['card-type']) + ' ****' + (paymentMethod['display-account-number'] || paymentMethod['last-four-digits'])) for paymentMethod in $ctrl.gift.paymentMethods"
            required
            aria-required="true"
            aria-invalid="{{!$ctrl.gift.paymentMethod ? 'true' : 'false'}}"
            aria-describedby="paymentMethodError">
          </select>
        </label>
        <div id="paymentMethodError" role="alert" ng-if="!$ctrl.gift.paymentMethod">
          <div class="help-block" translate>
            You must choose a valid payment method
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="!$ctrl.singleGift">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>
            <span translate>Frequency</span>
            <select
              name="frequency"
              class="form-control form-control-subtle"
              ng-model="$ctrl.gift.frequency">
              <option value="Monthly" translate>Monthly</option>
              <option value="Quarterly" translate>Quarterly</option>
              <option value="Annual" translate>Annually</option>
              <option
                value="Semi-Annual"
                ng-if="$ctrl.gift.parentDonation['rate']['recurrence']['interval'] === 'Semi-Annual'"
                translate>
                Semi-Annually
              </option>
            </select>
          </label>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>
            <span translate>Transaction Day</span>
            <select
              name="transactionDay"
              class="form-control form-control-subtle"
              ng-model="$ctrl.gift.transactionDay"
              ng-options="o as (o | ordinal) for o in $ctrl.possibleTransactionDays()">
            </select>
          </label>
        </div>
      </div>
    </div>

    <div ng-if="$ctrl.gift.frequency === 'Quarterly'">
      <p>
        <span translate>You have selected </span>
        <strong translate>quarterly </strong>
        <span translate>as a frequency. Please tell
        us in which months you would like your quarterly gifts to be made</span>
      </p>

      <fieldset class="form-group">
        <legend class="sr-only">Quarterly gift months</legend>
        <label class="radio">
          <input
            type="radio"
            name="quarterlyStartMonth"
            ng-model="$ctrl.gift.startMonth"
            ng-value="$ctrl.startDate($ctrl.gift.transactionDay, $ctrl.gift.nextDrawDate).format('M')"
          />
          {{ $ctrl.quarterlyMonths($ctrl.gift.transactionDay,
          $ctrl.gift.nextDrawDate) }}
        </label>
        <label class="radio">
          <input
            type="radio"
            name="quarterlyStartMonth"
            ng-model="$ctrl.gift.startMonth"
            ng-value="$ctrl.startDate($ctrl.gift.transactionDay, $ctrl.gift.nextDrawDate, 1).format('M')"
          />
          {{ $ctrl.quarterlyMonths($ctrl.gift.transactionDay,
          $ctrl.gift.nextDrawDate, 1) }}
        </label>
        <label class="radio">
          <input
            type="radio"
            name="quarterlyStartMonth"
            ng-model="$ctrl.gift.startMonth"
            ng-value="$ctrl.startDate($ctrl.gift.transactionDay, $ctrl.gift.nextDrawDate, 2).format('M')"
          />
          {{ $ctrl.quarterlyMonths($ctrl.gift.transactionDay,
          $ctrl.gift.nextDrawDate, 2) }}
        </label>
      </fieldset>
    </div>

    <div ng-if="$ctrl.gift.frequency === 'Annual'">
      <p>
        <span translate>You have selected </span>
        <strong translate>annually </strong>
        <span translate>as a frequency. Please tell
        us in which months you would like your annual gifts to be made.</span>
      </p>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="annualStartMonth" class="sr-only">
              <span translate>Annual gift month</span>
              <select
                name="annualStartMonth"
                class="form-control form-control-subtle"
                ng-model="$ctrl.gift.startMonth"
                ng-options="(idx*1+1).toString() as month for (idx, month) in $ctrl.possibleMonths">
              </select>
            </label>
          </div>
        </div>
      </div>
    </div>
    <p class="mb0" role="status" aria-live="polite" aria-atomic="true">
      <span translate>Next gift will be on</span>
      <strong>{{$ctrl.gift.nextGiftDate.format('ll')}}</strong>
    </p>
  </div>
</form>
