<form novalidate name="$ctrl.giftForm">
  <div class="row mt-">
    <div class="col-sm-6">
      <div
        class="form-group"
        ng-class="{'has-error': ($ctrl.giftForm.amount | showErrors)}"
      >
        <label translate>Amount</label>
        <input
          type="number"
          name="amount"
          class="form-control form-control-subtle"
          ng-model="$ctrl.gift.amount"
          required
          ng-min="1"
          ng-max="10000000"
          ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
        />
        <div
          role="alert"
          ng-messages="$ctrl.giftForm.amount.$error"
          ng-if="($ctrl.giftForm.amount | showErrors)"
        >
          <div class="help-block" ng-message="required" translate>
            You must enter an amount
          </div>
          <div class="help-block" ng-message="min" translate>
            Amount must be at least $1
          </div>
          <div class="help-block" ng-message="max" translate>
            Amount cannot be more than $10,000,000
          </div>
          <div class="help-block" ng-message="number" translate>
            Please enter a valid number
          </div>
          <div class="help-block" ng-message="pattern" translate>
            Please enter a valid number
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6" ng-switch="$ctrl.singleGift">
      <p class="mt hidden-xs" ng-switch-when="true" translate>One-Time Gift</p>
      <div
        class="form-group"
        ng-switch-default
        ng-class="{'has-error': !$ctrl.gift.paymentMethod}"
      >
        <label translate>Payment Method</label>
        <select
          class="form-control form-control-subtle"
          ng-model="$ctrl.gift.paymentMethodId"
          ng-options="paymentMethod.self.uri.split('/').pop() as ((paymentMethod['bank-name'] || paymentMethod['card-type']) + ' ****' + (paymentMethod['display-account-number'] || paymentMethod['last-four-digits'])) for paymentMethod in $ctrl.gift.paymentMethods"
        ></select>
        <div role="alert" ng-if="!$ctrl.gift.paymentMethod">
          <div class="help-block" translate>
            You must choose a valid payment method
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="!$ctrl.singleGift">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label translate>Frequency</label>
          <select
            class="form-control form-control-subtle"
            ng-model="$ctrl.gift.frequency"
          >
            <option value="Monthly" translate>Monthly</option>
            <option value="Quarterly" translate>Quarterly</option>
            <option value="Annual" translate>Annually</option>
            <option
              value="Semi-Annual"
              ng-if="$ctrl.gift.parentDonation['rate']['recurrence']['interval'] === 'Semi-Annual'"
              translate
            >
              Semi-Annually
            </option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label translate>Transaction Day</label>
          <select
            class="form-control form-control-subtle"
            ng-model="$ctrl.gift.transactionDay"
            ng-options="o as (o | ordinal) for o in $ctrl.possibleTransactionDays()"
          ></select>
        </div>
      </div>
    </div>

    <div ng-if="$ctrl.gift.frequency === 'Quarterly'">
      <p>
        You have selected <strong>quarterly</strong> as a frequency. Please tell
        us in which months you would like your quarterly gifts to be made
      </p>

      <div class="form-group">
        <label class="radio">
          <input
            type="radio"
            ng-model="$ctrl.gift.startMonth"
            ng-value="$ctrl.startDate($ctrl.gift.transactionDay, $ctrl.gift.nextDrawDate).format('M')"
          />
          {{ $ctrl.quarterlyMonths($ctrl.gift.transactionDay,
          $ctrl.gift.nextDrawDate) }}
        </label>
        <label class="radio">
          <input
            type="radio"
            ng-model="$ctrl.gift.startMonth"
            ng-value="$ctrl.startDate($ctrl.gift.transactionDay, $ctrl.gift.nextDrawDate, 1).format('M')"
          />
          {{ $ctrl.quarterlyMonths($ctrl.gift.transactionDay,
          $ctrl.gift.nextDrawDate, 1) }}
        </label>
        <label class="radio">
          <input
            type="radio"
            ng-model="$ctrl.gift.startMonth"
            ng-value="$ctrl.startDate($ctrl.gift.transactionDay, $ctrl.gift.nextDrawDate, 2).format('M')"
          />
          {{ $ctrl.quarterlyMonths($ctrl.gift.transactionDay,
          $ctrl.gift.nextDrawDate, 2) }}
        </label>
      </div>
    </div>

    <div ng-if="$ctrl.gift.frequency === 'Annual'">
      <p>
        You have selected <strong>annually</strong> as a frequency. Please tell
        us in which months you would like your annual gifts to be made
      </p>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <select
              class="form-control form-control-subtle"
              ng-model="$ctrl.gift.startMonth"
              ng-options="(idx*1+1).toString() as month for (idx, month) in $ctrl.possibleMonths"
            ></select>
          </div>
        </div>
      </div>
    </div>
    <p class="mb0">
      <span translate>Next gift will be on</span>
      <strong>{{$ctrl.gift.nextGiftDate.format('ll')}}</strong>
    </p>
  </div>
</form>
