<form novalidate name="$ctrl.giftForm" aria-label="Update gift details form">
  <div class="row mt-">
    <div class="col-sm-6">
      <div
        class="form-group"
        ng-class="{'has-error': ($ctrl.giftForm.amount | showErrors)}"
      >
        <label for="giftAmount" translate>Amount</label>
        <input
          id="giftAmount"
          type="number"
          name="amount"
          class="form-control form-control-subtle"
          ng-model="$ctrl.gift.amount"
          required
          aria-required="true"
          aria-invalid="{{($ctrl.giftForm.amount | showErrors) ? 'true' : 'false'}}"
          ng-min="1"
          ng-max="10000000"
          ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
          aria-describedby="amountErrors"
        />
        <div
          id="amountErrors"
          role="alert"
          ng-messages="$ctrl.giftForm.amount.$error"
          ng-if="($ctrl.giftForm.amount | showErrors)"
        >
          <div class="help-block" ng-message="required" translate>
            You must enter an amount
          </div>
          <div class="help-block" ng-message="min" translate>
            Amount must be at least $1
          </div>
          <div class="help-block" ng-message="max" translate>
            Amount cannot be more than $10,000,000
          </div>
          <div class="help-block" ng-message="number" translate>
            Please enter a valid number
          </div>
          <div class="help-block" ng-message="pattern" translate>
            Please enter a valid number
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6" ng-switch="$ctrl.singleGift">
      <p class="mt hidden-xs" ng-switch-when="true" translate>One-Time Gift</p>
      <div
        class="form-group"
        ng-switch-default
        ng-class="{'has-error': !$ctrl.gift.paymentMethod}"
      >
        <label for="paymentMethod" translate>Payment Method</label>
        <select
          id="paymentMethod"
          name="paymentMethod"
          class="form-control form-control-subtle"
          ng-model="$ctrl.gift.paymentMethodId"
          ng-options="paymentMethod.self.uri.split('/').pop() as ((paymentMethod['bank-name'] || paymentMethod['card-type']) + ' ****' + (paymentMethod['display-account-number'] || paymentMethod['last-four-digits'])) for paymentMethod in $ctrl.gift.paymentMethods"
          required
          aria-required="true"
          aria-invalid="{{!$ctrl.gift.paymentMethod ? 'true' : 'false'}}"
          aria-describedby="paymentMethodError"
        ></select>
        <div id="paymentMethodError" role="alert" ng-if="!$ctrl.gift.paymentMethod">
          <div class="help-block" translate>
            You must choose a valid payment method
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="!$ctrl.singleGift">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="giftFrequency" translate>Frequency</label>
          <select
            id="giftFrequency"
            name="frequency"
            class="form-control form-control-subtle"
            ng-model="$ctrl.gift.frequency"
          >
            <option value="Monthly" translate>Monthly</option>
            <option value="Quarterly" translate>Quarterly</option>
            <option value="Annual" translate>Annually</option>
            <option
              value="Semi-Annual"
              ng-if="$ctrl.gift.parentDonation['rate']['recurrence']['interval'] === 'Semi-Annual'"
              translate
            >
              Semi-Annually
            </option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="transactionDay" translate>Transaction Day</label>
          <select
            id="transactionDay"
            name="transactionDay"
            class="form-control form-control-subtle"
            ng-model="$ctrl.gift.transactionDay"
            ng-options="o as (o | ordinal) for o in $ctrl.possibleTransactionDays()"
          ></select>
        </div>
      </div>
    </div>

    <div ng-if="$ctrl.gift.frequency === 'Quarterly'">
      <p>
        <span translate>You have selected </span>
        <strong translate>quarterly </strong>
        <span translate>as a frequency. Please tell
        us in which months you would like your quarterly gifts to be made</span>
      </p>

      <fieldset class="form-group">
        <legend class="sr-only">Select quarterly gift months</legend>
        <label class="radio" for="quarterlyMonth1">
          <input
            id="quarterlyMonth1"
            type="radio"
            name="quarterlyStartMonth"
            ng-model="$ctrl.gift.startMonth"
            ng-value="$ctrl.startDate($ctrl.gift.transactionDay, $ctrl.gift.nextDrawDate).format('M')"
          />
          {{ $ctrl.quarterlyMonths($ctrl.gift.transactionDay,
          $ctrl.gift.nextDrawDate) }}
        </label>
        <label class="radio" for="quarterlyMonth2">
          <input
            id="quarterlyMonth2"
            type="radio"
            name="quarterlyStartMonth"
            ng-model="$ctrl.gift.startMonth"
            ng-value="$ctrl.startDate($ctrl.gift.transactionDay, $ctrl.gift.nextDrawDate, 1).format('M')"
          />
          {{ $ctrl.quarterlyMonths($ctrl.gift.transactionDay,
          $ctrl.gift.nextDrawDate, 1) }}
        </label>
        <label class="radio" for="quarterlyMonth3">
          <input
            id="quarterlyMonth3"
            type="radio"
            name="quarterlyStartMonth"
            ng-model="$ctrl.gift.startMonth"
            ng-value="$ctrl.startDate($ctrl.gift.transactionDay, $ctrl.gift.nextDrawDate, 2).format('M')"
          />
          {{ $ctrl.quarterlyMonths($ctrl.gift.transactionDay,
          $ctrl.gift.nextDrawDate, 2) }}
        </label>
      </fieldset>
    </div>

    <div ng-if="$ctrl.gift.frequency === 'Annual'">
      <p>
        <span translate>You have selected </span>
        <strong translate>annually </strong>
        <span translate>as a frequency. Please tell
        us in which months you would like your annual gifts to be made.</span>
      </p>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="annualStartMonth" class="sr-only" translate>Select annual gift month</label>
            <select
              id="annualStartMonth"
              name="annualStartMonth"
              class="form-control form-control-subtle"
              ng-model="$ctrl.gift.startMonth"
              ng-options="(idx*1+1).toString() as month for (idx, month) in $ctrl.possibleMonths"
            ></select>
          </div>
        </div>
      </div>
    </div>
    <p class="mb0" role="status" aria-live="polite" aria-atomic="true">
      <span translate>Next gift will be on</span>
      <strong>{{$ctrl.gift.nextGiftDate.format('ll')}}</strong>
    </p>
  </div>
</form>
