<div class="modal-body">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" ng-init="tab = 'parentDesignation'">
    <li ng-class="{'active': tab === 'parentDesignation'}">
      <a href="" ng-click="tab = 'parentDesignation'">
        <span class="xs-hide">Parent </span>Designation
      </a>
    </li>
    <li ng-class="{'active': tab === 'givingAmounts'}">
      <a href="" ng-click="tab = 'givingAmounts'">
        Custom <span class="xs-hide">Giving </span>Amounts
      </a>
    </li>
    <li ng-class="{'active': tab === 'other'}">
      <a href="" ng-click="tab = 'other'">
        Other
      </a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" ng-if="tab === 'parentDesignation'">
      <div class="form-group">
        <label>Parent Designation</label>
        <input type="text" class="form-control" ng-model="$ctrl.parentDesignationNumber">
      </div>
      <div class="form-group">
        <label>Organization ID</label>
        <div><strong>{{$ctrl.organizationId}}</strong></div>
        <span class="help-block"><strong>Email <a href="mailto:fds@cru.org">fds@cru.org</a> to update/change.</strong></span>
      </div>
    </div>

    <div class="tab-pane active" ng-if="tab === 'givingAmounts'">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>Amount</th>
            <th>Title (Description)</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="a in $ctrl.suggestedAmounts track by $index">
            <td><input type="number" class="form-control" placeholder="50" ng-model="a.amount"></td>
            <td><input type="text" class="form-control" placeholder="$50.53 to help 14 refugees" ng-model="a.description"></td>
            <td><a href="" class="btn-link btn" ng-click="$ctrl.suggestedAmounts.splice($index, 1)">
              <i class="fa fa-minus-circle"></i>
            </a></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <a href="" ng-click="$ctrl.suggestedAmounts.push({})"><i class="fa fa-plus-circle"></i> Add another giving amount</a>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

    <div class="tab-pane active" ng-if="tab === 'other'">
      <p>Additional settings can be changed by sending email to <strong><a href="mailto:fds@cru.org">fds@cru.org</a></strong></p>

      <ul>
        <li>Designation Active/Inactive Status</li>
        <li>Donor Receipt Titles</li>
      </ul>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary pull-right"
          ng-click="$close({
            parentDesignationNumber: $ctrl.parentDesignationNumber,
            suggestedAmounts: $ctrl.transformSuggestedAmounts()
          })">
    Save &amp; Close
  </button>
  <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
</div>
