<div class="panel panel-default tab-toggle mb0">
  <div class="panel-title panel-heading" translate>Your Payment Methods</div>
  <div class="panel-body">
    <div class="radio radio-method" ng-repeat="paymentMethod in $ctrl.paymentMethods" ng-init="expired = !$ctrl.validPaymentMethod(paymentMethod)">
      <label>
        <input type="radio" name="paymentMethod" ng-model="$ctrl.selectedPaymentMethod" ng-value="paymentMethod" ng-disabled="expired" required>
        <payment-method-display payment-method="paymentMethod" expired="expired"></payment-method-display>
        <button class="btn btn-xs btn-link" ng-click="$ctrl.openPaymentMethodFormModal(paymentMethod)" ng-if="paymentMethod.self.type === 'cru.creditcards.named-credit-card'" translate>edit</button>
      </label>
    </div>

    <div class="panel panel-default tab-toggle mb0 mt"
         ng-if="$ctrl.cartData && $ctrl.cartData.items && $ctrl.selectedPaymentMethod && $ctrl.selectedPaymentMethod['card-type']">
      <div class="panel-title panel-heading" translate>{{'OPTIONAL'}}</div>
      <div class="panel-body">
        <div class="checkbox checkbox-inline">
          <label ng-if="$ctrl.cartData.items.length === 1">
            <input type="checkbox"
                   name="coverFees"
                   ng-model="$ctrl.coverFees"
                   ng-value="true"
                   ng-change="$ctrl.updatePrices()">
            <span class="cover-fees-text">
              I want my gift to go even further for ministry!
              To help cover credit / debit card processing fees, please adjust my gift amount to
              $<span ng-bind="$ctrl.cartData.items[0].amountWithFee"></span><span class="text-lowercase"
                                                              ng-if="$ctrl.cartData.items[0].frequency !== 'Single'">
                {{$ctrl.cartData.items[0].frequency}}
              </span>.
            </span>
          </label>
          <div ng-if="$ctrl.cartData.items.length > 1">
            <label>
              <input type="checkbox"
                     name="coverFees"
                     ng-model="$ctrl.coverFees"
                     ng-value="true"
                     ng-change="$ctrl.updatePrices()">
                I want my gifts to go even further for ministry!
                To help cover credit / debit card processing fees, please adjust my gift amounts to
            </label>
            <ul>
              <li ng-repeat="cartItem in $ctrl.cartData.items">
                $<span ng-bind="cartItem.amountWithFee"></span>
                <span class="text-lowercase" ng-if="cartItem.frequency !== 'Single'">
                    {{cartItem.frequency}}
                  </span>
                <span class="text-lowercase" ng-if="cartItem.frequency === 'Single'">
                    {{cartItem.frequency}} gift
                  </span>
                for
                <span>
                    {{cartItem.displayName}}
                  </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="mt">
      <button id="addNewPaymentMethodButton" type="button" class="btn btn-default btn-xs" ng-click="$ctrl.openPaymentMethodFormModal()">
        <i class="fa fa-plus"></i>
        <span translate>Add New Payment Method</span>
      </button>
    </div>
  </div><!-- // panel-body -->
</div>
