<div class="panel panel-default tab-toggle">
  <div class="panel-title panel-heading" translate>Your Payment Methods</div>
  <div class="panel-body">
    <div class="radio radio-method" ng-repeat="paymentMethod in $ctrl.paymentMethods" ng-init="expired = !$ctrl.validPaymentMethod(paymentMethod)">
      <label>
        <input type="radio" name="paymentMethod" ng-model="$ctrl.selectedPaymentMethod" ng-value="paymentMethod" ng-disabled="expired" required>
        <payment-method-display payment-method="paymentMethod" expired="expired"></payment-method-display>
        <button class="btn btn-xs btn-link" ng-click="$ctrl.openPaymentMethodFormModal(paymentMethod)" ng-if="paymentMethod.self.type === 'cru.creditcards.named-credit-card'" translate>edit</button>
      </label>
    </div>

    <div class="mt">
      <button id="addNewPaymentMethodButton" type="button" class="btn btn-default btn-xs" ng-click="$ctrl.openPaymentMethodFormModal()">
        <i class="fa fa-plus"></i>
        <span translate>Add New Payment Method</span>
      </button>
    </div>
  </div><!-- // panel-body -->
</div>
