<div class="mb">
  <div class="panel panel-default">
    <div class="panel-heading">
      Receipt Address
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-8">
          <div class="form-group" ng-if="$ctrl.donorDetails">
            <p>
              {{$ctrl.donorDetails['mailing-address']['street-address']}}<br/>
              {{$ctrl.donorDetails['mailing-address']['locality']}},
              {{$ctrl.donorDetails['mailing-address']['region']}}
              {{$ctrl.donorDetails['mailing-address']['postal-code']}}
            </p>
          </div>
          <div class="loading-wrap" ng-if="!$ctrl.donorDetails">
            <span class="loading loading1"></span>
            <span class="loading loading2"></span>
            <span class="loading loading3"></span>
            <span class="loading loading4"></span>
          </div>
        </div>
        <div class="col-md-4 text-right">
          <button class="btn btn-default btn-block" ng-click="$ctrl.changeStep({newStep: 'contact'})">Change</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb">
  <div class="panel panel-default">
    <div class="panel-heading">
      Payment Method
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-8">
          <div class="row" ng-if="$ctrl.bankAccountPaymentDetails">
            <div class="col-md-6">
              <div class="form-group">
                <label class="">Bank Name</label>
                <p>{{$ctrl.bankAccountPaymentDetails['bank-name']}}</p>
              </div>
              <div class="form-group">
                <label class="">Account Number</label>
                <p class="number">************{{$ctrl.bankAccountPaymentDetails['display-account-number']}}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="">Account Type</label>
                <p class="number">{{$ctrl.bankAccountPaymentDetails['account-type'] | capitalize}}</p>
              </div>
              <div class="form-group">
                <label class="">Routing Number</label>
                <p class="number">{{$ctrl.bankAccountPaymentDetails['routing-number']}}</p>
              </div>
            </div>
          </div>
          <div class="row" ng-if="$ctrl.creditCardPaymentDetails">
            <div class="col-md-6">
              <div class="form-group">
                <label class="">Name on card</label>
                <p>{{$ctrl.creditCardPaymentDetails['cardholder-name']}}</p>
              </div>
              <div class="form-group">
                <label class="">Card Number</label>
                <p class="number">************{{$ctrl.creditCardPaymentDetails['card-number']}}</p><!-- TODO: this is undefined -->
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="">Card Type</label>
                <p class="number">{{$ctrl.creditCardPaymentDetails['card-type']}}</p>
              </div>
              <div class="form-group">
                <label class="">Expires</label>
                <p class="number">{{$ctrl.creditCardPaymentDetails['expiry-month']}}/{{$ctrl.creditCardPaymentDetails['expiry-year']}}</p><!-- TODO: deal with localization -->
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="">Billing Address</label>
                <p>8898 Strawberry Lane, Orlando, Florida 77678-9909</p>
              </div>
            </div>
          </div>
          <div class="loading-wrap" ng-if="!$ctrl.bankAccountPaymentDetails && !$ctrl.creditCardPaymentDetails">
            <span class="loading loading1"></span>
            <span class="loading loading2"></span>
            <span class="loading loading3"></span>
            <span class="loading loading4"></span>
          </div>
        </div>
        <div class="col-md-4 text-right">
          <button class="btn btn-default btn-block" ng-click="$ctrl.changeStep({newStep: 'payment'})">Change</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb">
  <div class="panel panel-default">
    <div class="panel-heading">
      Review Items
    </div>
    <div class="panel-body">
      <table class="table giftsum-table">
        <thead>
        <tr>
          <th class="th-title-gift">Gift</th>
          <th class="th-title-frequency">Frequency</th>
          <th class="th-title-amount">Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr class="giftsum-gift-row" ng-repeat="i in $ctrl.cartData.items">
          <td class="td-gift">
            <img src="http://placehold.it/90x70" class="giftsum-profile pull-left">
            <span class="giftsum-person giftsum-title">{{i.displayName}}</span>
            <span class="giftsum-accountnum giftsum-detail"><span class="hidden-xs">Ministry </span>#{{i.designationNumber}}</span>
          </td>
          <td class="td-frequency">
            <span class="giftsum-frequency giftsum-title">{{i.frequency}}</span>
            <span class="giftsum-date giftsum-detail">Starts on: 7/8/2019</span>
          </td>
          <td class="td-amount">
            <span class="giftsum-about giftsum-title">{{i.price}}</span>
            <span class="giftsum-detail"><span class=" visible-xs">Gift Amount</span></span>
          </td>
        </tr>
        </tbody>
        <tfoot class="mobile-footer-persist">
        <tr>
          <td colspan="3" class="text-right">
            <div class="checkout-cta pull-right">
              <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="$ctrl.submitOrder()" ng-disabled="!($ctrl.donorDetails && ($ctrl.bankAccountPaymentDetails || $ctrl.creditCardPaymentDetails) && $ctrl.cartData)">
                Submit Your Gift
              </button>
            </div>
              <span class="giftsum-line" ng-repeat="t in $ctrl.cartData.frequencyTotals">
                Your {{t.frequency}} Gift Total:
                <strong>{{t.total}}</strong>
              </span>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
