<div class="loading-overlay-parent">
  <div class="alert alert-danger" role="alert" ng-if="$ctrl.needinfoErrors || $ctrl.submissionError">
    <p ng-repeat="error in $ctrl.needinfoErrors" ng-switch="error">
      <span ng-switch-when="email-info" translate>There was an issue with your email. Please verify that it is correct.</span>
      <span ng-switch-when="payment-method-info" translate>There was an issue with your payment. Please verify that all your payment information is correct.</span>
      <span ng-switch-when="billing-address-info" translate>There was an issue with your billing address. Please verify that your billing address is correct.</span>
      <span ng-switch-default translate>
        <span ng-if="$ctrl.submissionErrorStatus > -1" translate>
          There was an unknown error indicating that the order is still missing data.
          Please verify all your info, try refreshing the page, and, if you are still seeing this message, please contact <a href="mailto:eGift@cru.org">eGift@cru.org</a> for assistance.
        </span>
       <span ng-if="$ctrl.submissionErrorStatus === -1" translate>
         There was an error receiving your gift submission status. Your connection dropped or timed out.
         Please contact <a href="mailto:eGift@cru.org">eGift@cru.org</a> for assistance.
       </span>
      </span>
    </p>
    <p ng-if="$ctrl.submissionError" ng-switch="$ctrl.submissionError">
      <span ng-switch-when="Current payment type is unknown" translate>
        There was an error submitting your payment. Verify that your payment info is correct or try adding it again. If you are still seeing this message, please contact <a href="mailto:eGift@cru.org">eGift@cru.org</a> for assistance.
      </span>
      <span ng-switch-when="CardExpiredException" translate>
        Your card is expired.
      </span>
      <span ng-switch-when="CardErrorException" translate>
        The credit card number entered is invalid.
      </span>
      <span ng-switch-when="CardDeclinedException" translate>
        Your credit card was declined.
      </span>
      <span ng-switch-when="InsufficientFundException" translate>
        Your credit card was declined due to insufficient funds.
      </span>
      <span ng-switch-when="AuthorizedAmountExceededException" translate>
        This transaction exceeds your available card balance.
      </span>
      <span ng-switch-when="InvalidCVV2Exception" translate>
        The security code entered for your card is invalid.
      </span>
      <span ng-switch-when="InvalidAddressException" translate>
        The billing address entered does not match the address associated with the card.
      </span>
      <span ng-switch-default translate>
        There was an issue processing your request. Please contact <a href="mailto:eGift@cru.org">eGift@cru.org</a> for assistance.
      </span>
    </p>
  </div>
  <div class="mb">
    <div class="panel panel-default">
      <div class="panel-heading">
        <translate>Contact Information</translate>
        <button id="changeContactButton" class="btn btn-default btn-panel-head pull-right" ng-click="$ctrl.changeStep({newStep: 'contact'})" translate>Change</button>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div>
              {{$ctrl.donorDetails.name.title}}
              {{$ctrl.donorDetails.name['given-name']}}
              {{$ctrl.donorDetails.name['middle-initial']}}
              {{$ctrl.donorDetails.name['family-name']}}
              {{$ctrl.donorDetails.name.suffix}}
            </div>
            <div ng-if="$ctrl.donorDetails['donor-type'] === 'Household'">
              {{$ctrl.donorDetails['spouse-name'].title}}
              {{$ctrl.donorDetails['spouse-name']['given-name']}}
              {{$ctrl.donorDetails['spouse-name']['middle-initial']}}
              {{$ctrl.donorDetails['spouse-name']['family-name']}}
              {{$ctrl.donorDetails['spouse-name'].suffix}}
            </div>
            <div ng-if="$ctrl.donorDetails['donor-type'] === 'Organization'">
              {{$ctrl.donorDetails['organization-name']}}
            </div>
            <display-address address="$ctrl.donorDetails.mailingAddress"></display-address>
            <div>
              {{$ctrl.donorDetails.email}}
            </div>
            <loading ng-if="!$ctrl.donorDetails"></loading>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb">
    <div class="panel panel-default">
      <div class="panel-heading">
        <tranlsate>Payment Method</tranlsate>
        <button id="changePaymentButton" class="btn btn-default btn-panel-head pull-right" ng-click="$ctrl.changeStep({newStep: 'payment'})" translate>Change</button>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div class="row" ng-if="$ctrl.bankAccountPaymentDetails">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="" translate>Bank Name</label>
                  <p>{{$ctrl.bankAccountPaymentDetails['bank-name']}}</p>
                </div>
                <div class="form-group">
                  <label class="" translate>Account Number</label>
                  <p class="number">************{{$ctrl.bankAccountPaymentDetails['display-account-number']}}</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="" translate>Account Type</label>
                  <p class="number">{{$ctrl.bankAccountPaymentDetails['account-type'] | capitalize}}</p>
                </div>
                <div class="form-group">
                  <label class="" translate>Routing Number</label>
                  <p class="number">{{$ctrl.bankAccountPaymentDetails['routing-number']}}</p>
                </div>
              </div>
            </div>
            <div class="row" ng-if="$ctrl.creditCardPaymentDetails">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="" translate>Name on card</label>
                  <p>{{$ctrl.creditCardPaymentDetails['cardholder-name']}}</p>
                </div>
                <div class="form-group">
                  <label class="" translate>Card Number</label>
                  <p class="number">************{{$ctrl.creditCardPaymentDetails['last-four-digits']}}</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="" translate>Card Type</label>
                  <p class="number">{{$ctrl.creditCardPaymentDetails['card-type']}}</p>
                </div>
                <div class="form-group">
                  <label class="" translate>Expires</label>
                  <p class="number">{{$ctrl.creditCardPaymentDetails['expiry-month']}}/{{$ctrl.creditCardPaymentDetails['expiry-year']}}</p><!-- TODO: deal with localization -->
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="" translate>Billing Address</label>
                  <display-address address="$ctrl.creditCardPaymentDetails.address"></display-address>
                </div>
              </div>
            </div>
            <loading ng-if="$ctrl.loadingCurrentPayment"></loading>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb">
    <div class="panel panel-default">
      <div class="panel-heading">
        <tranlsate>Review Gifts</tranlsate>
        <button id="changeCartButton" class="btn btn-default btn-panel-head pull-right" ng-click="$ctrl.changeStep({newStep: 'cart'})" translate>Change</button>
      </div>
      <div class="panel-body">
        <loading ng-if="!$ctrl.cartData"></loading>
        <table class="table giftsum-table" ng-if="$ctrl.cartData">
          <thead>
          <tr>
            <th class="th-title-gift" translate>Gift</th>
            <th class="th-title-frequency" translate>Frequency</th>
            <th class="th-title-amount" translate>Amount</th>
          </tr>
          </thead>
          <tbody>
          <tr class="giftsum-gift-row" ng-repeat="i in $ctrl.cartData.items">
            <td class="td-gift">
              <img desig-src="{{i.designationNumber}}" class="giftsum-profile pull-left">
              <span class="giftsum-person giftsum-title">{{i.displayName}}</span>
              <span class="giftsum-accountnum giftsum-detail">#{{i.designationNumber}}</span>
            </td>
            <td class="td-frequency">
              <span class="giftsum-frequency giftsum-title">{{i.frequency}}</span>
              <span class="giftsum-date giftsum-detail" ng-if="i.frequency !== 'Single'" translate>
              Starts on: {{i.giftStartDate.format('ll')}}
            </span>
            </td>
            <td class="td-amount">
              <span class="giftsum-about giftsum-title">{{i.price}}</span>
              <span class="giftsum-detail"><span class="visible-xs" translate>Gift Amount</span></span>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="3">
              <div class="checkout-cart-summary pull-left">
                <display-rate-totals rate-totals="$ctrl.cartData.frequencyTotals"></display-rate-totals>
              </div>
              <div class="checkout-cta pull-right">
                <button id="submitOrderButton" type="submit" class="btn btn-primary btn-lg btn-block" ng-click="$ctrl.submitOrder()" ng-disabled="!$ctrl.canSubmitOrder()" translate>
                  Submit Your Gift
                </button>
              </div>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <loading type="overlay" ng-if="$ctrl.submittingOrder">
    <translate>Submitting your gift...</translate>
  </loading>
</div>
