<div class="alert alert-danger" role="alert" ng-if="$ctrl.needinfoErrors || $ctrl.submissionError">
  <p ng-repeat="error in $ctrl.needinfoErrors" ng-switch="error">
    <span ng-switch-when="email-info" translate>There was an issue with your email. Please verify that it is correct.</span>
    <span ng-switch-when="payment-method-info" translate>There was an issue with your payment. Please verify that all your payment information is correct.</span>
    <span ng-switch-when="billing-address-info" translate>There was an issue with your billing address. Please verify that your billing address is correct.</span>
    <span ng-switch-default translate>There was an unknown error indicating that the order is still missing data. Please verify all your info, try refreshing the page, and, if you are still seeing this message, contact support.</span>
  </p>
  <p ng-if="$ctrl.submissionError" ng-switch="$ctrl.submissionError">
    <span ng-switch-when="Submitting a credit card purchase requires a CCV and the CCV was not retrieved correctly" translate>
      There was an error submitting your credit card's security code (CCV). Your session may have expired before it was sent. Try changing your payment method and saving your credit card again.
    </span>
    <span ng-switch-when="Current payment type is unknown" translate>
      There was an error submitting your payment. Verify that your payment info is correct or try adding it again. If you are still seeing this message, contact support.
    </span>
    <span ng-switch-default translate>
      There was an unknown error submitting your order. Please verify all your info and try again. If you are still seeing this message, contact support.
    </span>
  </p>
</div>
<div class="mb">
  <div class="panel panel-default">
    <div class="panel-heading">
      Contact Information
      <button class="btn btn-default btn-panel-head pull-right" ng-click="$ctrl.changeStep({newStep: 'contact'})">Change</button>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div>
            {{$ctrl.donorDetails.name.title}}
            {{$ctrl.donorDetails.name['given-name']}}
            {{$ctrl.donorDetails.name['middle-initial']}}
            {{$ctrl.donorDetails.name['family-name']}}
            {{$ctrl.donorDetails.name.suffix}}
          </div>
          <div ng-if="$ctrl.donorDetails['donor-type'] === 'Household'">
            {{$ctrl.donorDetails['spouse-name'].title}}
            {{$ctrl.donorDetails['spouse-name']['given-name']}}
            {{$ctrl.donorDetails['spouse-name']['middle-initial']}}
            {{$ctrl.donorDetails['spouse-name']['family-name']}}
            {{$ctrl.donorDetails['spouse-name'].suffix}}
          </div>
          <div ng-if="$ctrl.donorDetails['donor-type'] === 'Organization'">
            {{$ctrl.donorDetails['organization-name']}}
          </div>
          <display-address address="$ctrl.donorDetails.mailingAddress"></display-address>
          <loading ng-if="!$ctrl.donorDetails"></loading>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb">
  <div class="panel panel-default">
    <div class="panel-heading">
      Payment Method
      <button class="btn btn-default btn-panel-head pull-right" ng-click="$ctrl.changeStep({newStep: 'payment'})">Change</button>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="row" ng-if="$ctrl.bankAccountPaymentDetails">
            <div class="col-md-6">
              <div class="form-group">
                <label class="">Bank Name</label>
                <p>{{$ctrl.bankAccountPaymentDetails['bank-name']}}</p>
              </div>
              <div class="form-group">
                <label class="">Account Number</label>
                <p class="number">************{{$ctrl.bankAccountPaymentDetails['display-account-number']}}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="">Account Type</label>
                <p class="number">{{$ctrl.bankAccountPaymentDetails['account-type'] | capitalize}}</p>
              </div>
              <div class="form-group">
                <label class="">Routing Number</label>
                <p class="number">{{$ctrl.bankAccountPaymentDetails['routing-number']}}</p>
              </div>
            </div>
          </div>
          <div class="row" ng-if="$ctrl.creditCardPaymentDetails">
            <div class="col-md-6">
              <div class="form-group">
                <label class="">Name on card</label>
                <p>{{$ctrl.creditCardPaymentDetails['cardholder-name']}}</p>
              </div>
              <div class="form-group">
                <label class="">Card Number</label>
                <p class="number">************{{$ctrl.creditCardPaymentDetails['card-number']}}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="">Card Type</label>
                <p class="number">{{$ctrl.creditCardPaymentDetails['card-type']}}</p>
              </div>
              <div class="form-group">
                <label class="">Expires</label>
                <p class="number">{{$ctrl.creditCardPaymentDetails['expiry-month']}}/{{$ctrl.creditCardPaymentDetails['expiry-year']}}</p><!-- TODO: deal with localization -->
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="">Billing Address</label>
                <display-address address="$ctrl.creditCardPaymentDetails.address"></display-address>
              </div>
            </div>
          </div>
          <loading ng-if="!$ctrl.bankAccountPaymentDetails && !$ctrl.creditCardPaymentDetails"></loading>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb">
  <div class="panel panel-default">
    <div class="panel-heading">
      Review Gifts
    </div>
    <div class="panel-body">
      <table class="table giftsum-table">
        <thead>
        <tr>
          <th class="th-title-gift">Gift</th>
          <th class="th-title-frequency">Frequency</th>
          <th class="th-title-amount">Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr class="giftsum-gift-row" ng-repeat="i in $ctrl.cartData.items">
          <td class="td-gift">
            <img desig-src="{{i.designationNumber}}" class="giftsum-profile pull-left">
            <span class="giftsum-person giftsum-title">{{i.displayName}}</span>
            <span class="giftsum-accountnum giftsum-detail">#{{i.designationNumber}}</span>
          </td>
          <td class="td-frequency">
            <span class="giftsum-frequency giftsum-title">{{i.frequency}}</span>
            <span class="giftsum-date giftsum-detail" ng-if="i.frequency !== 'Single'" translate>
              Starts on: {{i.giftStartDate.format('ll')}}
            </span>
          </td>
          <td class="td-amount">
            <span class="giftsum-about giftsum-title">{{i.price}}</span>
            <span class="giftsum-detail"><span class=" visible-xs">Gift Amount</span></span>
          </td>
        </tr>
        </tbody>
        <tfoot class="mobile-footer-persist">
        <tr>
          <td colspan="3" class="text-right">
            <div class="checkout-cta pull-right">
              <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="$ctrl.submitOrder()" ng-disabled="!$ctrl.canSubmitOrder()">
                Submit Your Gift
              </button>
            </div>
            <div class="checkout-cart-summary pull-right">
              <display-rate-totals rate-totals="$ctrl.cartData.frequencyTotals"></display-rate-totals>
            </div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<loading-overlay ng-if="$ctrl.submittingOrder"></loading-overlay>
