<div class="modal-header">
  <button id="closeButtonTop" type="button" class="close" ng-click="$ctrl.cancel()" aria-label="{{'Close' | translate}}">
    <span aria-hidden="true">×</span>
  </button>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="border-bottom-small">
          <h3>{{$ctrl.title}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-body">
  <div class="alert alert-danger" role="alert">
    <p>
      Unfortunately we are unable to verify your account.
      Please contact us at 888-278-7233, option 1, option 1 or email eGift@cru.org.
    </p>
  </div>
</div>

<div class="modal-footer">
  <div class="col-xs-12">
    <button type="button"
            id="okButton"
            class="btn btn-default"
            ng-click="$ctrl.onOk()"
            translate>OK
    </button>
  </div>
</div>
