<div>
  <div
    class="alert alert-danger"
    role="alert"
    ng-if="$ctrl.loadingRecipientsError"
  >
    <p translate>There was an error loading your giving by recipient.</p>
    <p translate>
      You can use the retry button to try loading them again. If you continue to
      see this message, contact
      <a href="mailto:eGift@cru.org">eGift@cru.org</a> for assistance.
    </p>
    <p>
      <button
        type="button"
        class="btn btn-primary"
        ng-click="$ctrl.loadRecipients($ctrl.filter == 'recent' ? undefined : $ctrl.filter)"
        translate
      >
        Retry
      </button>
    </p>
  </div>

  <recipient-gift
    ng-repeat="recipient in $ctrl.recipients | orderBy:'designation-name'"
    recipient="recipient"
  ></recipient-gift>

  <div
    class="panel panel-margin-bottom recent-recipient-row"
    ng-if="$ctrl.recipients && $ctrl.recipients.length == 0"
  >
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 mb">
          <p tranlsate>No giving found for this period.</p>
        </div>
      </div>
    </div>
  </div>
</div>
