<div class="panel" ng-if="$ctrl.isVisible">
  <div class="panel-body">
    <h3 class="panel-name" translate>Register Your Account for Online Access</h3>
    <p translate>Benefits of registering for an account include:</p>
    <ul>
      <li translate>Save time during checkout</li>
      <li translate>Update your contact info</li>
      <li translate>View your donation history</li>
      <li translate>Manage your recurring gifts</li>
      <li translate>Change your bank account or credit card information</li>
    </ul>
    <button id="registerYourAccountButton" class="btn btn-primary btn-block" ng-click="$ctrl.openModal()" translate>Register Your Account</button>
  </div>
</div>
