<div class="col-md-12 col-xs-12">
  <div ng-if="$ctrl.emailSent">
    <div class="alert alert-success">
      <p translate>An email containing a link to reset your password has been sent to <em>{{$ctrl.email}}</em>.</p>
    </div>
  </div>
  <div ng-if="!$ctrl.emailSent">
    <p translate>Enter your registered email address below and we'll send you a link to reset your password.</p>
    <div class="alert alert-danger" role="alert" ng-messages="$ctrl.errors" ng-if="$ctrl.forgotError">
      <div ng-message="user_not_found" translate>Email Address not Found.<br />
        Perhaps you've never <a ng-click="$ctrl.onStateChange({state: 'sign-up'})">signed up</a>? Questions,
        <a href="https://www.cru.org/about/contact-us.html">contact us</a>.
      </div>
      <div ng-message="password_cant_change" translate>You are not allowed to reset your password here.<br />Please
        <a href="https://www.cru.org/about/contact-us.html">contact us</a>.
      </div>
      <div ng-message="unknown" translate>An error occurred resetting your password.<br />
        You may try again or
        <a href="https://www.cru.org/about/contact-us.html">contact us</a>
        if you continue to experience issues.
      </div>
    </div>
    <form name="$ctrl.form" class="loading-overlay-parent">
      <div class="form-group">
        <label for="email" translate>Email</label>
        <input type="email"
               name="email"
               id="email"
               class="form-control form-control-subtle"
               placeholder="Email"
               ng-model="$ctrl.email"
               required>
      </div>
      <button type="submit"
              class="btn btn-block btn-primary"
              ng-click="$ctrl.forgotPassword()"
              ng-disabled="!$ctrl.form.$valid"
              translate>Reset My Password
      </button>
      <loading type="overlay" ng-if="$ctrl.isLoading">
        <translate>Sending link to your email...</translate>
      </loading>
    </form>
  </div>
  <p class="mt- text-center">
    <a href ng-click="$ctrl.onStateChange({state: 'sign-in'})" translate>Back to Sign In</a>
  </p>
</div>
