<div class="row" ng-if="$ctrl.loadingPaymentMethods">
  <div class="loading-wrap margin-top">
    <span class="loading loading1"></span>
    <span class="loading loading2"></span>
    <span class="loading loading3"></span>
    <span class="loading loading4"></span>
  </div>
</div>
<div ng-show="!$ctrl.loadingPaymentMethods"><!-- ng-show allows checkout-existing-payment-methods component to be instantiated to check for existingPaymentMethods -->
  <div ng-if="!$ctrl.existingPaymentMethods">
    <add-new-payment-method submitted="$ctrl.submitted" on-submit="$ctrl.onSubmit(success, data)"></add-new-payment-method>
  </div>

  <div ng-if="$ctrl.existingPaymentMethods">
    <checkout-existing-payment-methods submitted="$ctrl.submitted" on-submit="$ctrl.onSubmit(success)" on-load="$ctrl.handleExistingPaymentLoading(success, hasExistingPaymentMethods, error)"></checkout-existing-payment-methods>
  </div>
</div>

<div class="closer">
  <div class="row">
    <div class="col-sm-5 hidden-xs">
      <button class="btn btn-default" ng-click="$ctrl.changeStep({newStep: 'contact'})">Previous Step</button>
    </div>
    <div class="col-sm-5 col-sm-offset-2">
      <button class="btn btn-primary pull-right btn-block-mobile" ng-click="$ctrl.submitted = true">Continue to Review &amp; Submit</button>
      <button class="btn btn-link btn-block visible-xs" ng-click="$ctrl.changeStep({newStep: 'contact'})"><i class="fa fa-angle-left"></i> Previous Step</button>
    </div>
  </div>
</div>
