<div class="alert alert-danger" role="alert" ng-if="$ctrl.loadingExistingPaymentError">
  <p ng-if="$ctrl.loadingExistingPaymentError" ng-switch="$ctrl.loadingExistingPaymentError">
    <span ng-switch-default translate>
      We ran into a problem trying to load your saved payment methods. Please enter your payment details below. Sorry for the inconvenience.
    </span>
  </p>
</div>
<div class="loading-overlay-parent">
  <loading type="overlay" ng-if="$ctrl.loadingPaymentMethods || $ctrl.submissionError.loading"></loading>
  <div ng-if="!$ctrl.existingPaymentMethods">
    <payment-method-form on-submit="$ctrl.onSubmit(success, data)" submission-error="$ctrl.submissionError" mailing-address="$ctrl.mailingAddress"></payment-method-form>
  </div>

  <div ng-if="$ctrl.existingPaymentMethods">
    <checkout-existing-payment-methods submitted="$ctrl.submitted" submission-error="$ctrl.submissionError" on-submit="$ctrl.onSubmit(success, data, error, stayOnStep)" submit-success="$ctrl.submitSuccess" on-load="$ctrl.handleExistingPaymentLoading(success, hasExistingPaymentMethods, error)" mailing-address="$ctrl.mailingAddress"></checkout-existing-payment-methods>
  </div>
</div>

<div class="closer">
  <div class="row">
    <div class="col-sm-5 hidden-xs">
      <button class="btn btn-default" ng-click="$ctrl.changeStep({newStep: 'contact'})">Previous Step</button>
    </div>
    <div class="col-sm-5 col-sm-offset-2">
      <button class="btn btn-primary pull-right btn-block-mobile" ng-click="$ctrl.submitted = $ctrl.submissionError.loading = true" ng-disabled="$ctrl.loadingPaymentMethods || $ctrl.submissionError.loading">Continue to Review &amp; Submit</button>
      <button class="btn btn-link btn-block visible-xs" ng-click="$ctrl.changeStep({newStep: 'contact'})"><i class="fa fa-angle-left"></i> Previous Step</button>
    </div>
  </div>
</div>
