<div class="mb_x">
  <div class="row">
    <div class="col-md-6">
      <button class="tab-btn btn btn-lg btn-default btn-block" ng-click="$ctrl.changePaymentType('bankAccount')" ng-class="{'on': $ctrl.paymentType === 'bankAccount'}">
        Bank Account
        <img src="/assets/images/icon-bank.png" alt="Bank Account Icon"/>
      </button>
    </div>
    <div class="col-md-6">
      <button class="tab-btn btn btn-lg btn-default btn-block" ng-click="$ctrl.changePaymentType('creditCard')" ng-class="{'on': $ctrl.paymentType === 'creditCard'}">
        Credit Card
        <img src="/assets/images/icon-cc.png" alt="Credit Card Icon"/>
      </button>
    </div>
  </div>
</div>

<div class="tab-indiv cart-tab show" ng-if="$ctrl.paymentType === 'bankAccount'">

  <checkout-bank-account submitted="$ctrl.submitted" on-save="$ctrl.onSave(success)"></checkout-bank-account>

</div>
<div class="tab-org cart-tab show" ng-if="$ctrl.paymentType === 'creditCard'">

  <checkout-credit-card submitted="$ctrl.submitted" on-save="$ctrl.onSave(success)"></checkout-credit-card>

</div>

<div class="closer">
  <div class="row">
    <div class="col-sm-5 hidden-xs">
      <button class="btn btn-default" ng-click="$ctrl.changeStep({newStep: 'contact'})">Previous Step</button>
    </div>
    <div class="col-sm-5 col-sm-offset-2">
      <button class="btn btn-primary pull-right btn-block-mobile" ng-click="$ctrl.submitted = true">Continue to Review &amp; Submit</button>
      <button class="btn btn-link btn-block visible-xs" ng-click="$ctrl.changeStep({newStep: 'contact'})"><i class="fa fa-angle-left"></i> Previous Step</button>
    </div>
  </div>
</div>
