<div class="modal-body">
  <div class="form-group">
    <label>
      Receipt Title
      <input
        name="receiptTitle"
        type="text"
        class="form-control"
        aria-describedby="receipt-help"
        ng-model="$ctrl.receiptTitle"
        disabled
      />
    </label>
    <span id="receipt-help" class="help-block">
      <strong
        >Email <a href="mailto:dev.services@cru.org">dev.services@cru.org</a> to
        update/change.</strong
      >
    </span>
  </div>

  <div class="form-group">
    <label>
      <span translate>Give.Cru.org Title</span>
      <input
        name="giveTitle"
        type="text"
        class="form-control"
        ng-model="$ctrl.giveTitle"
      />
    </label>
  </div>
</div>
<div class="modal-footer">
  <button
    id="saveChangesButton"
    type="button"
    class="btn btn-primary pull-right"
    ng-click="$close($ctrl.giveTitle)"
    translate
  >
    Save &amp; Close
  </button>
  <button
    id="cancelChangesButton"
    type="button"
    class="btn btn-default"
    ng-click="$dismiss()"
    translate
  >
    Cancel
  </button>
</div>
