<div class="modal-header">
  <button
    type="button"
    class="close"
    aria-label="Close"
    ng-click="$ctrl.dismiss()"
  >
    <span aria-hidden="true">x</span>
  </button>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="border-bottom-small">
          <h3 translate>Make changes to your recurring gifts</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <loading ng-if="$ctrl.loading">
          <translate>Loading recurring gifts...</translate>
        </loading>
        <div class="alert alert-danger" role="alert" ng-if="$ctrl.loadingError">
          <p translate>
            There was an error loading your recurring gifts. You can use the
            retry button to try loading them again. If you continue to see this
            message, contact
            <a href="mailto:eGift@cru.org">eGift@cru.org</a> for assistance.
          </p>
        </div>
        <div
          class="alert alert-warning"
          role="alert"
          ng-if="!$ctrl.loading && !$ctrl.loadingError && (!$ctrl.recurringGifts || $ctrl.recurringGifts.length === 0)"
        >
          <p translate>
            You don't seem to have any recurring gifts to edit. You may click
            continue to set up a new recurring gift.
          </p>
        </div>
        <div
          ng-repeat="gift in $ctrl.recurringGifts"
          class="row repeating-row user-profile"
        >
          <gift-list-item gift="gift">
            <gift-update-view gift="gift"></gift-update-view>
          </gift-list-item>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer" ng-if="!$ctrl.loading">
  <div class="col-xs-6">
    <a class="btn btn-default" ng-click="$ctrl.dismiss()" translate> Cancel </a>
  </div>
  <div class="col-xs-6 text-right">
    <a
      class="btn btn-primary"
      ng-if="$ctrl.loadingError"
      ng-click="$ctrl.loadGifts()"
      translate
      >Retry</a
    >
    <a
      class="btn btn-primary"
      ng-if="!$ctrl.loadingError"
      ng-click="$ctrl.next({ recurringGifts: $ctrl.recurringGifts })"
      ng-disabled="!$ctrl.allPaymentMethodsValid()"
      translate
    >
      Continue
    </a>
  </div>
</div>
