<form novalidate name="$ctrl.itemConfigForm" ng-submit="$ctrl.saveGiftToCart()">
  <div class="row">
    <span class="u-floatRight" style="margin-top: -16px">
      {{'SECURE' | translate}}
      <i class="fas fa-lock ml--">
      </i>
    </span>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h4 id="product-config-header" class="give-gift-header" translate>
        {{'GIVE_GIFT_HEADER'}}
      </h4>
    </div>
    <div class="col-sm-6" ng-if="!$ctrl.loading && !$ctrl.errorLoading">
      <div class="give-modal-recipient">
        <img class="recipient-image" desig-src="{{$ctrl.productData.designationNumber}}" campaign-page="{{$ctrl.itemConfig['campaign-page']}}">
        <span class="recipient-title" ng-bind-html="$ctrl.itemConfig['jcr-title']"></span>
        <span class="recipient-id" ng-bind-html="$ctrl.displayId()"></span>
      </div>
    </div>
  </div>

  <loading ng-if="$ctrl.loading">
    <translate>{{'LOADING_GIFT_DETAILS'}}</translate>
  </loading>

  <div ng-if="$ctrl.errorLoading" class="alert alert-danger" role="alert">
    <p translate='LOADING_ERROR' translate-values="{loadData: '$ctrl.loadData()'}" translate-compile></p>
  </div>

  <div class="panel panel-default panel-plain mt" ng-if="$ctrl.showGivingLinks">
    <div class="panel panel-default give-modal-panel">
      <h4 class="panel-title border-bottom-small" translate>
        {{'FROM_WHAT_COUNTRY'}}
      </h4>
      <div class="panel-body pt0">
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <button class="btn btn-block btn-primary"
                    type="button"
                    ng-click="$ctrl.giveLink()"
                    translate>{{'GIVE_THROUGH_US_SITE'}}</button>
          </div>
          <div class="col-xs-6 col-xs-offset-3 pt-" ng-repeat="link in $ctrl.givingLinks">
            <button class="btn btn-block btn-default"
                    type="button"
                    ng-click="$ctrl.giveLink(link.url)"
                    translate translate-values='{name: link.name}'>{{'GIVE_THROUGH_SITE'}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="!$ctrl.loading && !$ctrl.errorLoading && !$ctrl.showGivingLinks">
    <div ng-class="{'give-selection-reverse-order': $ctrl.useV3}">
      <div class="panel panel-default panel-plain mt suggested-gift-amounts">

          <div ng-if="$ctrl.errorChangingFrequency" class="alert alert-danger" role="alert">
            <p translate>{{'FREQUENCY_ERROR'}}</p>
          </div>

          <div ng-if="$ctrl.errorSavingGeneric" role="alert" class="alert alert-danger">
            <p translate>{{'ADDING_CART_ERROR'}}</p>
          </div>

          <div ng-if="$ctrl.amountFormatError" role="alert" class="alert alert-danger">
            <p translate>{{$ctrl.amountFormatError}}</p>
          </div>

          <div ng-if="$ctrl.errorAlreadyInCart" class="alert alert-warning" role="alert">
            <p translate>{{'GIFT_IN_CART_ERROR'}}</p>
          </div>

        <h4 class="panel-title border-bottom-small" translate>
          {{'GIFT_AMOUNT'}}
        </h4>
        <div class="panel-body pt0">

          <div ng-if="$ctrl.useSuggestedAmounts">
            <fieldset ng-if="$ctrl.useV3" class="button-group" aria-label="{{'SUGGESTED_AMOUNT_HELP' | translate}}">
              <div ng-repeat="suggested in $ctrl.suggestedAmounts | orderBy:'order'">
                <input
                  type="radio"
                  name="suggestedAmount"
                  id="sa-{{$index}}"
                  ng-click="$ctrl.changeAmount(suggested.amount)"
                  ng-class=" {'active': !$ctrl.customInputActive && $ctrl.itemConfig.AMOUNT === suggested.amount}"
                  ng-checked="$first"
                />
                <label for="sa-{{$index}}">
                  <span class="amount-box">{{$ctrl.suggestedAmount(suggested.amount)}}</span>
                  <span class="amount-description">{{suggested.label}}</span>
                </label>
              </div>
              <div class="custom-amount-button" ng-class="{'has-error': ($ctrl.itemConfigForm.amount | showErrors)}">
                <div class="input-prepend">
                  <span class="input-prepend-text">$</span>
                </div>
                <label for="customAmount">
                  <input
                    name="suggestedAmount"
                    type="radio"
                    ng-checked="$ctrl.customInputActive"
                  />
                  <input
                    name="amount"
                    type="text"
                    id="customAmount"
                    step="1"
                    aria-label="{{'CUSTOM_AMOUNT' | translate}}"
                    ng-model="$ctrl.customAmount"
                    ng-change="$ctrl.changeCustomAmount($ctrl.customAmount)"
                    ng-focus="$ctrl.customInputActive = true;"
                    ng-required="$ctrl.customInputActive"
                    placeholder="{{'OTHER_PLACEHOLDER' | translate}}" />
                </label>
              </div>
              <div
                role="alert"
                ng-messages="$ctrl.itemConfigForm.amount.$error"
                ng-if="($ctrl.itemConfigForm.amount | showErrors)">
                  <div class="help-block" ng-message="pattern" translate>{{'VALID_DOLLAR_AMOUNT_ERROR'}}</div>
                  <div class="help-block" ng-message="required" translate>{{'AMOUNT_EMPTY_ERROR'}}</div>
                  <div class="help-block" ng-message="minimum" translate translate-values="{currencyLimit: (1 | currency)}">{{'AMOUNT_MIN_ERROR'}}</div>
                  <div class="help-block" ng-message="maximum" translate translate-values="{currencyLimit: (10000000 | currency)}">{{'AMOUNT_MAX_ERROR'}}</div>
              </div>
            </fieldset>
            <div ng-if="!$ctrl.useV3">
              <div class="radio radio-custom-amount"
                  ng-repeat="suggested in $ctrl.suggestedAmounts | orderBy:'order'">
                <label>
                  <input name="suggestedAmount"
                        type="radio"
                        ng-click="$ctrl.changeAmount(suggested.amount)"
                        ng-checked="!$ctrl.customInputActive && $ctrl.itemConfig.AMOUNT === suggested.amount" />
                  {{$ctrl.suggestedAmount(suggested.amount)}} {{suggested.label}}
                </label>
              </div>
              <div class="radio radio-custom-amount form-inline" ng-class="{'has-error': ($ctrl.itemConfigForm.amount | showErrors)}">
                <div class="form-group">
                  <label>
                    <input name="suggestedAmount"
                           type="radio"
                           ng-checked="$ctrl.customInputActive" />
                    <input class="form-control form-control-subtle"
                           name="amount"
                           type="text"
                           step="1"
                           ng-model="$ctrl.customAmount"
                           ng-change="$ctrl.changeCustomAmount($ctrl.customAmount)"
                           ng-focus="$ctrl.customInputActive = true"
                           ng-required="$ctrl.customInputActive"
                           placeholder="{{'OTHER_PLACEHOLDER' | translate}}" />
                  </label>
                  <div role="alert" ng-messages="$ctrl.itemConfigForm.amount.$error"
                       ng-if="($ctrl.itemConfigForm.amount | showErrors)">
                    <div class="help-block" ng-message="pattern" translate>{{'VALID_DOLLAR_AMOUNT_ERROR'}}</div>
                    <div class="help-block" ng-message="required" translate>{{'AMOUNT_EMPTY_ERROR'}}</div>
                    <div class="help-block" ng-message="minimum" translate translate-values="{currencyLimit: (1 | currency)}">{{'AMOUNT_MIN_ERROR'}}</div>
                    <div class="help-block" ng-message="maximum" translate translate-values="{currencyLimit: (10000000 | currency)}">
                      {{'AMOUNT_MAX_ERROR'}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

            <div data-toggle="buttons"
                ng-class="{'has-error': ($ctrl.itemConfigForm.amount | showErrors)}"
                ng-if="!$ctrl.useSuggestedAmounts">
              <label class="btn btn-radio"
                    ng-click="$ctrl.changeAmount(a)"
                    ng-class="{'active': $ctrl.itemConfig.AMOUNT === a && !$ctrl.customInputActive}"
                    ng-repeat-start="a in $ctrl.selectableAmounts">
                <span class="number">&dollar;{{a}}</span>
              </label>
              <span ng-repeat-end></span>
              <label
                ng-class="{active: $ctrl.customInputActive}"
                class="btn btn-default-form u-textLeft custom-amount">
                <div class="form-group form-group-default u-inline">
                  <input class="form-control form-control-subtle number"
                        name="amount"
                        type="text"
                        step="1"
                        ng-required="$ctrl.customInputActive"
                        ng-model="$ctrl.customAmount"
                        aria-label="{{'CUSTOM_AMOUNT' | translate}}"
                        ng-change="$ctrl.changeCustomAmount($ctrl.customAmount)"
                        ng-focus="$ctrl.customInputActive = true;"
                        placeholder="{{'Other' | translate}}"
                        required />
                </div>
              </label>
              <div role="alert" ng-messages="$ctrl.itemConfigForm.amount.$error"
                  ng-if="($ctrl.itemConfigForm.amount | showErrors)">
                <div class="help-block" ng-message="pattern" translate>{{'VALID_DOLLAR_AMOUNT_ERROR'}}</div>
                <div class="help-block" ng-message="required" translate>{{'AMOUNT_EMPTY_ERROR'}}</div>
                <div class="help-block" ng-message="minimum" translate="AMOUNT_MIN_ERROR" translate-values="{currencyLimit: (1 | currency)}"></div>
                <div class="help-block" ng-message="maximum" translate="AMOUNT_MAX_ERROR" translate-values="{currencyLimit: (10000000 | currency)}">
                </div>
              </div>
            </div>
        </div><!-- // panel-body -->
      </div><!-- // panel -->
      <div class="panel panel-default give-modal-panel gift-frequency">
        <h4 class="panel-title border-bottom-small mt" translate>
          {{'GIFT_FREQUENCY'}}
        </h4>
        <div class="panel-body">
          <div data-toggle="buttons">
            <label class="btn btn-radio btn-wide"
                  ng-repeat-start="f in $ctrl.productData.frequencies | orderBy: $ctrl.frequencyOrder track by $index"
                  ng-if="f.name !== 'SEMIANNUAL'"
                  ng-class="{'active': f.name === $ctrl.productData.frequency}"
                  ng-click="$ctrl.changeFrequency(f)">
                  <span class="giftsum-about giftsum-title" ng-switch="f.name">
                    <span ng-switch-when="NA" translate>{{'SINGLE_GIFT'}}</span>
                    <span ng-switch-default>{{f.display}}</span>
                  </span>
            </label>
            <span ng-repeat-end></span>
          </div>
          <loading inline="true" ng-if="$ctrl.changingFrequency" class="mt-- text-center">
            <translate>{{'CHANGING_FREQUENCY'}}</translate>
          </loading>
        </div><!-- // panel-body -->
      </div><!-- // panel -->
      <div class="panel panel-default give-modal-panel" ng-if="$ctrl.productData.frequency !== 'NA'">
        <h4 class="panel-title border-bottom-small mt0 pt-" translate>
          {{'RECURRING_START'}}
        </h4>
        <div class="panel-body pt0">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label>
                  <span translate>{{'MONTH'}}</span>
                  <select class="form-control form-control-subtle"
                          ng-model="$ctrl.itemConfig['RECURRING_START_MONTH']"
                          ng-options="(m | date:'MM') as (m | date:'MMMM, yyyy') for m in $ctrl.possibleTransactionMonths($ctrl.nextDrawDate)"
                          ng-change="$ctrl.changeStartDay($ctrl.itemConfig['RECURRING_DAY_OF_MONTH'], $ctrl.itemConfig['RECURRING_START_MONTH'])">
                  </select>
                </label>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label>
                  <span translate>{{'DAY'}}</span>
                  <select class="form-control form-control-subtle"
                          ng-model="$ctrl.itemConfig['RECURRING_DAY_OF_MONTH']"
                          ng-options="o as (o | ordinal) for o in $ctrl.possibleTransactionDays($ctrl.itemConfig['RECURRING_START_MONTH'], $ctrl.nextDrawDate)"
                          ng-change="$ctrl.changeStartDay($ctrl.itemConfig['RECURRING_DAY_OF_MONTH'], $ctrl.itemConfig['RECURRING_START_MONTH'])">
                  </select>
                </label>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label translate>{{'GIFT_START_DATE'}}</label>
                <div class="form-group">
                  {{$ctrl.startMonth( $ctrl.itemConfig['RECURRING_DAY_OF_MONTH'], $ctrl.itemConfig['RECURRING_START_MONTH'], $ctrl.nextDrawDate ).format('ll')}}
                </div>
              </div>
            </div>
          </div>
        </div><!-- // panel-body -->
      </div><!-- // panel -->
    </div>
    <div class="panel panel-default give-modal-panel special-instructions">
      <h4 class="panel-title border-bottom-small mt" translate>
        {{'OPTIONAL'}}
      </h4>
      <div class="panel-body pt0">
        <ul class="list-unstyled">
          <li>
            <button type="button"
                    id="sendMessageButton"
                    class="btn btn-link"
                    tabindex="-1"
                    ng-click="$ctrl.showRecipientComments = !$ctrl.showRecipientComments"
                    translate='SEND_MESSAGE_TO'
                    translate-values="{ministry: $ctrl.productData.displayName}">
            </button>
            <textarea class="staff-comments give-modal-comments"
                      name="recipientComments"
                      rows="3"
                      maxlength="250"
                      aria-labelledby="sendMessageButton"
                      ng-model="$ctrl.itemConfig.RECIPIENT_COMMENTS"
                      ng-if="$ctrl.showRecipientComments"
                      tabindex="-1"
                      style="display:block;"></textarea>
          </li>
          <li>
            <button type="button"
                    id="sendHandlingButton"
                    class="btn btn-link"
                    tabindex="-1"
                    ng-click="$ctrl.showDSComments = !$ctrl.showDSComments"
                    translate>
              {{'SPECIAL_INSTRUCTIONS'}}
            </button>
            <textarea class="cru-comments give-modal-comments"
                      name="donationServicesComments"
                      rows="3"
                      maxlength="250"
                      aria-labelledby="sendHandlingButton"
                      ng-model="$ctrl.itemConfig.DONATION_SERVICES_COMMENTS"
                      ng-if="$ctrl.showDSComments"
                      tabindex="-1"
                      placeholder="{{'MESSAGE_EXAMPLE' | translate}}"
                      style="display:block;"></textarea>
          </li>
        </ul>
      </div><!-- // panel-body -->
    </div><!-- // panel -->
  </div>
</form>
<loading type="overlay" ng-if="$ctrl.submittingGift"></loading>
