<form novalidate name="$ctrl.itemConfigForm" ng-submit="$ctrl.saveGiftToCart()">
  <div class="row">
    <span class="u-floatRight" style="margin-top: -16px">
      {{'SECURE' | translate}}
      <i class="fas fa-lock ml--"></i>
    </span>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h4 id="product-config-header" class="give-gift-header" translate>
        {{'GIVE_GIFT_HEADER'}}
      </h4>
    </div>
    <div class="col-sm-6" ng-if="!$ctrl.loading && !$ctrl.errorLoading">
      <div class="give-modal-recipient">
        <img
          class="recipient-image"
          desig-src="{{$ctrl.productData.designationNumber}}"
          campaign-page="{{$ctrl.itemConfig['campaign-page']}}"
        />
        <span
          class="recipient-title"
          ng-bind-html="$ctrl.itemConfig['jcr-title']"
        ></span>
        <span class="recipient-id" ng-bind-html="$ctrl.displayId()"></span>
      </div>
    </div>
  </div>

  <loading ng-if="$ctrl.loading">
    <translate>{{'LOADING_GIFT_DETAILS'}}</translate>
  </loading>

  <div ng-if="$ctrl.errorLoading" class="alert alert-danger" role="alert">
    <p
      translate="LOADING_ERROR"
      translate-values="{loadData: '$ctrl.loadData()'}"
      translate-compile
    ></p>
  </div>

  <div class="panel panel-default panel-plain mt" ng-if="$ctrl.showGivingLinks">
    <div class="panel panel-default give-modal-panel">
      <h4 class="panel-title border-bottom-small" translate>
        {{'FROM_WHAT_COUNTRY'}}
      </h4>
      <div class="panel-body pt0">
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <button
              class="btn btn-block btn-primary"
              type="button"
              ng-click="$ctrl.giveLink()"
              translate
            >
              {{'GIVE_THROUGH_US_SITE'}}
            </button>
          </div>
          <div
            class="col-xs-6 col-xs-offset-3 pt-"
            ng-repeat="link in $ctrl.givingLinks"
          >
            <button
              class="btn btn-block btn-default"
              type="button"
              ng-click="$ctrl.giveLink(link.url)"
              translate
              translate-values="{name: link.name}"
            >
              {{'GIVE_THROUGH_SITE'}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="!$ctrl.loading && !$ctrl.errorLoading && !$ctrl.showGivingLinks">
    <!-- V3 order: frequency → dates → amounts -->
    <div ng-if="$ctrl.useV3">
      <gift-frequency
        product-data="$ctrl.productData"
        change-frequency="$ctrl.changeFrequency"
        changing-frequency="$ctrl.changingFrequency"
      ></gift-frequency>

      <gift-dates
        product-data="$ctrl.productData"
        item-config="$ctrl.itemConfig"
        next-draw-date="$ctrl.nextDrawDate"
        change-start-day="$ctrl.changeStartDay"
      ></gift-dates>

      <special-instructions
        product-data="$ctrl.productData"
        item-config="$ctrl.itemConfig"
      ></special-instructions>

      <suggested-gift-amounts
        use-v3="$ctrl.useV3"
        error-changing-frequency="$ctrl.errorChangingFrequency"
        error-saving-generic="$ctrl.errorSavingGeneric"
        amount-format-error="$ctrl.amountFormatError"
        error-already-in-cart="$ctrl.errorAlreadyInCart"
        error-forced-user-to-logout="$ctrl.errorForcedUserToLogout"
        use-suggested-amounts="$ctrl.useSuggestedAmounts"
        suggested-amounts="$ctrl.suggestedAmounts"
        change-amount="$ctrl.changeAmount"
        custom-input-active="$ctrl.customInputActive"
        item-config="$ctrl.itemConfig"
        suggested-amount="$ctrl.suggestedAmount"
        item-config-form="$ctrl.itemConfigForm"
        custom-amount="$ctrl.customAmount"
        change-custom-amount="$ctrl.changeCustomAmount"
        selectable-amounts="$ctrl.selectableAmounts"
      ></suggested-gift-amounts>
    </div>

    <!-- Non-V3 order: amounts → frequency → dates -->
    <div ng-if="!$ctrl.useV3">
      <suggested-gift-amounts
        use-v3="$ctrl.useV3"
        error-changing-frequency="$ctrl.errorChangingFrequency"
        error-saving-generic="$ctrl.errorSavingGeneric"
        amount-format-error="$ctrl.amountFormatError"
        error-already-in-cart="$ctrl.errorAlreadyInCart"
        error-forced-user-to-logout="$ctrl.errorForcedUserToLogout"
        use-suggested-amounts="$ctrl.useSuggestedAmounts"
        suggested-amounts="$ctrl.suggestedAmounts"
        change-amount="$ctrl.changeAmount"
        custom-input-active="$ctrl.customInputActive"
        item-config="$ctrl.itemConfig"
        suggested-amount="$ctrl.suggestedAmount"
        item-config-form="$ctrl.itemConfigForm"
        custom-amount="$ctrl.customAmount"
        change-custom-amount="$ctrl.changeCustomAmount"
        selectable-amounts="$ctrl.selectableAmounts"
      ></suggested-gift-amounts>

      <gift-frequency
        product-data="$ctrl.productData"
        change-frequency="$ctrl.changeFrequency"
        changing-frequency="$ctrl.changingFrequency"
      ></gift-frequency>

      <gift-dates
        product-data="$ctrl.productData"
        item-config="$ctrl.itemConfig"
        next-draw-date="$ctrl.nextDrawDate"
        change-start-day="$ctrl.changeStartDay"
      ></gift-dates>

      <special-instructions
        product-data="$ctrl.productData"
        item-config="$ctrl.itemConfig"
      ></special-instructions>
    </div>
  </div>
</form>

<loading type="overlay" ng-if="$ctrl.submittingGift"></loading>
