<div class="alert alert-danger" role="alert" ng-if="$ctrl.errorMessage" ng-switch="$ctrl.errorMessage">
  <span ng-switch-when="generic" translate>
    An error has occurred. Please try again or contact <a href="mailto:eGift@cru.org">eGift@cru.org</a> for assistance.
  </span>
  <span ng-switch-default>
    {{$ctrl.errorMessage | translate}}
  </span>
</div>
<div class="row text-center" ng-if="!$ctrl.onSignInPage">
  <h2 translate>Sign in</h2>
</div>
<div class="row">
  <sign-in-button
    on-success="$ctrl.onSuccess()"
    on-failure="$ctrl.onFailure()"
    last-purchase-id="$ctrl.lastPurchaseId"
    error-message="$ctrl.errorMessage"
  ></sign-in-button>
</div>

<div class="row text-center">
  <p class="sign-in-info" ng-if="!$ctrl.onSignInPage">
    <span translate>You will be taken to Okta </span>
    <i
      class="fa fa-info-circle text-info"
      uib-tooltip="{{'Okta is a trusted 3rd party security tool used by Cru to protect your personal information associated with your donor account.' | translate}}">
    </i>
    <span translate>, then back to this site.</span>
  </p>
</div>
<hr />
<div class="row text-center" style="margin-bottom: 0px;" ng-if="!$ctrl.onSignInPage">
  <h4 translate>Don&rsquo;t have an account?</h4>
  <a class="okta-signup-button" ng-click="$ctrl.onSignUpWithOkta()" style="cursor: pointer">Create an account</a>
</div>
<div class="row text-center need-help" ng-class="{'open': $ctrl.needHelpAccordionOpened}">
  <div class="need-help--header" ng-click="$ctrl.toggleNeedHelpAccordion()" onKeyPress>
    <i class="fa fa-caret-right"></i>
    <span translate>Help signing in?</span>
  </div>
  <div class="need-help--content">
    <p><a href="tel:8882787233" target="_blank" translate>Call (888) 278-7233</a> opt. 1, then 1.<br />9:00 a.m. to 5:00 p.m. (ET), Monday-Friday,<br /> or email us at <a href="mailto:eGift@cru.org">eGift@cru.org</a>.</p>
  </div>
</div>
