<div class="modal-header">
  <button
    id="closeButtonTop"
    type="button"
    class="close"
    ng-click="$ctrl.cancel()"
    aria-label="{{'Close' | translate}}"
  >
    <span aria-hidden="true">×</span>
  </button>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="border-bottom-small">
          <h3>{{$ctrl.title}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-body">
  <div class="alert alert-danger" role="alert">
    <div ng-transclude></div>
  </div>
</div>

<div class="modal-footer">
  <div class="col-xs-6">
    <button
      type="button"
      id="previousButton"
      class="btn btn-default"
      ng-click="$ctrl.previous()"
      translate
    >
      Back
    </button>
  </div>
  <div class="col-xs-6 text-right">
    <button
      type="button"
      id="retryButton"
      class="btn btn-primary"
      ng-click="$ctrl.onRetry()"
      translate
    >
      Retry
    </button>
  </div>
</div>
