<div class="modal-header" ng-if="!$ctrl.isInsideAnotherModal">
  <button type="button" class="close" aria-label="Close" ng-click="$ctrl.onCancel()">
    <span aria-hidden="true">×</span>
  </button>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="signup-header">
          <h3 translate>Register Your Account</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-class="{'modal-body': !$ctrl.isInsideAnotherModal }">
  <div class="content">
    <div class="loading-overlay-parent">
      <div>
        <div class="alert alert-danger" role="alert" ng-if="$ctrl.errorMessage" ng-switch="$ctrl.errorMessage">
          <span ng-switch-when="generic" translate>
            An error has occurred. Please try again or contact
            <a href="mailto:eGift@cru.org">eGift@cru.org</a> for assistance.
          </span>
          <span ng-switch-default>
            {{$ctrl.errorMessage | translate}}
          </span>
        </div>
        
        <div class="row text-center">
          <div class="col-xs-12">
            <h4 translate>Your email has been verified!</h4>
            <p translate style="margin-bottom: 0px">You are almost done creating your new account!</p>
            <p>All that is left to do is sign in, and fill out your profile information.</p>
          </div>
        </div>

        <div class="row active-account">
          <sign-in-button
            on-success="$ctrl.onSuccessfulSignIn()"
            on-failure="$ctrl.onFailure()"
            last-purchase-id="$ctrl.lastPurchaseId"
            error-message="$ctrl.errorMessage"
          ></sign-in-button>
        </div>
      </div>
    </div>
  </div>
</div>
