<form novalidate ng-submit="$ctrl.submitPayment(creditCardPayment.$valid)" name="$ctrl.creditCardPaymentForm">

  <div class="mb">

    <h4 class="panel-title  border-bottom-small  visible" translate>Credit Card Payment</h4>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group is-required" ng-class="{'has-error': ($ctrl.creditCardPayment.accountType | showErrors)}">
          <label>Card #</label>
          <input type="text" name="cardNumber" class="form-control  form-control-subtle" ng-model="$ctrl.creditCardPayment.cardNumber" required ng-minlength="13" ng-maxlength="16">
          <div ng-messages="$ctrl.creditCardPaymentForm.cardNumber.$error" role="alert" ng-if="$ctrl.creditCardPaymentForm.$submitted || $ctrl.creditCardPaymentForm.cardNumber.$touched">
            <div class="help-block" ng-message="required" translate>You must enter a card number</div>
            <div class="help-block" ng-message="minlength" translate>This card number must contain at least 13 digits</div>
            <div class="help-block" ng-message="maxlength" translate>This card number cannot contain more than 16 digits</div>
            <div class="help-block" ng-message="cardType" translate>This card type is not accepted</div>
            <div class="help-block" ng-message="cardNumber" translate>This card number seems to have been either typed incorrectly or is invalid</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group is-required" ng-class="{'has-error': ($ctrl.creditCardPayment.cardholderName | showErrors)}">
          <label>Name On Card</label>
          <input type="text" name="cardholderName" class="form-control  form-control-subtle" ng-model="$ctrl.creditCardPayment.cardholderName" required>
          <div role="alert" ng-messages="$ctrl.creditCardPayment.cardholderName.$error" ng-if="($ctrl.creditCardPayment.cardholderName | showErrors)">
            <div class="help-block" ng-message="required" translate>You must enter the name on the card</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group is-required" ng-class="{'has-error': ($ctrl.creditCardPayment.expiryMonth | showErrors)}">
          <label>Exp. Month</label>
          <input type="text" name="expiryMonth" class="form-control  form-control-subtle" ng-model="$ctrl.creditCardPayment.expiryMonth" required>
          <div role="alert" ng-messages="$ctrl.creditCardPayment.expiryMonth.$error" ng-if="($ctrl.creditCardPayment.expiryMonth | showErrors)">
            <div class="help-block" ng-message="required" translate>You must enter the expiration month</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group is-required" ng-class="{'has-error': ($ctrl.creditCardPayment.expiryYear | showErrors)}">
          <label>Exp. Year</label>
          <input type="text" name="expiryYear" class="form-control  form-control-subtle" ng-model="$ctrl.creditCardPayment.expiryYear" required>
          <div role="alert" ng-messages="$ctrl.creditCardPayment.expiryYear.$error" ng-if="($ctrl.creditCardPayment.expiryYear | showErrors)">
            <div class="help-block" ng-message="required" translate>You must enter the expiration year</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group is-required" ng-class="{'has-error': ($ctrl.creditCardPayment.securityCode | showErrors)}">
          <label>CVV Code</label>
          <input type="text" name="securityCode" class="form-control  form-control-subtle" ng-model="$ctrl.creditCardPayment.securityCode" required>
          <div role="alert" ng-messages="$ctrl.creditCardPayment.securityCode.$error" ng-if="($ctrl.creditCardPayment.securityCode | showErrors)">
            <div class="help-block" ng-message="required" translate>You must enter the security code</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb">

    <div class="">
      <label class="checkbox-inline">
        <input type="checkbox" id="billingAddressValue" value="option1" checked> Same as Mailing Address
      </label>
    </div>

    <div class="billing-address-new-wrap mt- on" id="address-billing-current">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4 class="panel-title  border-bottom-small  visible">Billing Address</h4>
          <p>
            1234 Sesame Street,<br/>
            Orlando, Florida 123456-7890
          </p>
        </div>
      </div>
    </div>

    <div class="billing-address-wrap mt-" id="address-billing-new">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="mb">
            <h4 class="panel-title  border-bottom-small  visible">New Billing Address</h4>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>Country</label>
                  <div class="form-group">
                    <select class="form-control  form-control-subtle" id="suffix">
                      <option>Peoples Republic of China</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" name="address1" class="form-control  form-control-subtle">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <input type="text" name="address2" class="form-control  form-control-subtle">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>City</label>
                  <input type="text" class="form-control  form-control-subtle">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>State</label>
                  <div class="form-group">
                    <select class="form-control  form-control-subtle" id="suffix">
                      <option></option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Zip</label>
                  <input type="text" class="form-control  form-control-subtle">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- // mb -->

</form>
