<div class="modal-header pt">
  <button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">×</span></button>
  <h3 class="modal-title text-center" ng-if="$ctrl.photoLocation === 'coverPhoto'">Add Cover Photo</h3>
  <h3 class="modal-title text-center" ng-if="$ctrl.photoLocation === 'secondaryPhoto'">Add Secondary Photo</h3>
</div>

<div class="modal-body">
  <div class="upload-drag-target p mb">
    <div class="form-group text-center">
      <div ng-if="!$ctrl.uploading">
        <label translate>Select a Photo to Upload</label>

        <upload-button
          class="form-control"
          url="/bin/crugive/image?designationNumber={{$ctrl.designationNumber}}"
          accept="image/*"
          on-upload="$ctrl.uploading = true"
          on-success="$ctrl.uploadComplete(response)"
          on-complete="$ctrl.uploading = false"
        ></upload-button>
      </div>

      <label ng-if="$ctrl.uploading" translate>Uploading...</label>
    </div>
  </div>

  <div class="give-thumbs-container clearfix" ng-if="$ctrl.photos.length">
    <div class="cover-thumb" ng-repeat="photo in $ctrl.photos">
      <a href="" class="cover-thumb-remove" ng-click="$ctrl.deletePhoto(photo.original)">
        <i class="fa fa-trash-o"></i>
      </a>

      <input type="radio" id="cover-thumb{{$index}}" ng-model="$ctrl.selectedPhoto" ng-value="photo.original">
      <label for="cover-thumb{{$index}}">
        <img ng-src="{{photo.thumbnail}}">
      </label>
    </div>

    <div class="cover-thumb">
      <a href="" class="no-cover" ng-click="$close({
        selected: null,
        photos: $ctrl.photos
      })">
        <i class="fa fa-ban" aria-hidden="true"></i>
        <span ng-if="$ctrl.photoLocation === 'coverPhoto'" translate>Remove Cover</span>
        <span ng-if="$ctrl.photoLocation !== 'coverPhoto'" translate>Remove Photo</span>
      </a>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary pull-right" ng-click="$close({
    selected: $ctrl.selectedPhoto,
    photos: $ctrl.photos
  })" translate>Use Photo</button>
  <button type="button" class="btn btn-default" ng-click="$dismiss()" translate>Cancel</button>
</div>
