<div class="col-xs-12" ng-switch="$ctrl.matchState">
  <div class="alert alert-danger" role="alert" ng-if="$ctrl.loadingDonorDetailsError">
    <p translate>There was an error loading your profile. You can use the retry button to try loading them again. If you continue to see this message, contact <a href="mailto:eGift@cru.org">eGift@cru.org</a> for assistance.</p>
    <p><button type="button" class="btn btn-primary" ng-click="$ctrl.$onInit()" translate>Retry</button></p>
  </div>

  <div class="alert alert-danger" role="alert" ng-if="$ctrl.selectContactError">
    <p translate>There was an error saving your answer. Please try again. If you continue to see this message, contact <a href="mailto:eGift@cru.org">eGift@cru.org</a> for assistance.</p>
  </div>
  <user-match-identity ng-switch-when="identity"
                       contacts="$ctrl.contacts"
                       on-select-contact="$ctrl.onSelectContact(contact)">
  </user-match-identity>
  <div ng-switch-when="activate">
    <div class="alert alert-danger" role="alert" ng-if="$ctrl.loadingQuestionsError">
      <p translate>There was an error loading the verification questions. Please try again. If you continue to see this message, contact <a href="mailto:eGift@cru.org">eGift@cru.org</a> for assistance.</p>
    </div>
    <p translate>To protect your privacy, we need to ask you a few questions before we can give you access to your historical information. <!--You can up to one minute each to answer these questions.--></p>
    <p>
      <button type="button" class="btn btn-md btn-block btn-primary" ng-click="$ctrl.onActivate()" translate>Continue</button>
    </p>
  </div>
  <user-match-question ng-switch-when="question"
                       ng-init="$ctrl.analyticsFactory.track('aa-registration-match-security-question'+$ctrl.questionCount)"
                       question="$ctrl.question"
                       question-index="$ctrl.questionIndex"
                       question-count="$ctrl.questionCount"
                       on-question-answer="$ctrl.onQuestionAnswer(key, answer)">
  </user-match-question>
  <div ng-switch-when="success">
    <p ng-if="!$ctrl.skippedQuestions" translate ng-init="$ctrl.analyticsFactory.track('aa-registration-match-linked-account-success')">
      Thank you for taking the time to answer our security questions. Your account is now activated.
    </p>
    <p ng-if="$ctrl.skippedQuestions" translate ng-init="$ctrl.analyticsFactory.track('aa-registration-no-match-new-account-success')">
      Thank you for completing account registration. Your account has been activated.
    </p>
    <p>
      <button type="button" class="btn btn-md btn-block btn-primary" ng-click="$ctrl.onSuccess()" translate>Close</button>
    </p>
  </div>
  <failed-verification-modal ng-switch-when="failure"
                             ng-init="$ctrl.analyticsFactory.track('aa-registration-match-failed-questions')"
                             modal-title="$ctrl.modalTitle"
                             on-ok="$ctrl.onFailure()">
  </failed-verification-modal>
  <div ng-switch-default style="height: 100px;" ng-if="!$ctrl.loadingDonorDetailsError"></div>
</div>
