<div class="mb_x">
  <div class="row">
    <div class="col-md-6">
      <a href="" data-target="tab-indiv" class="tab-btn btn btn-default btn-block" ng-click="$ctrl.contactType = 'individual'" ng-class="{'on': $ctrl.contactType === 'individual'}">Give as an Individual</a>
    </div>
    <div class="col-md-6">
      <a href="" data-target="tab-org" class="tab-btn btn btn-default btn-block" ng-click="$ctrl.contactType = 'organization'" ng-class="{'on': $ctrl.contactType === 'organization'}">Give as an Organization</a>
    </div>
  </div>
</div>

<div class="tab-indiv cart-tab show" ng-if="$ctrl.contactType === 'individual'">

  <checkout-individual-contact-form></checkout-individual-contact-form>

</div>
<div class="tab-org cart-tab show" ng-if="$ctrl.contactType === 'organization'">

  <checkout-organization-contact-form></checkout-organization-contact-form>

</div>
