<div ng-if="$ctrl.donorDetails">
  <div class="mb_x">
    <div class="row">
      <div class="col-md-6">
        <a href="" class="tab-btn btn btn-default btn-block" ng-click="$ctrl.donorDetails['donor-type'] = 'individual'" ng-class="{'on': $ctrl.donorDetails['donor-type'] === 'individual'}" translate>Give as an Individual</a>
      </div>
      <div class="col-md-6">
        <a href="" class="tab-btn btn btn-default btn-block" ng-click="$ctrl.donorDetails['donor-type'] = 'organization'" ng-class="{'on': $ctrl.donorDetails['donor-type'] === 'organization'}" translate>Give as an Organization</a>
      </div>
    </div>
  </div>

  <form novalidate ng-submit="$ctrl.submitDetails();" name="$ctrl.detailsForm">
    <div class="mb">
      <h4 class="panel-title  border-bottom-small  visible" translate>Your Information</h4>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group  form-group-default">
            <label translate>Title</label>
            <select class="form-control  form-control-subtle" ng-model="$ctrl.donorDetails['name']['title']">
              <option></option>
              <option value="Mr." translate>Mr.</option>
              <option value="Mrs." translate>Mrs.</option>
              <option value="Ms." translate>Ms.</option>
              <option value="Dr." translate>Dr.</option>
              <option value="Pastor" translate>Pastor</option>
              <option value="Rev." translate>Rev.</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group is-required" ng-class="{'has-error': ($ctrl.detailsForm.nameGivenName | showErrors)}">
            <label translate>First Name</label>
            <input type="text" class="form-control  form-control-subtle" name="nameGivenName" ng-model="$ctrl.donorDetails['name']['given-name']" required ng-maxlength="50">
            <div role="alert" ng-messages="$ctrl.detailsForm.nameGivenName.$error" ng-if="($ctrl.detailsForm.nameGivenName | showErrors)">
              <div class="help-block" ng-message="required" translate>You must enter a first name</div>
              <div class="help-block" ng-message="maxlength" translate>This field cannot be longer than 50 characters</div>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group" ng-class="{'has-error': ($ctrl.detailsForm.nameMiddleInitial | showErrors)}">
            <label translate>MI</label>
            <input type="text" class="form-control  form-control-subtle" name="nameMiddleInitial" ng-model="$ctrl.donorDetails['name']['middle-initial']" ng-maxlength="50">
            <div role="alert" ng-messages="$ctrl.detailsForm.nameMiddleInitial.$error" ng-if="($ctrl.detailsForm.nameMiddleInitial | showErrors)">
              <div class="help-block" ng-message="maxlength" translate>This field cannot be longer than 50 characters</div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group is-required" ng-class="{'has-error': ($ctrl.detailsForm.nameFamilyName | showErrors)}">
            <label translate>Last Name</label>
            <input type="text" class="form-control  form-control-subtle" name="nameFamilyName" ng-model="$ctrl.donorDetails['name']['family-name']" required ng-maxlength="50">
            <div role="alert" ng-messages="$ctrl.detailsForm.nameFamilyName.$error" ng-if="($ctrl.detailsForm.nameFamilyName | showErrors)">
              <div class="help-block" ng-message="required" translate>You must enter a last name</div>
              <div class="help-block" ng-message="maxlength" translate>This field cannot be longer than 50 characters</div>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label translate>Suffix</label>
            <div class="form-group">
              <select class="form-control  form-control-subtle" ng-model="$ctrl.donorDetails['name']['suffix']">
                <option></option>
                <option translate>Jr.</option>
                <option translate>Sr.</option>
                <option translate>II</option>
                <option translate>III</option>
                <option translate>IV</option>
              </select>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group" ng-class="{'has-error': ($ctrl.detailsForm.phoneNumber | showErrors)}">
            <label translate>Phone</label>
            <input type="text" class="form-control  form-control-subtle" name="phoneNumber" ng-model="$ctrl.donorDetails['phone-number']" ng-maxlength="100">
            <div role="alert" ng-messages="$ctrl.detailsForm.phoneNumber.$error" ng-if="($ctrl.detailsForm.phoneNumber | showErrors)">
              <div class="help-block" ng-message="maxlength" translate>This field cannot be longer than 100 characters</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group is-required" ng-class="{'has-error': ($ctrl.detailsForm.email | showErrors)}">
            <label translate>Email Address</label>
            <input type="email" class="form-control  form-control-subtle" name="email" ng-model="$ctrl.donorDetails['email']" required ng-maxlength="100">
            <div role="alert" ng-messages="$ctrl.detailsForm.email.$error" ng-if="($ctrl.detailsForm.email | showErrors)">
              <div class="help-block" ng-message="required" translate>You must enter an email address</div>
              <div class="help-block" ng-message="email" translate>This email address is not valid</div>
              <div class="help-block" ng-message="maxlength" translate>This field cannot be longer than 100 characters</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb_x">
      <div class="panel panel-default" ng-if="$ctrl.donorDetails['donor-type'] === 'individual'">
        <div class="panel-title  panel-heading visible" ng-click="showSpouseDetails = !showSpouseDetails" translate>
          Spouse Name (Optional)
        </div>
        <div class="panel-collapse collapse in" ng-if="showSpouseDetails">
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label translate>Title</label>
                  <div class="form-group">
                    <select class="form-control  form-control-subtle" ng-model="$ctrl.donorDetails['spouse-name']['title']">
                      <option></option>
                      <option value="Mr." translate>Mr.</option>
                      <option value="Mrs." translate>Mrs.</option>
                      <option value="Ms." translate>Ms.</option>
                      <option value="Dr." translate>Dr.</option>
                      <option value="Pastor" translate>Pastor</option>
                      <option value="Rev." translate>Rev.</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error': ($ctrl.detailsForm.spouseGivenName | showErrors)}">
                  <label translate>First Name</label>
                  <input type="text" class="form-control  form-control-subtle" name="spouseGivenName" ng-model="$ctrl.donorDetails['spouse-name']['given-name']" ng-maxlength="50">
                  <div role="alert" ng-messages="$ctrl.detailsForm.spouseGivenName.$error" ng-if="($ctrl.detailsForm.spouseGivenName | showErrors)">
                    <div class="help-block" ng-message="maxlength" translate>This field cannot be longer than 50 characters</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group" ng-class="{'has-error': ($ctrl.detailsForm.spouseMiddleInitial | showErrors)}">
                  <label translate>MI</label>
                  <input type="text" class="form-control  form-control-subtle" name="spouseMiddleInitial" ng-model="$ctrl.donorDetails['spouse-name']['middle-initial']" ng-maxlength="50">
                  <div role="alert" ng-messages="$ctrl.detailsForm.spouseMiddleInitial.$error" ng-if="($ctrl.detailsForm.spouseMiddleInitial | showErrors)">
                    <div class="help-block" ng-message="maxlength" translate>This field cannot be longer than 50 characters</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group" ng-class="{'has-error': ($ctrl.detailsForm.spouseFamilyName | showErrors)}">
                  <label translate>Last Name</label>
                  <input type="text" class="form-control  form-control-subtle" name="spouseFamilyName" ng-model="$ctrl.donorDetails['spouse-name']['family-name']" ng-maxlength="50">
                  <div role="alert" ng-messages="$ctrl.detailsForm.spouseFamilyName.$error" ng-if="($ctrl.detailsForm.spouseFamilyName | showErrors)">
                    <div class="help-block" ng-message="maxlength" translate>This field cannot be longer than 50 characters</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label translate>Suffix</label>
                  <div class="form-group">
                    <select class="form-control  form-control-subtle" ng-model="$ctrl.donorDetails['spouse-name']['suffix']">
                      <option></option>
                      <option translate>Jr.</option>
                      <option translate>Sr.</option>
                      <option translate>II</option>
                      <option translate>III</option>
                      <option translate>IV</option>
                    </select>
                  </div>
                </div>
              </div>


            </div>
          </div><!-- // panel-body -->
        </div>
      </div>

      <div class="mb">
        <h4 class="panel-title  border-bottom-small  visible" translate>Mailing Address</h4>
        <div class="row" ng-if="$ctrl.donorDetails['donor-type'] === 'organization'">
          <div class="col-sm-12">
            <div class="form-group is-required" ng-class="{'has-error': ($ctrl.detailsForm.orgName | showErrors)}">
              <label translate>Organization Name</label>
              <input type="text" class="form-control  form-control-subtle" name="orgName" ng-model="$ctrl.donorDetails['organization-name']" required>
              <div role="alert" ng-messages="$ctrl.detailsForm.orgName.$error" ng-if="($ctrl.detailsForm.orgName | showErrors)">
                <div class="help-block" ng-message="required" translate>You must enter an organization name</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group is-required" ng-class="{'has-error': ($ctrl.detailsForm.addressCountry | showErrors)}">
              <label translate>Country</label>
              <div class="form-group">
                <select class="form-control  form-control-subtle"
                        name="addressCountry" required
                        ng-model="$ctrl.donorDetails['mailing-address']['country-name']"
                        ng-options="v.name as v['display-name'] for v in $ctrl.countries | orderBy:'\'display-name\''"
                        ng-change="$ctrl.refreshRegions($ctrl.donorDetails['mailing-address']['country-name'])"
                        ng-init="$ctrl.refreshRegions($ctrl.donorDetails['mailing-address']['country-name'])">
                </select>
                <div role="alert" ng-messages="$ctrl.detailsForm.addressCountry.$error" ng-if="($ctrl.detailsForm.addressCountry | showErrors)">
                  <div class="help-block" ng-message="required" translate>You must select a country</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group is-required" ng-class="{'has-error': ($ctrl.detailsForm.addressStreetAddress | showErrors)}">
              <label translate>Address</label>
              <input type="text" class="form-control  form-control-subtle" name="addressStreetAddress" ng-model="$ctrl.donorDetails['mailing-address']['street-address']" required ng-maxlength="200">
              <div role="alert" ng-messages="$ctrl.detailsForm.addressStreetAddress.$error" ng-if="($ctrl.detailsForm.addressStreetAddress | showErrors)">
                <div class="help-block" ng-message="required" translate>You must enter an address</div>
                <div class="help-block" ng-message="maxlength" translate>This field cannot be longer than 200 characters</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group" ng-class="{'has-error': ($ctrl.detailsForm.addressExtendedAddress | showErrors)}">
              <input type="text" class="form-control  form-control-subtle" name="addressExtendedAddress" ng-model="$ctrl.donorDetails['mailing-address']['extended-address']" ng-maxlength="100">
              <div role="alert" ng-messages="$ctrl.detailsForm.addressExtendedAddress.$error" ng-if="($ctrl.detailsForm.addressExtendedAddress | showErrors)">
                <div class="help-block" ng-message="maxlength" translate>This field cannot be longer than 100 characters</div>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="$ctrl.donorDetails['mailing-address']['country-name'] !== 'US'">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" ng-class="{'has-error': ($ctrl.detailsForm.intAddressLine3 | showErrors)}">
                <input type="text" class="form-control  form-control-subtle" name="intAddressLine3" ng-model="$ctrl.donorDetails['mailing-address']['intAddressLine3']" ng-maxlength="100">
                <div role="alert" ng-messages="$ctrl.detailsForm.intAddressLine3.$error" ng-if="($ctrl.detailsForm.intAddressLine3 | showErrors)">
                  <div class="help-block" ng-message="maxlength" translate>This field cannot be longer than 100 characters</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" ng-class="{'has-error': ($ctrl.detailsForm.intAddressLine4 | showErrors)}">
                <input type="text" class="form-control  form-control-subtle" name="intAddressLine4" ng-model="$ctrl.donorDetails['mailing-address']['intAddressLine4']" ng-maxlength="100">
                <div role="alert" ng-messages="$ctrl.detailsForm.intAddressLine4.$error" ng-if="($ctrl.detailsForm.intAddressLine4 | showErrors)">
                  <div class="help-block" ng-message="maxlength" translate>This field cannot be longer than 100 characters</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="$ctrl.donorDetails['mailing-address']['country-name'] === 'US'">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group is-required" ng-class="{'has-error': ($ctrl.detailsForm.addressLocality | showErrors)}">
                <label translate>City</label>
                <input type="text" class="form-control  form-control-subtle" name="addressLocality" ng-model="$ctrl.donorDetails['mailing-address']['locality']" required ng-maxlength="50">
                <div role="alert" ng-messages="$ctrl.detailsForm.addressLocality.$error" ng-if="($ctrl.detailsForm.addressLocality | showErrors)">
                  <div class="help-block" ng-message="required" translate>You must enter a city</div>
                  <div class="help-block" ng-message="maxlength" translate>This field cannot be longer than 50 characters</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group is-required" ng-class="{'has-error': ($ctrl.detailsForm.addressRegion | showErrors)}">
                <label translate>State / Region</label>
                <div class="form-group">
                  <select class="form-control  form-control-subtle"
                          name="addressRegion" required
                          ng-model="$ctrl.donorDetails['mailing-address']['region']"
                          ng-options="v.name as v['display-name'] for v in $ctrl.regions | orderBy:'\'display-name\''">
                  </select>
                  <div role="alert" ng-messages="$ctrl.detailsForm.addressRegion.$error" ng-if="($ctrl.detailsForm.addressRegion | showErrors)">
                    <div class="help-block" ng-message="required" translate>You must select a state / region</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group is-required" ng-class="{'has-error': ($ctrl.detailsForm.addressPostalCode | showErrors)}">
                <label translate>Zip / Postal Code</label>
                <input type="text" class="form-control  form-control-subtle" name="addressPostalCode" ng-model="$ctrl.donorDetails['mailing-address']['postal-code']" required ng-maxlength="20">
                <div role="alert" ng-messages="$ctrl.detailsForm.addressPostalCode.$error" ng-if="($ctrl.detailsForm.addressPostalCode | showErrors)">
                  <div class="help-block" ng-message="required" translate>You must enter a zip / postal code</div>
                  <div class="help-block" ng-message="maxlength" translate>This field cannot be longer than 20 characters</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="closer">
        <div class="row">
          <div class="col-sm-5 hidden-xs">
            <a href="cart.html" class="btn btn-default" translate>Return to Cart</a>
          </div>
          <div class="col-sm-5 col-sm-offset-2">
            <button type="submit" class="btn btn-primary pull-right btn-block-mobile" translate>Continue to Payment Methods</button>
            <a href="" class="btn btn-link btn-block visible-xs"><i class="fa fa-angle-left"></i> <translate>Return Cart</translate></a>
          </div>
        </div>
      </div>

    </div> <!-- // mb -->
  </form>
</div>
