<div ng-class="{
        'loading-centered': $ctrl.type === 'centered' || $ctrl.type === 'overlay',
        'loading-overlay': $ctrl.type === 'overlay',
        'icon-first': $ctrl.iconFirst
      }">
  <div>
    <span ng-class="$ctrl.inline ? 'mr-' : 'center-block'">
      <ng-transclude></ng-transclude>
    </span>
    <span class="loading-wrap">
      <span class="loading-bar loading1"></span>
      <span class="loading-bar loading2"></span>
      <span class="loading-bar loading3"></span>
      <span class="loading-bar loading4"></span>
    </span>
  </div>
</div>
