<div ng-class="{
        'loading-centered': $ctrl.type === 'centered' || $ctrl.type === 'overlay',
        'loading-overlay': $ctrl.type === 'overlay',
        'icon-first': $ctrl.iconFirst === 'true',
      }">
  <div>
    <span ng-class="{ 'mr-' : $ctrl.inline === 'true', 'center-block' : $ctrl.inline !== 'true'  }">
      <ng-transclude></ng-transclude>
    </span>
    <span class="loading-wrap">
      <span class="loading-bar loading1"></span>
      <span class="loading-bar loading2"></span>
      <span class="loading-bar loading3"></span>
      <span class="loading-bar loading4"></span>
    </span>
  </div>
</div>
