<div class="alert alert-danger" role="alert" ng-if="$ctrl.submissionError" ng-switch="$ctrl.submissionError">
  <p ng-switch-when="Invalid title." translate>
    There was an error saving the title you have chosen.
  </p>
  <p ng-switch-when="Invalid email address" translate>
    There was an error saving your email address. Make sure it was entered correctly.
  </p>
  <p ng-switch-when="Invalid phone number" translate>
    There was an error saving your phone number. Make sure it was entered correctly.
  </p>
  <p ng-switch-when="Organization Name cannot be longer than 100." translate>
    There was an error saving your organization name. Make sure it is not longer than 100 characters.
  </p>
  <p ng-switch-when="In order to add the spouse , [family-name] and [given-name] are required" translate>
    There was an error saving your contact info. Make sure your spouse's first and last name are correct.
  </p>
  <p ng-switch-when="Access to the specified resource is forbidden." translate>
    There was an error saving your contact info. Your session may have expired. If you continue to experience issues, try signing out and back in.
  </p>
  <p ng-switch-default translate>
    There was an error saving your contact info. Please try again or contact support.
  </p>
</div>

<div ng-if="$ctrl.donorDetails" class="loading-overlay-parent">
  <loading type="overlay" ng-if="$ctrl.loadingDonorDetails">
    <translate>Checking for existing information...</translate>
  </loading>

  <div class="alert alert-danger" role="alert" ng-if="$ctrl.loadingDonorDetailsError">
    <p translate>There was an error loading your profile. You can use the retry button to try loading them again. If you continue to see this message, please contact support.</p>
    <p><button id="retryButton1" type="button" class="btn btn-primary" ng-click="$ctrl.loadDonorDetails()" translate>Retry</button></p>
  </div>

  <div class="mb_x" ng-if="!$ctrl.nameFieldsDisabled">
    <div class="row">
      <div class="col-md-6">
        <a id="householdTypeLink" href="" class="tab-btn btn btn-default btn-block" ng-click="$ctrl.donorDetails['donor-type'] = 'Household'" ng-class="{'on': $ctrl.donorDetails['donor-type'] === 'Household'}" translate>Give as an Individual</a>
      </div>
      <div class="col-md-6">
        <a id="organizationTypeLink" href="" class="tab-btn btn btn-default btn-block" ng-click="$ctrl.donorDetails['donor-type'] = 'Organization'" ng-class="{'on': $ctrl.donorDetails['donor-type'] === 'Organization'}" translate>Give as an Organization</a>
      </div>
    </div>
  </div>

  <form novalidate ng-keyup="$event.key === 'Enter' && $ctrl.submitDetails()" name="$ctrl.detailsForm">
    <div class="mb">
      <h4 class="panel-title  border-bottom-small  visible" translate>Your Information</h4>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group is-required" ng-class="{'has-error': ($ctrl.detailsForm.nameGivenName | showErrors)}">
            <label translate>First Name</label>
            <input type="text"
                   class="form-control  form-control-subtle"
                   name="nameGivenName"
                   ng-model="$ctrl.donorDetails['name']['given-name']"
                   required
                   ng-maxlength="50"
                   ng-disabled="$ctrl.nameFieldsDisabled">
            <div role="alert" ng-messages="$ctrl.detailsForm.nameGivenName.$error" ng-if="($ctrl.detailsForm.nameGivenName | showErrors)">
              <div class="help-block" ng-message="required" translate>You must enter a first name</div>
              <div class="help-block" ng-message="maxlength" translate>This field cannot be longer than 50 characters</div>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group" ng-class="{'has-error': ($ctrl.detailsForm.nameMiddleInitial | showErrors)}">
            <label translate>MI</label>
            <input type="text"
                   class="form-control  form-control-subtle"
                   name="nameMiddleInitial"
                   ng-model="$ctrl.donorDetails['name']['middle-initial']"
                   ng-maxlength="15"
                   ng-disabled="$ctrl.nameFieldsDisabled">
            <div role="alert" ng-messages="$ctrl.detailsForm.nameMiddleInitial.$error" ng-if="($ctrl.detailsForm.nameMiddleInitial | showErrors)">
              <div class="help-block" ng-message="maxlength" translate>This field cannot be longer than 15 characters</div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group is-required" ng-class="{'has-error': ($ctrl.detailsForm.nameFamilyName | showErrors)}">
            <label translate>Last Name</label>
            <input type="text"
                   class="form-control  form-control-subtle"
                   name="nameFamilyName"
                   ng-model="$ctrl.donorDetails['name']['family-name']"
                   required
                   ng-maxlength="50"
                   ng-disabled="$ctrl.nameFieldsDisabled">
            <div role="alert" ng-messages="$ctrl.detailsForm.nameFamilyName.$error" ng-if="($ctrl.detailsForm.nameFamilyName | showErrors)">
              <div class="help-block" ng-message="required" translate>You must enter a last name</div>
              <div class="help-block" ng-message="maxlength" translate>This field cannot be longer than 50 characters</div>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label translate>Suffix</label>
            <div class="form-group">
              <select name="nameSuffix" class="form-control form-control-subtle" ng-model="$ctrl.donorDetails['name']['suffix']" ng-disabled="$ctrl.nameFieldsDisabled">
                <option value=""></option>
                <option value="Jr." translate>Jr</option>
                <option value="Sr." translate>Sr</option>
                <option value="II" translate>II</option>
                <option value="III" translate>III</option>
                <option value="IV" translate>IV</option>
              </select>
            </div>
          </div>
        </div>

      </div>

      <div class="row" ng-if="$ctrl.donorDetails['donor-type'] === 'Household'">
        <div class="col-sm-4">
          <div class="form-group" ng-class="{'has-error': ($ctrl.detailsForm.spouseGivenName | showErrors)}">
            <label translate>Spouse First Name</label>
            <input type="text"
                   class="form-control  form-control-subtle"
                   name="spouseGivenName"
                   ng-model="$ctrl.donorDetails['spouse-name']['given-name']"
                   ng-maxlength="50"
                   placeholder="{{ $ctrl.donorDetails['spouse-name']['family-name'] ? '' : 'Optional' | translate}}"
                   ng-disabled="$ctrl.spouseFieldsDisabled">
            <div role="alert" ng-messages="$ctrl.detailsForm.spouseGivenName.$error" ng-if="($ctrl.detailsForm.spouseGivenName | showErrors)">
              <div class="help-block" ng-message="maxlength" translate>This field cannot be longer than 50 characters</div>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group" ng-class="{'has-error': ($ctrl.detailsForm.spouseMiddleInitial | showErrors)}">
            <label translate>MI</label>
            <input type="text"
                   class="form-control  form-control-subtle"
                   name="spouseMiddleInitial"
                   ng-model="$ctrl.donorDetails['spouse-name']['middle-initial']"
                   ng-maxlength="15"
                   ng-disabled="$ctrl.spouseFieldsDisabled">
            <div role="alert" ng-messages="$ctrl.detailsForm.spouseMiddleInitial.$error" ng-if="($ctrl.detailsForm.spouseMiddleInitial | showErrors)">
              <div class="help-block" ng-message="maxlength" translate>This field cannot be longer than 15 characters</div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group" ng-class="{'has-error': ($ctrl.detailsForm.spouseFamilyName | showErrors)}">
            <label translate>Spouse Last Name</label>
            <input type="text"
                   class="form-control  form-control-subtle"
                   name="spouseFamilyName"
                   ng-model="$ctrl.donorDetails['spouse-name']['family-name']"
                   ng-maxlength="50"
                   placeholder="{{ $ctrl.donorDetails['spouse-name']['given-name'] ? '' : 'Optional' | translate}}"
                   ng-disabled="$ctrl.spouseFieldsDisabled">
            <div role="alert" ng-messages="$ctrl.detailsForm.spouseFamilyName.$error" ng-if="($ctrl.detailsForm.spouseFamilyName | showErrors)">
              <div class="help-block" ng-message="maxlength" translate>This field cannot be longer than 50 characters</div>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label translate>Suffix</label>
            <div class="form-group">
              <select name="spouseSuffix"
                      class="form-control  form-control-subtle"
                      ng-model="$ctrl.donorDetails['spouse-name']['suffix']"
                      ng-disabled="$ctrl.spouseFieldsDisabled">
                <option value=""></option>
                <option value="Jr." translate>Jr</option>
                <option value="Sr." translate>Sr</option>
                <option value="II" translate>II</option>
                <option value="III" translate>III</option>
                <option value="IV" translate>IV</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-if="$ctrl.donorDetails['donor-type'] === 'Organization'">
        <div class="col-sm-12">
          <div class="form-group is-required" ng-class="{'has-error': ($ctrl.detailsForm.orgName | showErrors)}">
            <label translate>Organization Name</label>
            <input type="text" class="form-control form-control-subtle" name="orgName" ng-model="$ctrl.donorDetails['organization-name']" ng-maxlength="100" ng-disabled="$ctrl.nameFieldsDisabled" required>
            <div role="alert" ng-messages="$ctrl.detailsForm.orgName.$error" ng-if="($ctrl.detailsForm.orgName | showErrors)">
              <div class="help-block" ng-message="required" translate>You must enter an organization name</div>
              <div class="help-block" ng-message="maxlength" translate>Organization name cannot be longer that 100 characters</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb">
      <h4 class="panel-title  border-bottom-small  visible" translate>Mailing Address</h4>

      <address-form address="$ctrl.donorDetails.mailingAddress" parent-form="$ctrl.detailsForm"></address-form>
    </div>

    <div class="mb">
      <h4 class="panel-title  border-bottom-small  visible" translate>Contact Information</h4>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group" ng-class="{'has-error': ($ctrl.detailsForm.phoneNumber | showErrors)}">
            <label translate>Phone</label>
            <input type="text" class="form-control  form-control-subtle" name="phoneNumber" ng-model="$ctrl.donorDetails['phone-number']" ng-disabled="$ctrl.donorDetails['phone-number'] && $ctrl.donorDetails.staff">
            <div role="alert" ng-messages="$ctrl.detailsForm.phoneNumber.$error" ng-if="($ctrl.detailsForm.phoneNumber | showErrors)">
              <div class="help-block" ng-message="phone" translate>The phone number entered is invalid</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group is-required" ng-class="{'has-error': ($ctrl.detailsForm.email | showErrors)}">
            <label translate>Email Address</label>
            <input type="email" class="form-control  form-control-subtle" name="email" ng-model="$ctrl.donorDetails['email']" required ng-maxlength="100" ng-disabled="$ctrl.donorDetails.staff">
            <div role="alert" ng-messages="$ctrl.detailsForm.email.$error" ng-if="($ctrl.detailsForm.email | showErrors)">
              <div class="help-block" ng-message="required" translate>You must enter an email address</div>
              <div class="help-block" ng-message="email" translate>This email address is not valid</div>
              <div class="help-block" ng-message="maxlength" translate>This field cannot be longer than 100 characters</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
